Repository Kernel360/F2-BAGUNI, pull requests merged in 2024-12, with the labels that each got.

#641 [FIX] 폴더 공유 API 타입 변경에 따른 타입 변경
  frontend/schema/schema.d.ts
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/types/sharedFolder.type.ts
Labels: frontend, fix :fire:

#642 [FEAT] Sentry 연결
  .github/workflows/test-client-deploy.yml
  frontend/.yarnrc.yml
  frontend/Dockerfile
  frontend/techpick/.gitignore
  frontend/techpick/next.config.js
  frontend/techpick/package.json
  frontend/techpick/sentry.client.config.ts
  frontend/techpick/sentry.edge.config.ts
  frontend/techpick/sentry.server.config.ts
  frontend/techpick/src/apis/apiClient.ts
  frontend/techpick/src/app/(signed)/folders/recycle-bin/page.tsx
  frontend/techpick/src/app/(signed)/folders/unclassified/page.tsx
  frontend/techpick/src/app/api/sentry-example-api/route.ts
  frontend/techpick/src/components/CreatePickForm/TagAutocompleteDialog.tsx
  frontend/techpick/src/components/CreatePickForm/TagInfoEditPopoverButton.tsx
  frontend/techpick/src/components/EmptyPickRecordImage.tsx
  frontend/techpick/src/components/FolderContentHeader/Breadcrumb.tsx
  frontend/techpick/src/components/FolderTree/FolderDraggable.tsx
  frontend/techpick/src/components/FolderTree/FolderInput.tsx
  frontend/techpick/src/components/FolderTree/PickToFolderDropZone.tsx
  frontend/techpick/src/components/FolderTree/ShareFolderDialog.tsx
  frontend/techpick/src/components/FolderTree/ShowCreateFolderInputButton.tsx
  frontend/techpick/src/components/FolderTree/TreeNode.tsx
  frontend/techpick/src/components/PickContextMenu.tsx
  frontend/techpick/src/components/PickRecord/PickDraggableRecord.tsx
  frontend/techpick/src/components/PickRecord/PickRecordTitleInput.tsx
  frontend/techpick/src/components/SelectedTagItem/SelectedTagItem.tsx
  frontend/techpick/src/instrumentation.ts
  frontend/techpick/src/utils/getClientCookie.ts
  frontend/techpick/src/utils/getElementById.ts
  frontend/techpick/src/utils/handleShareFolderLinkCopy.ts
  frontend/techpick/src/utils/portal.ts
  frontend/yarn.lock
Labels: feat, frontend

#649 [FEAT] 조회수 기반 랭킹 모듈 구현
  backend/build.gradle
  backend/techpick-api/src/main/java/techpick/TechPickApiApplication.java
  backend/techpick-api/src/main/resources/application.yaml
  backend/techpick-api/src/main/resources/logback-spring.xml
  backend/techpick-batch/src/main/java/techpick/TechPickBatchApplication.java
  backend/techpick-core/src/main/java/techpick/core/rabbitmq/EventMessageAspect.java
  backend/techpick-core/src/main/java/techpick/core/rabbitmq/RabbitmqConfig.java
  backend/techpick-core/src/main/resources/application-core.yaml
  backend/techpick-ranking/build.gradle
  backend/techpick-ranking/src/main/java/techpick/TechPickRankingApplication.java
  backend/techpick-ranking/src/main/java/techpick/ranking/LinkViewCount.java
  backend/techpick-ranking/src/main/java/techpick/ranking/LinkViewCountRepository.java
  backend/techpick-ranking/src/main/java/techpick/ranking/LinkViewRankingService.java
  backend/techpick-ranking/src/main/java/techpick/ranking/RankingController.java
  backend/techpick-ranking/src/main/java/techpick/ranking/application/ProducerController.java
  backend/techpick-ranking/src/main/java/techpick/ranking/config/RabbitmqConfig.java
  backend/techpick-ranking/src/main/java/techpick/ranking/domain/ProducerService.java
  backend/techpick-ranking/src/main/java/techpick/ranking/domain/messageComponent.java
  backend/techpick-ranking/src/main/java/techpick/ranking/dto/MessageDto.java
  backend/techpick-ranking/src/main/java/techpick/ranking/entity/Message.java
  backend/techpick-ranking/src/main/java/techpick/ranking/entity/PickPick.java
  backend/techpick-ranking/src/main/java/techpick/ranking/repository/MessageRepository.java
  backend/techpick-ranking/src/main/java/techpick/ranking/repository/PickPickRepository.java
  backend/techpick-ranking/src/main/java/techpick/ranking/test/EmitLog.java
  backend/techpick-ranking/src/main/java/techpick/ranking/test/NewTask.java
  backend/techpick-ranking/src/main/java/techpick/ranking/test/ReceiveLogs.java
  backend/techpick-ranking/src/main/java/techpick/ranking/test/Recv.java
  backend/techpick-ranking/src/main/java/techpick/ranking/test/Send.java
  backend/techpick-ranking/src/main/java/techpick/ranking/test/Worker.java
  backend/techpick-ranking/src/main/resources/application.yaml
  backend/techpick-ranking/src/main/resources/logback-spring.xml
Labels: backend

#650 [DESIGN] 앱의 전체적인 크기 줄이기
  frontend/techpick/src/app/(signed)/layout.css.ts
  frontend/techpick/src/app/(signed)/layout.tsx
  frontend/techpick/src/components/DragOverlay/folderItemOverlay.css.ts
  frontend/techpick/src/components/FolderContentHeader/CurrentFolderNameSection.tsx
  frontend/techpick/src/components/FolderContentHeader/FolderContentHeader.tsx
  frontend/techpick/src/components/FolderContentHeader/currentFolderNameSection.css.ts
  frontend/techpick/src/components/FolderContentHeader/currentPathIndicator.css.ts
  frontend/techpick/src/components/FolderTree/FolderContextMenu.tsx
  frontend/techpick/src/components/FolderTree/FolderInput.tsx
  frontend/techpick/src/components/FolderTree/FolderTreeHeader.tsx
  frontend/techpick/src/components/FolderTree/HorizontalResizableContainer.tsx
  frontend/techpick/src/components/FolderTree/ShareFolderDialog.tsx
  frontend/techpick/src/components/FolderTree/ShowCreateFolderInputButton.tsx
  frontend/techpick/src/components/FolderTree/UserMenuBar.tsx
  frontend/techpick/src/components/FolderTree/folderContextMenu.css.ts
  frontend/techpick/src/components/FolderTree/folderInput.css.ts
  frontend/techpick/src/components/FolderTree/folderLinkItem.css.ts
  frontend/techpick/src/components/FolderTree/folderTreeHeader.css.ts
  frontend/techpick/src/components/FolderTree/shareFolderDialog.css.ts
  frontend/techpick/src/components/FolderTree/tree.css.ts
  frontend/techpick/src/components/PickRecord/PickContextMenu.tsx
  frontend/techpick/src/components/PickRecord/PickDraggableRecord.tsx
  frontend/techpick/src/components/PickRecord/pickContextMenu.css.ts
  frontend/techpick/src/components/PickRecord/pickRecord.css.ts
  frontend/techpick/src/components/PickRecord/pickRecordTitleInput.css.ts
  frontend/techpick/src/components/PickTagPicker/DeleteTagDialog.css.ts
  frontend/techpick/src/components/PickTagPicker/DeleteTagDialog.tsx
  frontend/techpick/src/components/PickTagPicker/ShowDeleteTagDialogButton.tsx
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.css.ts
  frontend/techpick/src/components/PickTagPicker/showDeleteTagDialogButton.css.ts
Labels: design :art:, frontend

#653 [FEAT] 링크 클릭 시에 이벤트 수집 추가
  frontend/schema/schema.d.ts
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/eventLog/index.ts
  frontend/techpick/src/apis/eventLog/postClickedLinkUrl.ts
  frontend/techpick/src/components/PickRecord/PickRecord.tsx
  frontend/techpick/src/hooks/useOpenUrlInNewTab.ts
  frontend/techpick/src/types/PostClickedLinkUrlResponseType.ts
  frontend/techpick/src/types/index.ts
Labels: feat, frontend

#662 [FEAT] 수요일 배포 전 PR
  frontend/techpick/src/apis/apiClient.ts
  frontend/techpick/src/apis/error.ts
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/FolderTree/FolderTreeHeader.tsx
  frontend/techpick/src/constants/errorMessageJson.ts
  frontend/techpick/src/constants/index.ts
Labels: feat, frontend

#663 [PERF] 공유 폴더 api 조회 쿼리 개선
  backend/project-setup/README.md
  backend/project-setup/how-to-run-test.png
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/controller/SharedFolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/service/SharedFolderService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/test/resources/application.yaml
  backend/techpick-core/src/main/java/techpick/core/model/pick/Pick.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickRepository.java
Labels: perf :zap:, backend, 기한 13:00 :dart:

#654 [REFACTOR] 폴더 제목 최대 길이 제한
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiRequest.java
  backend/techpick-api/src/main/resources/messages.properties
Labels: backend, D-1, refactor :construction:

#665 [REFACTOR] 네임드 락을 이용해 분산 락 구현, 픽 수정 시 트랜잭션 추가
  backend/techpick-api/src/main/java/techpick/api/annotation/LoginUserIdDistributedLock.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/lock/LockProvider.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/lock/MysqlLockProvider.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/lock/util/LockException.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/lock/util/LoginUserIdDistributedLockAspect.java
  backend/techpick-api/src/test/java/techpick/api/domain/folder/service/FolderServiceTest.java
  backend/techpick-api/src/test/java/techpick/api/domain/folder/service/FolderServiceUnitTest.java
  backend/techpick-api/src/test/java/techpick/api/domain/tag/service/TagServiceTest.java
  backend/techpick-core/src/main/java/techpick/core/annotation/TechpickAnnotation.java
  backend/techpick-core/src/main/java/techpick/core/config/RabbitmqConfig.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiExceptionHandler.java
  backend/techpick-core/src/main/java/techpick/core/rabbitmq/EventSender.java
  backend/techpick-ranking/src/main/java/techpick/ranking/LinkViewRankingService.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#672 [REFACTOR] PickTag 낙관적 락 제거 및 unique index 설정
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/Pick.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickTag.java
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#674 [FEAT] 공개 폴더 페이지 및 설정 컴포넌트
  frontend/techpick/public/favicon.ico
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/folder/deleteShareFolder.ts
  frontend/techpick/src/apis/folder/getShareFolderById.ts
  frontend/techpick/src/app/(signed)/mypage/page.css.ts
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/components/FolderTree/FolderContextMenu.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/FolderTree/MoveFolderToRecycleBinDialog.tsx
  frontend/techpick/src/components/FolderTree/ShareFolderDialog.tsx
  frontend/techpick/src/components/FolderTree/moveFolderToRecycleBinDialog.css.ts
  frontend/techpick/src/components/MyPage/MyPageContentContainer.tsx
  frontend/techpick/src/components/MyPage/MyPageShareFolderContent.tsx
  frontend/techpick/src/components/MyPage/MyPageShareFolderField.tsx
  frontend/techpick/src/components/MyPage/MyPageShareFolderHeader.tsx
  frontend/techpick/src/components/MyPage/myPageContentContainer.css.ts
  frontend/techpick/src/components/MyPage/myPageShareFolderField.css.ts
  frontend/techpick/src/components/MyPage/myPageShareFolderHeader.css.ts
  frontend/techpick/src/components/PickRecord/SharePickRecord.tsx
  frontend/techpick/src/hooks/useFetchShareFolderById.ts
  frontend/techpick/src/hooks/useHandleRequestShareFolder.ts
  frontend/techpick/src/hooks/useMyShareFolder.ts
  frontend/techpick/src/hooks/useShareDialogOpen.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/types/sharedFolder.type.ts
Labels: feat, frontend

#680 [REFACTOR] p6spy 로그 설정 수정
  backend/techpick-core/src/main/java/techpick/core/config/P6SpySqlLoggerConfig.java
  backend/techpick-core/src/main/resources/application-core.yaml
  backend/techpick-core/src/main/resources/spy.properties
  backend/techpick-ranking/src/main/resources/logback-spring.xml
Labels: backend, refactor :construction:

#682 [REFACTOR] 픽 검색 API 스웨거에 타입 명시적으로 변경
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiMapper.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#686 [FEAT] 로깅시 요청마다 UUID 부여
  backend/techpick-api/src/main/java/techpick/security/filter/RequestLoggingFilter.java
  backend/techpick-api/src/main/resources/logback-spring.xml
Labels: feat, backend

#691 [REFACTOR] Swagger Security Scheme 추가
  backend/techpick-api/src/main/java/techpick/api/config/SwaggerConfig.java
Labels: backend, refactor :construction:

#696 [FEAT] 랭킹 서버 - API 서버간 통신 추가
  backend/techpick-api/src/main/java/techpick/api/application/event/controller/EventController.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/controller/RankingApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/dto/RankingByViewCount.java
  backend/techpick-api/src/main/java/techpick/api/config/HttpApiConfiguration.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/ranking/RankingRepository.java
  backend/techpick-core/src/main/java/techpick/core/dto/LinkInfoWithViewCount.java
  backend/techpick-core/src/main/resources/application-core.yaml
  backend/techpick-ranking/src/main/java/techpick/ranking/application/RankingController.java
  backend/techpick-ranking/src/main/java/techpick/ranking/domain/pick/PickRankingService.java
  backend/techpick-ranking/src/main/resources/application.yaml
Labels: backend

#687 [REFACTOR] 분산 락이 되지 않는 문제 해결 및 서비스에 분산 락 추가
  backend/techpick-api/src/main/java/techpick/api/annotation/LoginUserIdDistributedLock.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/domain/tag/service/TagService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/lock/util/LoginUserIdDistributedLockAspect.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
Labels: backend, D-1, refactor :construction:

#699 [REFACTOR] Pick 존재 여부 확인 API + OpenGraph 획득 방식 리팩토링
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/controller/RankingApiController.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/service/LinkService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/lib/opengraph/Metadata.java
  backend/techpick-api/src/main/java/techpick/api/lib/opengraph/OpenGraph.java
  backend/techpick-api/src/main/java/techpick/api/lib/opengraph/OpenGraphException.java
  backend/techpick-api/src/main/java/techpick/api/lib/opengraph/OpenGraphOption.java
  backend/techpick-api/src/main/java/techpick/api/lib/opengraph/OpenGraphReader.java
Labels: backend

#701 [FEAT] 회원 가입시 랭킹 Top10으로 초기 폴더 세팅
  backend/techpick-api/build.gradle
  backend/techpick-api/src/main/java/techpick/api/application/event/controller/EventController.java
  backend/techpick-api/src/main/java/techpick/api/application/link/controller/LinkApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/link/dto/LinkApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/controller/RankingApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/dto/RankingByViewCount.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/dto/LinkMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/service/LinkService.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/InitialFolderStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/RankingBasedStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/UserService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/ranking/RankingRepository.java
  backend/techpick-api/src/main/java/techpick/security/service/CustomOAuth2Service.java
  backend/techpick-core/build.gradle
  backend/techpick-core/src/main/java/techpick/core/dto/UrlWithCount.java
  backend/techpick-core/src/main/java/techpick/core/lib/opengraph/Metadata.java
  backend/techpick-core/src/main/java/techpick/core/lib/opengraph/OpenGraph.java
  backend/techpick-core/src/main/java/techpick/core/lib/opengraph/OpenGraphException.java
  backend/techpick-core/src/main/java/techpick/core/lib/opengraph/OpenGraphOption.java
  backend/techpick-core/src/main/java/techpick/core/lib/opengraph/OpenGraphReader.java
  backend/techpick-ranking/src/main/java/techpick/ranking/application/RankingController.java
  backend/techpick-ranking/src/main/java/techpick/ranking/domain/pick/PickRankingService.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/PickViewCount.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/RabbitMqEventListener.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/PickCreateCount.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/PickCreateCountRepository.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/PickViewCount.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/PickViewCountRepository.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/UrlCount.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/sharedFolder/SharedFolderPickViewCount.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/sharedFolder/SharedFolderPickViewCountRepository.java
  backend/techpick-ranking/src/main/resources/application.yaml
Labels: backend

#705 [FIX] 랭킹 정보에 링크 OG 태그 정보 추가
  backend/techpick-api/src/main/java/techpick/api/application/ranking/controller/RankingApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/dto/LinkInfoWithViewCount.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/dto/RankingApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/dto/RankingByViewCount.java
  backend/techpick-api/src/main/java/techpick/api/config/HttpApiConfiguration.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/RankingBasedStrategy.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/ranking/RankingApi.java
Labels: backend

#712 [FEAT] 랭킹 정보를 픽 리스트에서 함께 표시
  backend/techpick-api/src/main/java/techpick/api/application/event/controller/EventApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/event/dto/EventApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/controller/RankingApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/dto/LinkInfoWithCount.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/dto/RankingApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/dto/RankingResponse.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/dto/LinkMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/domain/ranking/dto/RankingResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/ranking/service/RankingService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/link/LinkDataHandler.java
Labels: backend

#718 feat: 회원 가입시 최초 북마크 생성 로직
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickSearchService.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/InitialFolderStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/UserService.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/ContentInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/InitStrategyConfiguration.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/ManualInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/RankingInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/StarterFolderStrategy.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickQuery.java
Labels: backend

#719 [FEAT] 추천 페이지 구현
  frontend/schema/schema.d.ts
  frontend/techpick/next.config.js
  frontend/techpick/package.json
  frontend/techpick/public/image/default_image.svg
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/eventLog/index.ts
  frontend/techpick/src/apis/eventLog/postSharedPickViewEventLog.ts
  frontend/techpick/src/apis/eventLog/postUserPickViewEventLog.ts
  frontend/techpick/src/apis/getSuggestionRankingPicks.ts
  frontend/techpick/src/apis/tag/updateTag.ts
  frontend/techpick/src/app/(signed)/folders/home/page.tsx
  frontend/techpick/src/app/(signed)/recommend/RecommendLoadingPage.tsx
  frontend/techpick/src/app/(signed)/recommend/page.css.ts
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/app/api/sentry-example-api/route.ts
  frontend/techpick/src/app/global-error.tsx
  frontend/techpick/src/components/DndMonitorContext.tsx
  frontend/techpick/src/components/DragOverlay/DragOverlay.tsx
  frontend/techpick/src/components/FolderTree/FolderTreeHeader.tsx
  frontend/techpick/src/components/FolderTree/folderLinkItem.css.ts
  frontend/techpick/src/components/PickRecord/PickRecord.tsx
  frontend/techpick/src/components/PickRecord/SharePickRecord.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/PickCarouselCard.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/RecommendPickDraggable.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/RecommendedPickCarousel.css.ts
  frontend/techpick/src/components/RecommendedPickCarousel/RecommendedPickCarousel.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/pickCarouselCard.css.ts
  frontend/techpick/src/constants/route.ts
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useFetchPickRecordByFolderId.ts
  frontend/techpick/src/hooks/useRecommendPickToFolderDndMonitor.tsx
  frontend/techpick/src/middleware.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/index.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/stores/pickStore/pickStore.type.ts
  frontend/techpick/src/stores/recommendPickStore.ts
  frontend/techpick/src/stores/recommendPickStore.type.ts
  frontend/techpick/src/types/GetSuggestionRankingPicksResponseType.ts
  frontend/techpick/src/types/PostClickedLinkUrlResponseType.ts
  frontend/techpick/src/types/PostSharedPickViewEventLogRequestType.ts
  frontend/techpick/src/types/PostUserPickViewEventLogRequestType.ts
  frontend/techpick/src/types/RecommendPickCategoryType.ts
  frontend/techpick/src/types/RecommendPickType.ts
  frontend/techpick/src/types/index.ts
  frontend/techpick/src/utils/index.ts
  frontend/techpick/src/utils/isRecommendPickDraggableObject.ts
  frontend/yarn.lock
Labels: feat, frontend

#721 [CHORE] #719 코드리뷰 변경사항 적용
  frontend/techpick/src/app/(signed)/recommend/RecommendLoadingPage.tsx
  frontend/techpick/src/components/DragOverlay/DragOverlay.tsx
  frontend/techpick/src/hooks/useRecommendPickToFolderDndMonitor.tsx
  frontend/techpick/src/stores/draggingRecommendPickStore.ts
  frontend/techpick/src/stores/draggingRecommendPickStore.type.ts
  frontend/techpick/src/stores/index.ts
Labels: frontend, fix :fire:

#715 [BUG] 태그 최대 길이 제한
  backend/techpick-api/src/main/java/techpick/api/application/tag/controller/TagApiController.java
  backend/techpick-api/src/main/java/techpick/api/domain/tag/exception/ApiTagErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/tag/exception/ApiTagException.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#723 [FIX] 추천 시 비어있는 OG 태그 생략
  backend/techpick-api/src/main/java/techpick/api/application/event/controller/EventApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/event/dto/EventApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/controller/RankingApiController.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/InitStrategyConfiguration.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/ManualInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/RankingInitStrategy.java
  backend/techpick-core/src/main/java/techpick/core/event/events/SuggestionViewEvent.java
  backend/techpick-ranking/src/main/java/techpick/ranking/domain/pick/PickRankingService.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/RabbitMqEventListener.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/LinkPickedCount.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/LinkPickedCountRepository.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/LinkViewCount.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/pick/LinkViewCountRepository.java
  backend/techpick-ranking/src/main/java/techpick/ranking/infra/sharedFolder/SharedFolderPickViewCountRepository.java
Labels: backend

#725 [FIX] 회원 가입시 노션 순서 보장
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/ContentInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/InitStrategyConfiguration.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/ManualInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/RankingInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/StarterFolderStrategy.java
Labels: backend

#724 [FEAT] PICK 검색 다이얼로그
  frontend/techpick/package.json
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/pick/getPicks.ts
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/components/FolderContentHeader/CurrentPathIndicator.tsx
  frontend/techpick/src/components/FolderTree/UserMenuBar.tsx
  frontend/techpick/src/components/PickRecord/PickDraggableRecord.tsx
  frontend/techpick/src/components/PickRecord/pickDraggableRecord.css.ts
  frontend/techpick/src/components/Search2/FilterToggleContainer.tsx
  frontend/techpick/src/components/Search2/FliterOptions.tsx
  frontend/techpick/src/components/Search2/HoverCard.tsx
  frontend/techpick/src/components/Search2/SearchDialog.tsx
  frontend/techpick/src/components/Search2/SearchInfiniteScrollList.tsx
  frontend/techpick/src/components/Search2/SearchInput.tsx
  frontend/techpick/src/components/Search2/SearchItemRenderer.tsx
  frontend/techpick/src/components/Search2/customSelectStyles.ts
  frontend/techpick/src/components/Search2/hoverCard.css.ts
  frontend/techpick/src/components/Search2/searchDialog.css.ts
  frontend/techpick/src/components/Search2/searchInfiniteScrollList.css.ts
  frontend/techpick/src/components/Search2/searchItemRenderer.css.ts
  frontend/techpick/src/hooks/usePickToFolderDndMonitor.tsx
  frontend/techpick/src/hooks/useSearchElementId.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/stores/searchPickStore.ts
  frontend/techpick/src/types/index.ts
  frontend/techpick/src/types/search.ts
  frontend/techpick/src/utils/createSearchSelectOptions.ts
  frontend/techpick/src/utils/index.ts
  frontend/yarn.lock
Labels: feat, frontend

#727 [FIX] 공유 폴더 취소 시 동시성 문제 해결
  frontend/techpick/src/hooks/useMyShareFolder.ts
Labels: frontend, fix :fire:

#726 [REFACTOR] 락 설정 실패 시 예외 발생
  backend/techpick-api/src/main/java/techpick/api/infrastructure/lock/util/LoginUserIdDistributedLockAspect.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickServiceTest.java
Labels: bug :bug:, backend

#731 [FIX] 회원가입이 완료되지 않는 버그 수정
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/RankingInitStrategy.java
Labels: backend, fix :fire:

#733 [REFACTOR] 지난 한달간 픽 많이한 기준을 어제가 아닌 오늘로 변경
  backend/techpick-api/src/main/java/techpick/api/domain/ranking/service/RankingService.java
Labels: backend, refactor :construction:

#736 [REFACTOR] RestClient 타임아웃 설정
  backend/techpick-api/src/main/java/techpick/api/config/HttpApiConfiguration.java
Labels: backend, refactor :construction:

#739 [FIX] 검색 결과 포커스 해제
  frontend/techpick/src/components/PickRecord/PickDraggableRecord.tsx
  frontend/techpick/src/components/Search2/FilterOptions.tsx
  frontend/techpick/src/components/Search2/FilterToggleContainer.tsx
  frontend/techpick/src/components/Search2/HoverCard.tsx
  frontend/techpick/src/components/Search2/SearchDialog.tsx
  frontend/techpick/src/components/Search2/SearchInput.tsx
  frontend/techpick/src/components/Search2/filterOptions.css.ts
  frontend/techpick/src/components/Search2/hoverCard.css.ts
  frontend/techpick/src/components/Search2/searchDialog.css.ts
  frontend/techpick/src/hooks/useSearchElementId.ts
  frontend/techpick/src/utils/checkImageUrlByUrl.ts
Labels: design :art:, frontend, fix :fire:

#742 [FEAT] add session replay
  frontend/techpick/sentry.client.config.ts
  frontend/techpick/sentry.edge.config.ts
  frontend/techpick/sentry.server.config.ts
Labels: feat, frontend

#743 fix: 회원 가입 로직에서 Notion OG 획득 제거
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/UserService.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/ManualInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/RankingInitStrategy.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/strategy/StarterFolderStrategy.java
Labels: backend

#751 [bug] 태그 배열 할당 버그
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/service/SharedFolderService.java
Labels: backend

#761 style: 사이드바 색상 변경
  frontend/techpick/src/components/FolderTree/folderLinkItem.css.ts
  frontend/techpick/src/components/FolderTree/folderTreeHeader.css.ts
  frontend/techpick/src/components/FolderTree/tree.css.ts
Labels: design :art:, frontend

#750 [FEAT] Caffein Cache 구현 및 랭킹 로직에 캐싱 처리
  backend/build.gradle
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/ranking/controller/RankingApiController.java
  backend/techpick-api/src/main/java/techpick/api/config/HttpApiConfiguration.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickBulkService.java
  backend/techpick-core/src/main/java/techpick/core/config/CacheConfig.java
  backend/techpick-core/src/main/java/techpick/core/model/cache/CacheType.java
  backend/techpick-ranking/src/main/java/techpick/ranking/application/RankingController.java
  backend/techpick-ranking/src/main/java/techpick/ranking/domain/pick/PickRankingService.java
  backend/techpick-ranking/src/main/java/techpick/ranking/exception/ApiRankErrorCode.java
  backend/techpick-ranking/src/main/java/techpick/ranking/exception/ApiRankException.java
Labels: feat, backend, D-1

#764 [FIX] 다른 폴더로 픽 이동 후 이동한 폴더 클릭 시 화면에 나타나지 않는 문제 수정
  frontend/techpick/src/components/FolderTree/FolderLinkItem.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/FolderTree/FolderTreeHeader.tsx
  frontend/techpick/src/constants/index.ts
  frontend/techpick/src/constants/nonExistFolderId.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/stores/pickStore/pickStore.type.ts
Labels: frontend, fix :fire:

#760 [FEAT] 익스텐션 에러 페이지 수정 및 에러 코드 추가, 버그 수정, 디자인 수정
  frontend/schema/schema.d.ts
  frontend/techpick-extension/src/apis/apiClient.ts
  frontend/techpick-extension/src/components/CreatePickForm.css.ts
  frontend/techpick-extension/src/components/CreatePickForm.tsx
  frontend/techpick-extension/src/components/TagAutocompleteDialog.tsx
  frontend/techpick-extension/src/components/UpdatePickForm.tsx
  frontend/techpick-extension/src/constants/apiUrls.ts
  frontend/techpick-extension/src/constants/errorMessageJson.ts
  frontend/techpick-extension/src/hooks/useHasPick.ts
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
  frontend/techpick-extension/src/pages/ErrorPage.css.ts
  frontend/techpick-extension/src/pages/ErrorPage.tsx
  frontend/techpick-extension/src/types/GetPickByUrlResponseType.ts
  frontend/techpick-extension/src/types/PickInfoType.ts
  frontend/techpick-extension/src/types/index.ts
Labels: feat, frontend, fix :fire:

#773 [FEAT] 검색 다이얼로그 단축키 이벤트 핸들러, 컴포넌트 추가
  frontend/techpick/src/app/(signed)/layout.tsx
  frontend/techpick/src/components/FolderTree/UserMenuBar.tsx
  frontend/techpick/src/components/Search2/SearchDialog.tsx
  frontend/techpick/src/components/ShortcutKey.tsx
  frontend/techpick/src/utils/eventEmitter.ts
Labels: feat, frontend

#779 [FEAT] 튜토리얼 로직 추가
  .gitignore
  frontend/.gitignore
  frontend/techpick/package.json
  frontend/techpick/public/video/multiSelectPickMove.gif
  frontend/techpick/public/video/recommendPickMove.gif
  frontend/techpick/src/app/(signed)/mypage/page.css.ts
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/components/FolderTree/folderTreeHeader.css.ts
  frontend/techpick/src/components/TutorialDialog.tsx
  frontend/techpick/src/components/TutorialReplaySwitch.tsx
  frontend/techpick/src/components/tutorialDialog.css.ts
  frontend/techpick/src/components/tutorialReplaySwitch.css.ts
  frontend/techpick/src/constants/index.ts
  frontend/techpick/src/constants/isTutorialSeenLocalStorageKey.ts
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useLocalStorage.ts
  frontend/techpick/src/utils/getItemFromLocalStorage.ts
  frontend/techpick/src/utils/index.ts
  frontend/techpick/src/utils/setItemToLocalStorage.ts
  frontend/yarn.lock
Labels: feat, frontend

#781 [CI/CD] 백엔드 깃허브 액션 삭제 및 프론트 테스트 배포 액션 변경
  .github/workflows/api-module-cicd.yml
  .github/workflows/aws-api-module-deploy.yml
  .github/workflows/aws-batch-module-deploy.yml
  .github/workflows/baguni.test.client.deploy.yml
  .github/workflows/batch-module-cicd.yml
Labels: feat, frontend, ci/cd :rocket:

#782 [FIX] 프론트엔드 테스트 배포 액션 branch target 올바르게 변경
  .github/workflows/baguni.test.client.deploy.yml
Labels: frontend, fix :fire:, ci/cd :rocket:

#785 [FEAT] 추천 픽 드래그 시에 크기 줄이기
  frontend/techpick/src/components/DragOverlay/DragOverlay.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/RecommendPickDraggable.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/recommendPickDraggable.css.ts
  frontend/techpick/src/hooks/useGetDndContextSensor.ts
  frontend/techpick/src/hooks/useGetDragOverStyle.ts
  frontend/techpick/src/stores/recommendPickStore.ts
  frontend/techpick/src/stores/recommendPickStore.type.ts
Labels: feat, frontend

#787 [FIX]: search filter select input 길이 제한
  frontend/techpick/src/components/Search2/customSelectStyles.ts
Labels: frontend, fix :fire:

#789 [FEAT] 익스텐션 수정
  frontend/techpick-extension/src/chrome-extension/background.ts
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/components/CreatePickForm.tsx
  frontend/techpick-extension/src/components/DeleteTagDialog.tsx
  frontend/techpick-extension/src/components/SkeltonPickForm.tsx
  frontend/techpick-extension/src/components/TagAutocompleteDialog.tsx
  frontend/techpick-extension/src/components/UpdatePickForm.tsx
  frontend/techpick-extension/src/stores/tagStore.ts
  frontend/techpick-extension/src/stores/tagStore.type.ts
Labels: feat, frontend

#792 [FIX] 이슈에 보고된 버그(폴더 이동 후, 포커싱 문재, 공유 폴더 많을시 스크롤 초과, 포커싱 유지 문제) 수정 및 백스페이스(<-)로 태그 삭제 기능 추가
  frontend/schema/schema.d.ts
  frontend/techpick-extension/src/types/CreatePickRequestType.ts
  frontend/techpick-extension/src/types/CreatePickResponseType.ts
  frontend/techpick-extension/src/types/CreateTagRequestType.ts
  frontend/techpick-extension/src/types/CreateTagResponseType.ts
  frontend/techpick-extension/src/types/DeleteTagRequestType.ts
  frontend/techpick-extension/src/types/FolderType.ts
  frontend/techpick-extension/src/types/GetBasicFolderListType.ts
  frontend/techpick-extension/src/types/GetPickByUrlResponseType.ts
  frontend/techpick-extension/src/types/GetRootFolderChildFoldersResponseType.ts
  frontend/techpick-extension/src/types/GetTagListResponseType.ts
  frontend/techpick-extension/src/types/PickInfoType.ts
  frontend/techpick-extension/src/types/TagType.ts
  frontend/techpick-extension/src/types/UpdatePickRequestType.ts
  frontend/techpick-extension/src/types/UpdatePickResponseType.ts
  frontend/techpick-extension/src/types/UpdateTagRequestType.ts
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/MyPage/MyPageShareFolderContent.tsx
  frontend/techpick/src/components/MyPage/myPageShareFolderContent.css.ts
  frontend/techpick/src/components/PickRecord/SharePickRecord.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/types/GetSuggestionRankingPicksResponseType.ts
  frontend/techpick/src/types/PickDeleteRequestType.ts
  frontend/techpick/src/types/PostSharedPickViewEventLogRequestType.ts
  frontend/techpick/src/types/PostUserPickViewEventLogRequestType.ts
  frontend/techpick/src/types/RecommendPickType.ts
  frontend/techpick/src/types/UpdatePickRequestType.ts
  frontend/techpick/src/types/folder.type.ts
  frontend/techpick/src/types/pick.type.ts
  frontend/techpick/src/types/sharedFolder.type.ts
  frontend/techpick/src/types/tag.type.ts
Labels: feat, frontend

#788 [FEAT] 회원 탈퇴 API
  backend/baguni-api/src/main/java/baguni/api/application/user/controller/UserApiController.java
  backend/baguni-api/src/main/java/baguni/api/domain/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/domain/user/service/UserService.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/pick/PickDataHandler.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/user/UserDataHandler.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniLogoutHandler.java
  backend/baguni-core/src/main/java/baguni/core/model/folder/FolderRepository.java
  backend/baguni-core/src/main/java/baguni/core/model/pick/PickRepository.java
  backend/baguni-core/src/main/java/baguni/core/model/pick/PickTagRepository.java
  backend/baguni-core/src/main/java/baguni/core/model/sharedFolder/SharedFolderRepository.java
  backend/baguni-core/src/main/java/baguni/core/model/tag/TagRepository.java
  backend/baguni-core/src/main/java/baguni/core/model/user/User.java
Labels: feat, backend

#795 [FEAT] 추천 페이지 디자인 변경 및 더블 클릭이 아닌 클릭으로 링크 이동
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/eventLog/index.ts
  frontend/techpick/src/apis/eventLog/postRecommendPickViewEventLog.ts
  frontend/techpick/src/app/(signed)/recommend/page.css.ts
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/PickCarouselCard.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/RecommendedPickCarousel.css.ts
  frontend/techpick/src/components/RecommendedPickCarousel/RecommendedPickCarousel.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/pickCarouselCard.css.ts
  frontend/techpick/src/types/PostRecommendPickViewEventLogRequestType.ts
  frontend/techpick/src/types/index.ts
Labels: feat, frontend

#796 [FIX] 폴더 이동 후 포커싱 문제 수정
  frontend/techpick/src/app/(signed)/mypage/page.tsx
Labels: feat, frontend

#798 [FEAT] 북마크 import 기능 추가
  frontend/techpick/package.json
  frontend/techpick/src/apis/apiClient.ts
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/bookmark/index.ts
  frontend/techpick/src/apis/bookmark/uploadBookmark.ts
  frontend/techpick/src/app/(signed)/mypage/page.css.ts
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/components/ImportBookmarkDialog.tsx
  frontend/techpick/src/components/importBookmarkDialog.css.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/types/UploadBookmarkResponseType.ts
  frontend/techpick/src/types/index.ts
  frontend/yarn.lock
Labels: feat, frontend

#800 [FIX] 회원 가입 예외 처리 및 에러 화면 리다이렉트
  backend/baguni-api/src/main/java/baguni/api/config/SwaggerConfig.java
  backend/baguni-api/src/main/java/baguni/api/domain/user/service/UserService.java
  backend/baguni-api/src/main/java/baguni/api/domain/user/service/strategy/StarterFolderStrategy.java
  backend/baguni-api/src/main/java/baguni/security/config/SecurityConfig.java
  backend/baguni-api/src/main/java/baguni/security/config/SecurityProperties.java
  backend/baguni-api/src/main/java/baguni/security/exception/ApiOAuth2ErrorCode.java
  backend/baguni-api/src/main/java/baguni/security/exception/ApiOAuth2Exception.java
  backend/baguni-api/src/main/java/baguni/security/filter/TokenAuthenticationFilter.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniLoginFailureHandler.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniLogoutHandler.java
  backend/baguni-api/src/main/java/baguni/security/handler/OAuth2SuccessHandler.java
  backend/baguni-api/src/main/java/baguni/security/service/CustomOAuth2Service.java
  backend/baguni-api/src/main/resources/application.yaml
  backend/baguni-core/src/main/java/baguni/core/exception/level/ErrorLevel.java
  backend/baguni-core/src/main/java/baguni/core/exception/level/FatalErrorLevel.java
  backend/baguni-core/src/main/java/baguni/core/exception/level/NormalErrorLevel.java
  backend/baguni-core/src/main/java/baguni/core/exception/level/WarningErrorLevel.java
  backend/baguni-core/src/main/java/baguni/core/model/user/SocialType.java
  backend/baguni-core/src/main/resources/application-core.yaml
  backend/docker-compose.yaml
Labels: backend

#804 [FEAT] 웹 서비스 내에서 픽 생성 기능 구현
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/getLinkOgDataByUrl.ts
  frontend/techpick/src/apis/pick/getPick/getPick.ts
  frontend/techpick/src/apis/pick/getPickByUrl.ts
  frontend/techpick/src/apis/pick/index.ts
  frontend/techpick/src/components/CreatePickForm/CreatePickForm.css.ts
  frontend/techpick/src/components/CreatePickForm/CreatePickForm.tsx
  frontend/techpick/src/components/CreatePickForm/DeselectTagButton.css.ts
  frontend/techpick/src/components/CreatePickForm/DeselectTagButton.tsx
  frontend/techpick/src/components/CreatePickForm/FolderSelect.css.ts
  frontend/techpick/src/components/CreatePickForm/FolderSelect.tsx
  frontend/techpick/src/components/CreatePickForm/SelectedTagCommonStyle.css.ts
  frontend/techpick/src/components/CreatePickForm/TagAutocompleteDialog.css.ts
  frontend/techpick/src/components/CreatePickForm/TagAutocompleteDialog.lib.ts
  frontend/techpick/src/components/CreatePickForm/TagAutocompleteDialog.tsx
  frontend/techpick/src/components/CreatePickForm/TagInfoEditPopoverButton.css.ts
  frontend/techpick/src/components/CreatePickForm/TagInfoEditPopoverButton.tsx
  frontend/techpick/src/components/CreatePickForm/TagPicker.css.ts
  frontend/techpick/src/components/CreatePickForm/TagPicker.tsx
  frontend/techpick/src/components/CreatePickForm/ThumbnailImage.css.ts
  frontend/techpick/src/components/CreatePickForm/ThumbnailImage.tsx
  frontend/techpick/src/components/CreatePickPopover/CreatePickPopover.css.ts
  frontend/techpick/src/components/CreatePickPopover/CreatePickPopover.tsx
  frontend/techpick/src/components/CreatePickPopover/CreatePickPopoverButton.tsx
  frontend/techpick/src/components/CreatePickPopover/createPickPopoverButton.css.ts
  frontend/techpick/src/components/FolderContentHeader/FolderContentHeader.tsx
  frontend/techpick/src/components/FolderContentHeader/folderContentHeader.css.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/stores/pickStore/pickStore.type.ts
  frontend/techpick/src/types/GetPickByUrlResponseType.ts
  frontend/techpick/src/types/index.ts
  frontend/techpick/src/types/pick.type.ts
Labels: feat, frontend

#810 [FIX] 익스텐션 제출 전 최종 수정
  frontend/techpick-extension/src/components/CreatePickForm.css.ts
  frontend/techpick-extension/src/components/TagAutocompleteDialog.css.ts
  frontend/techpick-extension/src/components/TagAutocompleteDialog.tsx
  frontend/techpick-extension/src/components/TagInfoEditPopoverButton.tsx
  frontend/techpick-extension/src/components/TagPicker.tsx
  frontend/techpick-extension/src/libs/@chrome/unescapeHTML.ts
  frontend/techpick-extension/src/libs/@chrome/useGetTabInfo.tsx
Labels: feat, frontend, fix :fire:

#817 [FIX] Image컴포넌트 대신 img 적용
  frontend/techpick/src/components/RecommendedPickCarousel/PickCarouselCard.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/pickCarouselCard.css.ts
Labels: frontend, fix :fire:

#818 [FEAT] FeedbackToolbar 구현
  frontend/techpick/package.json
  frontend/techpick/public/image/chrome_icon.png
  frontend/techpick/src/app/(signed)/layout.tsx
  frontend/techpick/src/components/FeedbackToolbar.tsx
  frontend/techpick/src/components/QnAFloatingLink.tsx
  frontend/techpick/src/components/feedbackToolbar.css.ts
  frontend/techpick/src/components/qnAFloatingLink.css.ts
  frontend/yarn.lock
Labels: feat, frontend

#820 [ DESIGN] 좌측 네비게이션바 디자인 변경
  frontend/techpick/src/components/CreatePickPopover/createPickPopoverButton.css.ts
  frontend/techpick/src/components/FolderTree/MyPagLinkItem.tsx
  frontend/techpick/src/components/FolderTree/SearchBar.tsx
  frontend/techpick/src/components/FolderTree/UserMenuBar.tsx
  frontend/techpick/src/components/FolderTree/index.tsx
  frontend/techpick/src/components/FolderTree/myPagLinkItem.css.ts
  frontend/techpick/src/components/FolderTree/searchBar.css.ts
  frontend/techpick/src/components/FolderTree/tree.css.ts
  frontend/techpick/src/components/FolderTree/userMenuBar.css.ts
Labels: feat, design :art:, frontend

#821 [DESIGN] 공유중인 상태 표시
  frontend/techpick/src/app/(signed)/folders/recycle-bin/page.tsx
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/components/CreatePickPopover/CreatePickPopoverButton.tsx
  frontend/techpick/src/components/CreatePickPopover/createPickPopoverButton.css.ts
  frontend/techpick/src/components/EmptyPickRecordImage.tsx
  frontend/techpick/src/components/FolderContentHeader/CurrentFolderNameSection.tsx
  frontend/techpick/src/components/FolderContentHeader/FolderContentHeader.tsx
  frontend/techpick/src/components/FolderContentHeader/currentFolderNameSection.css.ts
  frontend/techpick/src/components/FolderContentHeader/folderContentHeader.css.ts
  frontend/techpick/src/components/FolderTree/MoveFolderToRecycleBinDialog.tsx
  frontend/techpick/src/components/feedbackToolbar.css.ts
  frontend/techpick/src/constants/errorMessageJson.ts
Labels: feat, frontend

#822 [FEAT] 필터 토글 삭제, 검색 바 디자인 변경
  frontend/techpick/src/components/FolderTree/SarchBarDescription.tsx
  frontend/techpick/src/components/FolderTree/SearchBar.tsx
  frontend/techpick/src/components/FolderTree/searchBar.css.ts
  frontend/techpick/src/components/Search2/FilterContainer.tsx
  frontend/techpick/src/components/Search2/SearchDialog.tsx
  frontend/techpick/src/components/Search2/searchDialog.css.ts
  frontend/techpick/src/components/ShortcutKey.tsx
  frontend/techpick/src/constants/index.ts
  frontend/techpick/src/constants/openSearchDialogEvent.ts
  frontend/techpick/src/utils/index.ts
  frontend/techpick/src/utils/isMacOS.ts
Labels: feat, frontend

#823 [FIX] 검색바 press text 추가
  frontend/techpick/src/components/FolderTree/SarchBarDescription.tsx
Labels: chore, feat, frontend, fix :fire:

#826 [FEAT] front
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/components/FeedbackToolbar.tsx
  frontend/techpick/src/components/FolderTree/MyPagLinkItem.tsx
  frontend/techpick/src/components/FolderTree/index.tsx
  frontend/techpick/src/components/FolderTree/myPagLinkItem.css.ts
  frontend/techpick/src/components/FolderTree/tree.css.ts
  frontend/techpick/src/components/ShortcutKey.tsx
  frontend/techpick/src/components/feedbackToolbar.css.ts
  frontend/techpick/src/hooks/useFolderToFolderDndMonitor.tsx
Labels: feat, frontend

#830 [FIX] 익스텐션 버그 hotfix
  frontend/techpick-extension/src/components/DeselectTagButton.tsx
  frontend/techpick-extension/src/components/TagAutocompleteDialog.tsx
Labels: frontend, fix :fire:

#834 [BUG] 픽 제목 수정 시 픽 리스트 순서가 변경되는 문제
  backend/baguni-api/src/main/java/baguni/api/infrastructure/pick/PickDataHandler.java
Labels: bug :bug:, backend

#842 [FIX] 픽 생성 UI 수정 및 공유 폴더 페이지 SSR 적용
  frontend/techpick/src/apis/apiClient.ts
  frontend/techpick/src/app/(unsigned)/share/[uuid]/error.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/components/CreatePickPopover/CreatePickPopoverButton.tsx
  frontend/techpick/src/components/CreatePickPopover/createPickPopoverButton.css.ts
  frontend/techpick/src/components/PickRecord/SharePickRecord.tsx
  frontend/techpick/src/components/emptyPickRecordImage.css.ts
  frontend/techpick/src/hooks/useFetchShareFolderById.ts
Labels: feat, frontend

#846 [FIX] PickTagPicker 개선
  frontend/techpick/src/components/PickRecord/SharePickRecord.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.lib.ts
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagPicker.tsx
  frontend/techpick/src/components/PickTagPicker/PopoverTriggerButton.css.ts
  frontend/techpick/src/components/PickTagPicker/PopoverTriggerButton.tsx
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.css.ts
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.tsx
  frontend/techpick/src/hooks/useDisclosure.ts
  frontend/techpick/src/hooks/useResetPickFocusOnOutsideClick.ts
Labels: frontend, fix :fire:

#855 [FEAT] 익스텐션 OG DATA 가져오는 방식 변경
  frontend/techpick-extension/src/apis/getLinkOgDataByUrl.ts
  frontend/techpick-extension/src/apis/index.ts
  frontend/techpick-extension/src/chrome-extension/background.ts
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/constants/apiUrls.ts
  frontend/techpick-extension/src/libs/@chrome/useGetTabInfo.tsx
  frontend/techpick-extension/src/types/GetOgTagDataResponseType.ts
  frontend/techpick-extension/src/types/TabInfoFromWorkerMessageType.ts
  frontend/techpick-extension/src/types/index.ts
  frontend/techpick-extension/tsconfig.node.tsbuildinfo
  frontend/techpick-extension/vite.config.ts
Labels: feat, frontend, fix :fire:

#860 [CHORE] JPA 링크 엔티티 image_url을 TEXT로 변경
  backend/baguni-core/src/main/java/baguni/core/model/link/Link.java
Labels: chore, backend

#866 [FIX] 배포 스크립트에서 도커 이미지 정리 코드 제거
  .github/workflows/baguni.test.api.deploy.yml
  .github/workflows/baguni.test.batch.deploy.yml
  .github/workflows/baguni.test.ranking.deploy.yml
Labels: bug :bug:, backend

#863 [DESIGN] 드래그 앤 드랍 오버레이 투명도 반영
  frontend/techpick/src/components/DragOverlay/DragOverlay.tsx
  frontend/techpick/src/components/DragOverlay/PickRecordOverlay.tsx
  frontend/techpick/src/components/DragOverlay/folderItemOverlay.css.ts
  frontend/techpick/src/components/DragOverlay/pickRecordOverlay.css.ts
Labels: frontend, D-2

#861 [CI/CD] sentry 계정 변경
  .github/workflows/baguni.test.client.deploy.yml
  .github/workflows/playwright.test.yml
  frontend/techpick/next.config.js
  frontend/techpick/sentry.client.config.ts
  frontend/techpick/sentry.edge.config.ts
  frontend/techpick/sentry.server.config.ts
Labels: feat, frontend, D-1

#872 [FEAT] 사용하지 않는 의존성 제거
  frontend/techpick/package.json
  frontend/techpick/src/components/Search/Search.css.ts
  frontend/techpick/src/components/Search/Search.tsx
  frontend/techpick/src/components/Search/SearchInput.css
  frontend/techpick/src/components/Search/util/createQueryParameter.ts
  frontend/techpick/src/components/Search/util/getObjectEntries.ts
  frontend/techpick/src/components/Search/util/index.ts
  frontend/techpick/src/components/Search/util/tokenizer/PrefixPatternBuilder.ts
  frontend/techpick/src/components/Search/util/tokenizer/PrefixTokenizer.type.ts
  frontend/techpick/src/components/Search/util/tokenizer/PrefixTokenizerImpl.ts
  frontend/techpick/src/components/Search/util/tokenizer/example.png
  frontend/techpick/src/components/Search/util/tokenizer/readme.md
  frontend/techpick/src/providers/DndProviderWrapper.tsx
  frontend/techpick/src/providers/index.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/styles/reset.css.ts
  frontend/techpick/src/types/ApiTypes.ts
  frontend/techpick/src/types/NodeData.ts
  frontend/techpick/src/types/index.ts
  frontend/yarn.lock
Labels: feat, frontend, D-3

#871 [REFACTOR] 중복 스타일링 제거
  frontend/techpick/src/app/(signed)/mypage/page.css.ts
  frontend/techpick/src/components/CreatePickPopover/createPickPopoverButton.css.ts
  frontend/techpick/src/components/DragOverlay/FolderItemOverlay.tsx
  frontend/techpick/src/components/DragOverlay/PickRecordOverlay.tsx
  frontend/techpick/src/components/DragOverlay/folderItemOverlay.css.ts
  frontend/techpick/src/components/DragOverlay/pickRecordOverlay.css.ts
  frontend/techpick/src/components/FolderTree/MoveFolderToRecycleBinDialog.tsx
  frontend/techpick/src/components/FolderTree/ShareFolderDialog.tsx
  frontend/techpick/src/components/FolderTree/moveFolderToRecycleBinDialog.css.ts
  frontend/techpick/src/components/FolderTree/shareFolderDialog.css.ts
  frontend/techpick/src/components/ImportBookmarkDialog.tsx
  frontend/techpick/src/components/MyPage/myPageShareFolderField.css.ts
  frontend/techpick/src/components/PickTagPicker/DeleteTagDialog.css.ts
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/components/PickTagPicker/pickTagAutocompleteDialog.css.ts
  frontend/techpick/src/components/PickTagPicker/showDeleteTagDialogButton.css.ts
  frontend/techpick/src/components/Search2/SearchDialog.tsx
  frontend/techpick/src/components/Search2/searchDialog.css.ts
  frontend/techpick/src/components/TutorialDialog.tsx
  frontend/techpick/src/components/importBookmarkDialog.css.ts
  frontend/techpick/src/components/tutorialDialog.css.ts
  frontend/techpick/src/styles/baseButtonStyle.css.ts
  frontend/techpick/src/styles/dialogStyle.css.ts
  frontend/techpick/src/styles/goldButtonStyle.css.ts
  frontend/techpick/src/styles/greenButtonStyle.css.ts
  frontend/techpick/src/styles/orangeButtonStyle.css.ts
  frontend/techpick/src/styles/redButtonStyle.css.ts
  frontend/techpick/src/styles/sandButtonStyle.css.ts
Labels: frontend, D-2, refactor :construction:

#877 [REFACTOR] og:image 파싱 로직 수정
  backend/baguni-api/src/main/java/baguni/api/domain/link/service/LinkService.java
Labels: backend, refactor :construction:

#880 [FEAT] 공유 페이지에서 회원가입, 홈페이지 이동 버튼 추가 및 이벤트 로그 추적
  .github/workflows/baguni.test.client.deploy.yml
  frontend/techpick/.env.example
  frontend/techpick/package.json
  frontend/techpick/src/app/(signed)/layout.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/SignUpLinkButton.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.css.ts
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/components/ScreenLogger.tsx
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useEventLogger.ts
  frontend/techpick/src/libs/mixpanel-client.ts
  frontend/techpick/src/libs/mixpanel-server.ts
  frontend/techpick/src/utils/index.ts
  frontend/techpick/src/utils/isLoginUser.ts
  frontend/yarn.lock
Labels: feat, frontend, D-1

#881 [REFACTOR] property 속성에 og 데이터가 없는 경우 name 속성 활용하도록 변경
  backend/baguni-api/src/main/java/baguni/api/domain/link/service/LinkService.java
  backend/baguni-core/src/main/java/baguni/core/lib/opengraph/Metadata.java
  backend/baguni-core/src/main/java/baguni/core/lib/opengraph/OpenGraphReader.java
Labels: backend, refactor :construction:

#882 [FEAT] 미분류로 즉시 북마크 담는 API 구현
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiRequest.java
  backend/baguni-api/src/main/java/baguni/api/domain/link/service/LinkService.java
  backend/baguni-api/src/main/java/baguni/api/domain/pick/dto/PickCommand.java
  backend/baguni-api/src/main/java/baguni/api/domain/pick/dto/PickMapper.java
  backend/baguni-api/src/main/java/baguni/api/domain/pick/service/PickSearchService.java
  backend/baguni-api/src/main/java/baguni/api/domain/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/pick/PickDataHandler.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/pick/PickQuery.java
  backend/baguni-core/src/main/java/baguni/core/model/link/Link.java
  backend/baguni-core/src/main/java/baguni/core/model/pick/Pick.java
Labels: feat, backend

#895 [FIX] 검색 다이얼로그 색 정상 적용
  frontend/techpick/src/components/FolderTree/moveFolderToRecycleBinDialog.css.ts
  frontend/techpick/src/components/FolderTree/shareFolderDialog.css.ts
  frontend/techpick/src/components/PickTagPicker/DeleteTagDialog.css.ts
  frontend/techpick/src/components/Search2/searchDialog.css.ts
  frontend/techpick/src/components/importBookmarkDialog.css.ts
  frontend/techpick/src/components/tutorialDialog.css.ts
  frontend/techpick/src/styles/dialogStyle.css.ts
Labels: frontend, fix :fire:

#899 fix: 익스텐션 기존 기능 지원을 위한 API 버전 다운
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiRequest.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/pick/PickDataHandler.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/dto/PickCommand.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
Labels: bug :bug:, backend
