Repository Kernel360/F2-BAGUNI, pull requests merged in 2024-10, with the labels that each got.

#86 [test] 테스트 Fixture 구현
  backend/build.gradle
  backend/src/test/java/kernel360/techpick/fixture/JobGroupFixture.java
  backend/src/test/java/kernel360/techpick/fixture/LinkFixture.java
  backend/src/test/java/kernel360/techpick/fixture/TagFixture.java
  backend/src/test/java/kernel360/techpick/fixture/UserFixture.java
  backend/src/test/resources/application-test.yaml
Labels: test, backend, D-1

#91 Feat: 테스트 서버 API 설정
  .github/workflows/test-server-deploy.yml
  backend/.env.sample
  backend/src/main/java/kernel360/techpick/feature/TestController.java
  backend/src/main/resources/oauth2-config.yaml
Labels: backend, D-0

#81 Refactor: RSS Exception 처리
  backend/build.gradle
  backend/data/develop/mysql-files/rss_blog.csv
  backend/data/mysql-files/rss_blog.csv
  backend/src/main/java/kernel360/techpick/core/model/rss/RssRawData.java
  backend/src/main/java/kernel360/techpick/feature/rss/exception/ApiRssErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/rss/exception/ApiRssException.java
  backend/src/main/java/kernel360/techpick/feature/rss/model/RssProvider.java
  backend/src/main/java/kernel360/techpick/feature/rss/repository/RssRawDataRepository.java
  backend/src/main/java/kernel360/techpick/feature/rss/service/RssService.java
Labels: feat, backend, D-1

#94 [refactor]: oauth uri 변경
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
  backend/src/main/resources/oauth2-config.yaml
Labels: backend, D-0, refactor

#97 [fix] 로그인 페이지 허용 uri 변경
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
Labels: backend, fix, D-0

#102 [refactor] Spring Security CORS 설정 추가
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
  backend/src/main/resources/application.yaml
Labels: backend, D-0, refactor

#100 feat: mysql에서 rss blog url sql 파일 import
  backend/data/develop/mysql-files/data.sql
  backend/data/develop/mysql-files/rss_blog.csv
  backend/project-setup/rss_setting.md
  backend/src/main/java/kernel360/techpick/core/model/rss/RssSupportingBlog.java
Labels: feat, backend, D-0

#105 refactor: 미사용 설정 / 파일 제거
  backend/.env.sample
  backend/.gitignore
  backend/data/mysql-files/rss_blog.csv
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
Labels: chore, backend

#110 refactor: 스케줄러 설정 추가
  backend/src/main/java/kernel360/techpick/core/config/SchedulingConfig.java
Labels: bug, backend, fix, D-0

#111 [feat] Folder 기본 설계
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/core/model/folder/FolderType.java
  backend/src/main/java/kernel360/techpick/feature/folder/exception/ApiFolderErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/folder/exception/ApiFolderException.java
Labels: feat, backend, D-0

#113 [feat] FolderStructure 설계
  backend/src/main/java/kernel360/techpick/core/model/folder/FolderStructure.java
  backend/src/main/java/kernel360/techpick/feature/folder/model/FolderStructureProvider.java
  backend/src/main/java/kernel360/techpick/feature/folder/repository/FolderStructureRepository.java
Labels: feat, backend, D-0

#118 Feat: Parser Dto 및 구조 작성
  backend/src/main/java/kernel360/techpick/feature/folder/service/parser/StructureParser.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/parser/internal/NodeType.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/parser/internal/StructureNode.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/parser/internal/StructureParserImpl.java
Labels: feat, backend, D-0

#121 [feat] Folder Service 구현
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/feature/folder/model/FolderMapper.java
  backend/src/main/java/kernel360/techpick/feature/folder/model/FolderProvider.java
  backend/src/main/java/kernel360/techpick/feature/folder/repository/FolderRepository.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/FolderService.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderCreateRequest.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderResponse.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderUpdateRequest.java
Labels: feat, backend, D-1

#124 feat: Pick DTO 설계
  backend/src/main/java/kernel360/techpick/core/model/link/Link.java
  backend/src/main/java/kernel360/techpick/core/model/pick/Pick.java
  backend/src/main/java/kernel360/techpick/feature/link/model/LinkMapper.java
  backend/src/main/java/kernel360/techpick/feature/link/service/dto/LinkRequest.java
  backend/src/main/java/kernel360/techpick/feature/link/service/dto/LinkResponse.java
  backend/src/main/java/kernel360/techpick/feature/pick/exception/ApiPickErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/pick/exception/ApiPickException.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/PickService.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/dto/PickCreateRequest.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/dto/PickResponse.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/dto/PickTagResponse.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/dto/PickTagUpdateRequest.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/dto/PickUpdateRequest.java
  backend/src/test/java/kernel360/techpick/fixture/LinkFixture.java
  backend/src/test/java/kernel360/techpick/fixture/TagFixture.java
Labels: feat, backend, D-1

#129 [FEAT] 프론트 로그인 로컬 테스트를 위한 redirect url 설정
  backend/src/main/java/kernel360/techpick/core/auth/handler/OAuth2SuccessHandler.java
Labels: feat, backend, D-0

#127 [ REFACTOR] 기본 폴더 CRUD 관련 리팩토링
  backend/src/main/java/kernel360/techpick/core/auth/service/CustomOAuth2Service.java
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/core/model/folder/FolderType.java
  backend/src/main/java/kernel360/techpick/feature/folder/exception/ApiFolderErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/folder/exception/ApiFolderException.java
  backend/src/main/java/kernel360/techpick/feature/folder/model/FolderMapper.java
  backend/src/main/java/kernel360/techpick/feature/folder/model/FolderProvider.java
  backend/src/main/java/kernel360/techpick/feature/folder/repository/FolderRepository.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/FolderService.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderCreateRequest.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderResponse.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderUpdateRequest.java
Labels: backend, D-0, refactor

#126 [FEAT] 익스텐션 태그 인풋 핵심 로직 구현
  frontend/.pnp.cjs
  frontend/techpick-extension/package.json
  frontend/techpick-extension/src/App.tsx
  frontend/techpick-extension/src/constants/index.ts
  frontend/techpick-extension/src/entities/tag/index.ts
  frontend/techpick-extension/src/entities/tag/model/tagStore.ts
  frontend/techpick-extension/src/entities/tag/type.ts
  frontend/techpick-extension/src/entities/tag/ui/SelectedTagItem/SelectedTagContent.css.ts
  frontend/techpick-extension/src/entities/tag/ui/SelectedTagItem/SelectedTagContent.tsx
  frontend/techpick-extension/src/entities/tag/ui/SelectedTagItem/SelectedTagLayout.css.ts
  frontend/techpick-extension/src/entities/tag/ui/SelectedTagItem/SelectedTagLayout.tsx
  frontend/techpick-extension/src/entities/tag/ui/SelectedTagItem/index.tsx
  frontend/techpick-extension/src/entities/tag/ui/SelectedTagListLayout/SelectedTagListLayout.css.ts
  frontend/techpick-extension/src/entities/tag/ui/SelectedTagListLayout/SelectedTagListLayout.tsx
  frontend/techpick-extension/src/features/index.ts
  frontend/techpick-extension/src/features/tag/deleteTag/deleteTag.model.ts
  frontend/techpick-extension/src/features/tag/deleteTag/index.ts
  frontend/techpick-extension/src/features/tag/deleteTag/ui/DeleteTagDialog/DeleteTagDialog.css.ts
  frontend/techpick-extension/src/features/tag/deleteTag/ui/DeleteTagDialog/index.tsx
  frontend/techpick-extension/src/features/tag/deleteTag/ui/ShowDeleteTagDialogButton.tsx
  frontend/techpick-extension/src/features/tag/deselectTag/DeselectTagButton.css.ts
  frontend/techpick-extension/src/features/tag/deselectTag/DeselectTagButton.tsx
  frontend/techpick-extension/src/features/tag/index.ts
  frontend/techpick-extension/src/hooks/useGetTabInfo/useGetTabInfo.lib.ts
  frontend/techpick-extension/src/lib/index.ts
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
  frontend/techpick-extension/src/styles/reset.css.ts
  frontend/techpick-extension/src/widgets/TagPicker/TagAutocompleteDialog/TagAutocompleteDialog.css.ts
  frontend/techpick-extension/src/widgets/TagPicker/TagAutocompleteDialog/TagAutocompleteDialog.lib.ts
  frontend/techpick-extension/src/widgets/TagPicker/TagAutocompleteDialog/index.tsx
  frontend/techpick-extension/src/widgets/TagPicker/TagInfoEditPopoverButton/PopoverOverlay.tsx
  frontend/techpick-extension/src/widgets/TagPicker/TagInfoEditPopoverButton/PopoverTriggerButton.css.ts
  frontend/techpick-extension/src/widgets/TagPicker/TagInfoEditPopoverButton/PopoverTriggerButton.tsx
  frontend/techpick-extension/src/widgets/TagPicker/TagInfoEditPopoverButton/TagInfoEditPopoverButton.css.ts
  frontend/techpick-extension/src/widgets/TagPicker/TagInfoEditPopoverButton/TagInfoEditPopoverButton.lib.ts
  frontend/techpick-extension/src/widgets/TagPicker/TagInfoEditPopoverButton/index.tsx
  frontend/techpick-extension/src/widgets/TagPicker/TagPicker.css.ts
  frontend/techpick-extension/src/widgets/TagPicker/index.tsx
  frontend/techpick-extension/src/widgets/index.ts
  frontend/techpick-extension/tsconfig.app.tsbuildinfo
  frontend/techpick-extension/tsconfig.node.json
  frontend/techpick-extension/tsconfig.node.tsbuildinfo
  frontend/yarn.lock
Labels: feat, frontend

#117 [FEAT] Drag&Drop 구현: Directory
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/techpick/.eslintrc.json
  frontend/techpick/package.json
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/app/page.tsx
  frontend/techpick/src/components/DirectoryNode/DirectoryNode.tsx
  frontend/techpick/src/features/Draggable/Folder.tsx
  frontend/techpick/src/features/Draggable/Pick.tsx
  frontend/techpick/src/features/Draggable/folder.css.ts
  frontend/techpick/src/features/Draggable/pick.css.ts
  frontend/techpick/src/features/ToggleTheme/ToggleThemeButton.tsx
  frontend/techpick/src/features/moveNode.ts
  frontend/techpick/src/hooks/useDragHook.ts
  frontend/techpick/src/providers/DndProviderWrapper.tsx
  frontend/techpick/src/providers/ThemeProvider.tsx
  frontend/techpick/src/providers/index.ts
  frontend/techpick/src/shared/const/mockdata.ts
  frontend/techpick/src/shared/stores/themeStore.ts
  frontend/techpick/src/shared/stores/treeStore.ts
  frontend/techpick/src/shared/types/NodeData.ts
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.tsx
  frontend/techpick/src/widgets/DirectoryTreeSection/directoryTreeSection.css.ts
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditorSection.tsx
  frontend/techpick/src/widgets/LinkEditorSection/linkEditorSection.css.ts
  frontend/yarn.lock
Labels: frontend

#135 [REFACTOR] 프론트 로컬 테스트를 위한 설정
  backend/src/main/java/kernel360/techpick/core/auth/handler/OAuth2SuccessHandler.java
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
Labels: backend, D-0, refactor

#132 [FIX] 불필요한 어노테이션 제거
  backend/src/main/java/kernel360/techpick/feature/folder/service/FolderService.java
Labels: backend, fix, D-0

#140 [FEAT] 기본 폴더로 root 폴더 추가
  backend/src/main/java/kernel360/techpick/core/auth/service/CustomOAuth2Service.java
  backend/src/main/java/kernel360/techpick/core/model/folder/FolderType.java
Labels: feat, backend, D-0

#147 [feat] 클라이언트 폴더 구조 JSON 파싱
  backend/build.gradle
  backend/src/main/java/kernel360/techpick/feature/directory/ClientDirectory.java
  backend/src/main/java/kernel360/techpick/feature/directory/exception/ApiDirectoryErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/directory/exception/ApiDirectoryException.java
  backend/src/main/java/kernel360/techpick/feature/directory/internal/ClientNode.java
  backend/src/main/java/kernel360/techpick/feature/directory/internal/FolderNode.java
  backend/src/main/java/kernel360/techpick/feature/directory/internal/IllegalNodeTypeException.java
  backend/src/main/java/kernel360/techpick/feature/directory/internal/NodeType.java
  backend/src/main/java/kernel360/techpick/feature/directory/internal/PickNode.java
  backend/src/main/java/kernel360/techpick/feature/directory/internal/RelationalNode.java
  backend/src/main/java/kernel360/techpick/feature/folder/exception/ApiFolderErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/parser/StructureParser.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/parser/internal/NodeType.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/parser/internal/StructureNode.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/parser/internal/StructureParserImpl.java
  backend/src/test/java/kernel360/techpick/folder/service/parser/ParserTest.java
  backend/src/test/java/kernel360/techpick/folder/service/parser/ParserTestCase.java
Labels: feat, backend, D-1

#143 [FEAT] FolderService 추가 비즈니스 로직 구현 및 리팩토링
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/core/model/pick/Pick.java
  backend/src/main/java/kernel360/techpick/feature/folder/exception/ApiFolderErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/folder/exception/ApiFolderException.java
  backend/src/main/java/kernel360/techpick/feature/folder/model/FolderProvider.java
  backend/src/main/java/kernel360/techpick/feature/folder/repository/FolderRepository.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/FolderService.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderMoveRequest.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderUpdateNameRequest.java
Labels: feat, backend, D-1

#145 [FEAT] 우측으로 dnd 작업 가능
  frontend/techpick/.gitignore
  frontend/techpick/src/app/page.tsx
  frontend/techpick/src/components/DirectoryNode/DirectoryNode.tsx
  frontend/techpick/src/components/DirectoryNode/directoryNode.css.ts
  frontend/techpick/src/features/DnD/Folder.tsx
  frontend/techpick/src/features/DnD/Pick.tsx
  frontend/techpick/src/features/DnD/folder.css.ts
  frontend/techpick/src/features/DnD/pick.css.ts
  frontend/techpick/src/features/moveNode.ts
  frontend/techpick/src/hooks/useDropHook.ts
  frontend/techpick/src/shared/stores/treeStore.ts
  frontend/techpick/src/shared/types/NodeData.ts
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.tsx
  frontend/techpick/src/widgets/DirectoryTreeSection/directoryTreeSection.css.ts
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditor.tsx
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditorSection.tsx
  frontend/techpick/src/widgets/LinkEditorSection/index.tsx
  frontend/techpick/src/widgets/index.ts
Labels: feat, frontend, fix

#155 [FEAT] 로그인 확인용 쿠키 구현
  backend/src/main/java/kernel360/techpick/core/auth/Filter/TokenAuthenticationFilter.java
  backend/src/main/java/kernel360/techpick/core/util/CookieUtil.java
Labels: feat, backend, D-0

#156 [HOTFIX] 로그인 쿠키 버그 수정
  backend/src/main/java/kernel360/techpick/core/util/CookieUtil.java
Labels: backend, fix, D-0

#161 [FEAT] Folder Api 구현 및 FolderService 리팩토링
  backend/src/main/java/kernel360/techpick/feature/folder/controller/FolderApi.java
  backend/src/main/java/kernel360/techpick/feature/folder/controller/FolderController.java
  backend/src/main/java/kernel360/techpick/feature/folder/exception/ApiFolderErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/folder/model/FolderMapper.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/FolderService.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/FolderStructureService.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderCreateDto.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderDeleteDto.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderIdDto.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderMoveDto.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/dto/FolderUpdateRequest.java
  backend/src/main/java/kernel360/techpick/feature/folder/validator/FolderValidator.java
Labels: feat, backend, D-0

#163 [FEAT] Structure와 연관된 Pick Service 구현
  backend/src/main/java/kernel360/techpick/core/model/pick/Pick.java
  backend/src/main/java/kernel360/techpick/feature/pick/controller/PickController.java
  backend/src/main/java/kernel360/techpick/feature/pick/model/PickProvider.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/PickService.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/PickStructureService.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/dto/PickIdDto.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/dto/PickMoveDto.java
  backend/src/main/java/kernel360/techpick/feature/pick/validator/PickValidator.java
Labels: feat, backend, D-0

#167 [FEAT] 크롬 익스텐션 로그인 링크 페이지 구현
  .gitignore
  frontend/techpick-extension/.env.sample
  frontend/techpick-extension/package.json
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/features/auth/checkLoginStatus/index.ts
  frontend/techpick-extension/src/features/auth/checkLoginStatus/ui/LoginGuard.tsx
  frontend/techpick-extension/src/features/auth/index.ts
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
  frontend/techpick-extension/src/pages/LoginPage/LoginPage.css.ts
  frontend/techpick-extension/src/pages/LoginPage/index.tsx
  frontend/techpick-extension/src/pages/index.ts
  frontend/techpick-extension/src/routers/index.tsx
  frontend/techpick-extension/src/shared/api/index.ts
  frontend/techpick-extension/src/shared/constants/index.ts
  frontend/techpick-extension/src/shared/index.ts
  frontend/techpick-extension/src/shared/ui/Button/Button.css.ts
  frontend/techpick-extension/src/shared/ui/Button/index.tsx
  frontend/techpick-extension/src/shared/ui/Text/Text.css.ts
  frontend/techpick-extension/src/shared/ui/Text/index.tsx
  frontend/techpick-extension/src/shared/ui/index.ts
  frontend/techpick-extension/tsconfig.app.tsbuildinfo
  frontend/techpick-extension/tsconfig.node.tsbuildinfo
  frontend/techpick-extension/vite.config.ts
  frontend/yarn.lock
Labels: feat, frontend, D-1

#178 [FEAT] Structure Validator 구현
  backend/src/main/java/kernel360/techpick/feature/folder/model/FolderProvider.java
  backend/src/main/java/kernel360/techpick/feature/folder/repository/FolderRepository.java
  backend/src/main/java/kernel360/techpick/feature/folder/service/FolderStructureService.java
  backend/src/main/java/kernel360/techpick/feature/pick/model/PickProvider.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/PickStructureService.java
  backend/src/main/java/kernel360/techpick/feature/structure/service/StructureService.java
  backend/src/main/java/kernel360/techpick/feature/structure/service/dto/StructureDeleteRequest.java
  backend/src/main/java/kernel360/techpick/feature/structure/service/dto/StructureMoveRequest.java
  backend/src/main/java/kernel360/techpick/feature/structure/validator/StructureValidator.java
Labels: feat, backend, D-1

#177 [FEAT] Swagger의 api-doc을 이용한 type 생성
  frontend/package.json
  frontend/schema/schema.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: feat, frontend

#179 [HOTFIX] swagger 쿠키 설정 수정
  backend/src/main/java/kernel360/techpick/core/config/SwaggerConfig.java
Labels: backend, fix, D-0

#185 [FEAT] 태그 색상번호 데이터 추가
  backend/src/main/java/kernel360/techpick/core/model/tag/Tag.java
  backend/src/main/java/kernel360/techpick/feature/tag/controller/TagController.java
  backend/src/main/java/kernel360/techpick/feature/tag/model/TagMapper.java
  backend/src/main/java/kernel360/techpick/feature/tag/service/dto/TagCreateRequest.java
  backend/src/main/java/kernel360/techpick/feature/tag/service/dto/TagResponse.java
  backend/src/main/java/kernel360/techpick/feature/tag/service/dto/TagUpdateRequest.java
Labels: feat, backend

#193 [CI] API V1 브랜치 - 서버 설정
  .github/workflows/test-server-deploy.yml
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
  backend/src/main/java/kernel360/techpick/core/config/SwaggerConfig.java
  backend/src/main/java/kernel360/techpick/feature/TestController.java
  backend/src/main/java/kernel360/techpick/feature/structure/controller/StructureController.java
  backend/src/main/java/kernel360/techpick/feature/tag/controller/TagController.java
  backend/src/main/resources/application.yaml
Labels: backend, ci/cd :rocket:

#199 [FEAT] 프론트엔드 서버 도메인 추가
  backend/src/main/java/kernel360/techpick/core/auth/handler/OAuth2SuccessHandler.java
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
Labels: backend, D-0, ci/cd :rocket:

#202 [CI] 프론트엔드 서버 배포 스크립트
  .github/workflows/test-client-deploy.yml
  frontend/Dockerfile
Labels: frontend, ci/cd :rocket:

#207 [FEAT] 픽 중복 조회 기능, 로그아웃 API, CORS 설정 추가
  backend/src/main/java/kernel360/techpick/core/auth/handler/OAuth2SuccessHandler.java
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
  backend/src/main/java/kernel360/techpick/core/model/folder/FolderType.java
  backend/src/main/java/kernel360/techpick/feature/pick/controller/PickApi.java
  backend/src/main/java/kernel360/techpick/feature/pick/controller/PickController.java
  backend/src/main/java/kernel360/techpick/feature/pick/model/PickProvider.java
  backend/src/main/java/kernel360/techpick/feature/pick/repository/PickRepository.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/PickService.java
Labels: feat, backend, D-0

#213 [FEAT] sanitizeHtml에서 DOMPurify로 교체
  frontend/techpick-extension/package.json
  frontend/techpick-extension/src/pages/BookmarkPage/index.tsx
  frontend/techpick-extension/src/widgets/TagPicker/TagInfoEditPopoverButton/index.tsx
  frontend/yarn.lock
Labels: feat, frontend

#215 [FIX] 런타임 에러 해결(잘못된 변수 접근)
  frontend/techpick-extension/src/entities/tag/model/tagStore.ts
  frontend/techpick-extension/src/widgets/TagPicker/TagInfoEditPopoverButton/index.tsx
Labels: frontend, fix :fire:

#218 [REFACTOR] Pick Url 조회시 Path Variable 문제, 픽 중복 생성 방지
  backend/src/main/java/kernel360/techpick/feature/pick/controller/PickApi.java
  backend/src/main/java/kernel360/techpick/feature/pick/controller/PickController.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/PickService.java
Labels: bug :bug:, backend

#223 [REFACTOR] url로 Pick 조회 시 리턴 타입 변경
  backend/src/main/java/kernel360/techpick/feature/pick/controller/PickApi.java
  backend/src/main/java/kernel360/techpick/feature/pick/controller/PickController.java
  backend/src/main/java/kernel360/techpick/feature/pick/service/PickService.java
Labels: backend, fix :fire:, D-0

#224 [FEAT] 프론트엔드 디버깅용 로그 출력 추가
  backend/src/main/java/kernel360/techpick/feature/structure/validator/StructureValidator.java
Labels: backend

#229 [FEAT] 크롬 익스텐션 픽 수정 기능 구현
  frontend/schema/schema.d.ts
  frontend/techpick-extension/src/entities/pick/api/getPickByUrl.ts
  frontend/techpick-extension/src/entities/pick/api/index.ts
  frontend/techpick-extension/src/entities/pick/api/updatePick.ts
  frontend/techpick-extension/src/entities/pick/index.ts
  frontend/techpick-extension/src/entities/pick/pick.type.ts
  frontend/techpick-extension/src/entities/tag/api/getTagList.ts
  frontend/techpick-extension/src/entities/tag/model/tagStore.ts
  frontend/techpick-extension/src/features/pick/hasPick/useHasPick.ts
  frontend/techpick-extension/src/features/pick/index.ts
  frontend/techpick-extension/src/pages/BookmarkPage/CreatePickForm.tsx
  frontend/techpick-extension/src/pages/BookmarkPage/SkeltonPickForm.css.ts
  frontend/techpick-extension/src/pages/BookmarkPage/SkeltonPickForm.tsx
  frontend/techpick-extension/src/pages/BookmarkPage/ThumbnailImage.css.ts
  frontend/techpick-extension/src/pages/BookmarkPage/UpdatePickForm.tsx
  frontend/techpick-extension/src/pages/BookmarkPage/index.tsx
  frontend/techpick-extension/src/shared/ui/DeferredComponent.tsx
  frontend/techpick-extension/src/shared/ui/index.ts
Labels: feat, frontend, D-1

#227 [FEAT] Backend api 연결 및 ux 미세조정
  frontend/localhost+2-key.pem
  frontend/localhost+2.pem
  frontend/techpick/package.json
  frontend/techpick/public/image/logo_google.png
  frontend/techpick/public/image/logo_kakao.svg
  frontend/techpick/public/image/logo_techpick.png
  frontend/techpick/public/image/logo_techpick_ext.webp
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/app/login/page.css.ts
  frontend/techpick/src/app/login/page.tsx
  frontend/techpick/src/app/page.tsx
  frontend/techpick/src/components/DirectoryNode/DirectoryNode.tsx
  frontend/techpick/src/components/index.ts
  frontend/techpick/src/features/DnD/Folder.tsx
  frontend/techpick/src/features/DnD/Pick.tsx
  frontend/techpick/src/features/DnD/folder.css.ts
  frontend/techpick/src/features/DnD/hooks/index.ts
  frontend/techpick/src/features/DnD/hooks/useDragHook.ts
  frontend/techpick/src/features/DnD/hooks/useDropHook.ts
  frontend/techpick/src/features/DnD/pick.css.ts
  frontend/techpick/src/features/ToggleTheme/ToggleThemeButton.tsx
  frontend/techpick/src/features/createNode.ts
  frontend/techpick/src/features/nodeManagement/api/queryFunctions.ts
  frontend/techpick/src/features/nodeManagement/hooks/useCreateFolder.ts
  frontend/techpick/src/features/nodeManagement/hooks/useDeleteFolder.ts
  frontend/techpick/src/features/nodeManagement/hooks/useGetDefaultFolderData.ts
  frontend/techpick/src/features/nodeManagement/hooks/useGetRootAndRecycleBinData.ts
  frontend/techpick/src/features/nodeManagement/hooks/useMoveFolder.ts
  frontend/techpick/src/features/nodeManagement/hooks/useRenameFolder.ts
  frontend/techpick/src/features/nodeManagement/hooks/useTreeHandlers.ts
  frontend/techpick/src/features/nodeManagement/utils/addNodeToStructure.ts
  frontend/techpick/src/features/nodeManagement/utils/addRecycleBinToStructure.ts
  frontend/techpick/src/features/nodeManagement/utils/getNewIdFromStructure.ts
  frontend/techpick/src/features/nodeManagement/utils/removeByIdFromStructure.ts
  frontend/techpick/src/features/userManagement/api/queryFunctions.ts
  frontend/techpick/src/features/userManagement/hooks/useLogout.ts
  frontend/techpick/src/providers/QueryProvider.tsx
  frontend/techpick/src/shared/stores/treeStore.ts
  frontend/techpick/src/shared/themes/darkTheme.css.ts
  frontend/techpick/src/shared/themes/lightTheme.css.ts
  frontend/techpick/src/shared/themes/reset.css.ts
  frontend/techpick/src/shared/types/ApiTypes.ts
  frontend/techpick/src/shared/types/NodeData.ts
  frontend/techpick/src/widgets/DirectoryNode/DirectoryNode.css.ts
  frontend/techpick/src/widgets/DirectoryNode/DirectoryNode.tsx
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.css.ts
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.tsx
  frontend/techpick/src/widgets/EditorContextMenu/ContextMenu.css.ts
  frontend/techpick/src/widgets/EditorContextMenu/index.tsx
  frontend/techpick/src/widgets/FeaturedSection/FeaturedSection.css.ts
  frontend/techpick/src/widgets/FeaturedSection/FeaturedSection.tsx
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditor.tsx
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditorSection.css.ts
  frontend/techpick/src/widgets/LinkEditorSection/index.tsx
  frontend/yarn.lock
Labels: feat, frontend, D-1

#242 [FIX] Folder 복합 unique 제약 조건 추가 및 ddl 설정
  backend/data/schema.sql
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/resources/application.yaml
Labels: backend, fix :fire:

#247 [FEAT] 버그 수정, 휴지통 복원, context menu, pr 요청사항 적용
  frontend/techpick/src/app/page.tsx
  frontend/techpick/src/features/DnD/Folder.tsx
  frontend/techpick/src/features/DnD/hooks/index.ts
  frontend/techpick/src/features/index.ts
  frontend/techpick/src/features/nodeManagement/api/queryFunctions.ts
  frontend/techpick/src/features/nodeManagement/api/useCreateFolder.ts
  frontend/techpick/src/features/nodeManagement/api/useDeleteFolder.ts
  frontend/techpick/src/features/nodeManagement/api/useGetDefaultFolderData.ts
  frontend/techpick/src/features/nodeManagement/api/useGetRootAndRecycleBinData.ts
  frontend/techpick/src/features/nodeManagement/api/useMoveFolder.ts
  frontend/techpick/src/features/nodeManagement/api/useRenameFolder.ts
  frontend/techpick/src/features/nodeManagement/hooks/useDragHook.ts
  frontend/techpick/src/features/nodeManagement/hooks/useDropHook.ts
  frontend/techpick/src/features/nodeManagement/hooks/useRestoreNode.ts
  frontend/techpick/src/features/nodeManagement/hooks/useTreeHandlers.ts
  frontend/techpick/src/features/nodeManagement/ui/Folder.tsx
  frontend/techpick/src/features/nodeManagement/ui/Pick.tsx
  frontend/techpick/src/features/nodeManagement/ui/folder.css.ts
  frontend/techpick/src/features/nodeManagement/ui/pick.css.ts
  frontend/techpick/src/features/nodeManagement/utils/addRecycleBinToStructure.ts
  frontend/techpick/src/features/nodeManagement/utils/createNode.ts
  frontend/techpick/src/features/nodeManagement/utils/getCurrentTreeTypeByNode.ts
  frontend/techpick/src/features/nodeManagement/utils/getNewIdFromStructure.ts
  frontend/techpick/src/features/nodeManagement/utils/moveNode.ts
  frontend/techpick/src/features/themeManagement/ToggleThemeButton.tsx
  frontend/techpick/src/features/userManagement/api/queryFunctions.ts
  frontend/techpick/src/features/userManagement/api/useLogout.ts
  frontend/techpick/src/features/userManagement/utils/getClientCookie.ts
  frontend/techpick/src/shared/api/apiClient.ts
  frontend/techpick/src/shared/stores/treeStore.ts
  frontend/techpick/src/shared/types/ApiTypes.ts
  frontend/techpick/src/shared/types/NodeData.ts
  frontend/techpick/src/widgets/ContextMenu/ContextMenu.css.ts
  frontend/techpick/src/widgets/ContextMenu/EditorContextMenu.tsx
  frontend/techpick/src/widgets/ContextMenu/TreeContextMenu.tsx
  frontend/techpick/src/widgets/DirectoryNode/DirectoryNode.css.ts
  frontend/techpick/src/widgets/DirectoryNode/DirectoryNode.tsx
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.css.ts
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.tsx
  frontend/techpick/src/widgets/EditorContextMenu/index.tsx
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditor.tsx
Labels: frontend, fix :fire:, D-0

#240 [FEAT] V2 엔티티 설계
  backend/src/main/java/kernel360/techpick/core/model/common/BaseEntity.java
  backend/src/main/java/kernel360/techpick/core/model/event/LinkViewEvent.java
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/core/model/link/Link.java
  backend/src/main/java/kernel360/techpick/core/model/pick/Pick.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssRawData.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssSupportingBlog.java
  backend/src/main/java/kernel360/techpick/core/model/tag/Tag.java
  backend/src/main/java/kernel360/techpick/core/model/user/AgeGroup.java
  backend/src/main/java/kernel360/techpick/core/model/user/JobGroup.java
  backend/src/main/java/kernel360/techpick/core/model/user/User.java
  backend/src/main/java/kernel360/techpick/core/util/OrderConverter.java
Labels: feat, backend, D-0, refactor :construction:

#257 [FIX] 익스텐션 태그 중복 생성 차단
  frontend/techpick-extension/src/widgets/TagPicker/TagAutocompleteDialog/index.tsx
Labels: feat, frontend, fix :fire:

#260 [FIX] 로그인된 상태일 때 메인 페이지로 리다이렉트
  frontend/techpick/src/app/login/page.tsx
Labels: frontend, fix :fire:

#261 [FEAT] unclassified 표시 가능
  frontend/techpick/src/entities/pick/ui/PickCard.tsx
  frontend/techpick/src/features/nodeManagement/api/folder/folderQueryFunctions.ts
  frontend/techpick/src/features/nodeManagement/api/folder/useCreateFolder.ts
  frontend/techpick/src/features/nodeManagement/api/folder/useDeleteFolder.ts
  frontend/techpick/src/features/nodeManagement/api/folder/useGetDefaultFolderData.ts
  frontend/techpick/src/features/nodeManagement/api/folder/useGetRootAndRecycleBinData.ts
  frontend/techpick/src/features/nodeManagement/api/folder/useMoveFolder.ts
  frontend/techpick/src/features/nodeManagement/api/folder/useRenameFolder.ts
  frontend/techpick/src/features/nodeManagement/api/pick/pickQueryFunctions.ts
  frontend/techpick/src/features/nodeManagement/api/pick/useCreatePick.ts
  frontend/techpick/src/features/nodeManagement/api/pick/useGetUnclassifiedPicks.ts
  frontend/techpick/src/features/nodeManagement/hooks/useRestoreNode.ts
  frontend/techpick/src/features/nodeManagement/hooks/useTreeHandlers.ts
  frontend/techpick/src/shared/stores/treeStore.ts
  frontend/techpick/src/shared/types/ApiTypes.ts
  frontend/techpick/src/widgets/DirectoryNode/DirectoryNode.tsx
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.css.ts
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.tsx
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditor.tsx
  frontend/techpick/src/widgets/LinkEditorSection/index.tsx
Labels: feat, frontend

#266 [FEAT] PickCard API 연결
  frontend/techpick/src/apis/index.ts
  frontend/techpick/src/entities/pick/api/getPick/getPick.ts
  frontend/techpick/src/entities/pick/api/getPick/useGetPickQuery.ts
  frontend/techpick/src/entities/pick/api/index.ts
  frontend/techpick/src/entities/pick/api/updatePick/updatePick.ts
  frontend/techpick/src/entities/pick/api/updatePick/useUpdatePickMutation.ts
  frontend/techpick/src/entities/pick/index.ts
  frontend/techpick/src/entities/pick/type.ts
  frontend/techpick/src/entities/pick/ui/PickCard.tsx
  frontend/techpick/src/entities/pick/ui/pickCard.css.ts
  frontend/techpick/src/entities/tag/api/createTag.ts
  frontend/techpick/src/entities/tag/api/deleteTag.ts
  frontend/techpick/src/entities/tag/api/getTagList.ts
  frontend/techpick/src/entities/tag/api/updateTag.ts
  frontend/techpick/src/features/nodeManagement/ui/Pick.tsx
  frontend/techpick/src/features/tag/deleteTag/ui/DeleteTagDialog/index.tsx
  frontend/techpick/src/features/tag/deselectTag/DeselectTagButton.tsx
  frontend/techpick/src/shared/api/apiClient.ts
  frontend/techpick/src/shared/api/index.ts
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditor.tsx
  frontend/techpick/src/widgets/TagPicker/TagAutocompleteDialog/index.tsx
  frontend/techpick/src/widgets/TagPicker/index.tsx
Labels: feat, frontend

#268 feat: skelton 적용
  frontend/techpick/src/entities/pick/ui/PickCard.tsx
  frontend/techpick/src/entities/pick/ui/pickCard.css.ts
  frontend/techpick/src/widgets/TagPicker/TagAutocompleteDialog/index.tsx
  frontend/techpick/src/widgets/TagPicker/TagInfoEditPopoverButton/index.tsx
  frontend/techpick/src/widgets/TagPicker/index.tsx
Labels: feat, frontend

#270 [FIX] 태그 생성 후 창 유지후에 수정 했을 때, 생성한게 추가가 안되는 로직
  frontend/techpick/src/widgets/TagPicker/TagAutocompleteDialog/index.tsx
Labels: frontend, fix :fire:

#278 [FEAT] pick v2 도메인 개발
  backend/data/mysql-files/data.sql
  backend/data/mysql-files/rss_blog.csv
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/core/model/link/Link.java
  backend/src/main/java/kernel360/techpick/core/model/link/LinkRepository.java
  backend/src/main/java/kernel360/techpick/core/model/pick/Pick.java
  backend/src/main/java/kernel360/techpick/core/model/pick/PickRepository.java
  backend/src/main/java/kernel360/techpick/core/model/pick/PickTag.java
  backend/src/main/java/kernel360/techpick/core/model/pick/PickTagRepository.java
  backend/src/main/java/kernel360/techpick/feature/api/pick/controller/PickApiSpecification.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/controller/TagApiSpecification.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/exception/ApiFolderErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/exception/ApiFolderException.java
  backend/src/main/java/kernel360/techpick/feature/domain/link/dto/LinkInfo.java
  backend/src/main/java/kernel360/techpick/feature/domain/link/dto/LinkMapper.java
  backend/src/main/java/kernel360/techpick/feature/domain/link/dto/LinkResult.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickCommand.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickMapper.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickResult.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/exception/ApiPickException.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickService.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/domain/user/dto/UserResult.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/reader/FolderReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/reader/FolderReaderImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/reader/LinkReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/reader/LinkReaderImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/writer/LinkWriter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/writer/LinkWriterImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/reader/PickReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/reader/PickReaderImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/writer/PickWriter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/writer/PickWriterImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/user/reader/UserReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/user/reader/UserReaderImpl.java
  backend/src/test/java/domain/pick/PickTest.java
  backend/src/test/java/fixture/LinkFixture.java
  backend/src/test/java/fixture/UserFixture.java
  backend/src/test/java/kernel360/techpick/TechpickApplicationTests.java
  backend/src/test/resources/application-test.yaml
Labels: backend

#280 [REFACTOR] pick service 코드에서 chaining 제거
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickServiceImpl.java
Labels: backend, 기한 13:00 :dart:

#281 [FEAT] Tag v2 Service 구현
  backend/src/main/java/kernel360/techpick/core/model/pick/PickTagRepository.java
  backend/src/main/java/kernel360/techpick/core/model/tag/Tag.java
  backend/src/main/java/kernel360/techpick/core/model/tag/TagRepository.java
  backend/src/main/java/kernel360/techpick/core/model/user/User.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/dto/TagApiMapper.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/dto/TagApiRequest.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/dto/TagApiResponse.java
  backend/src/main/java/kernel360/techpick/feature/domain/tag/dto/TagCommand.java
  backend/src/main/java/kernel360/techpick/feature/domain/tag/dto/TagMapper.java
  backend/src/main/java/kernel360/techpick/feature/domain/tag/dto/TagResult.java
  backend/src/main/java/kernel360/techpick/feature/domain/tag/service/TagService.java
  backend/src/main/java/kernel360/techpick/feature/domain/tag/service/TagServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/writer/PickWriter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/writer/PickWriterImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/tag/reader/TagReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/tag/reader/TagReaderImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/tag/writer/TagWriter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/tag/writer/TagWriterImpl.java
Labels: feat, backend, 기한 19:00 :dart:

#283 [FIX] Pick API 예외 미흡 수정
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickMapper.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickResult.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/exception/ApiPickException.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickService.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/writer/PickWriterImpl.java
  backend/src/test/java/fixture/LinkFixture.java
  backend/src/test/java/fixture/UserFixture.java
Labels: backend, fix :fire:

#290 fix: Pick Write 예외 처리 추가 (권한)
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/writer/PickWriterImpl.java
Labels: backend, 기한 13:00 :dart:

#297 [REFACTOR] 테스트 코드 구현을 위한 Pick 도메인 수정
  backend/src/main/java/kernel360/techpick/core/model/pick/PickTagRepository.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickCommand.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/domain/tag/service/TagServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/PickAdaptor.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/PickAdaptorImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/reader/PickReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/reader/PickReaderImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/writer/PickWriter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/writer/PickWriterImpl.java
  backend/src/test/java/domain/pick/FakePickAdaptor.java
  backend/src/test/java/domain/pick/PickTest.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#284 [FEAT] Folder Domain/Infrastructure 구현
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/core/model/folder/FolderRepository.java
  backend/src/main/java/kernel360/techpick/feature/api/folder/dto/FolderApiMapper.java
  backend/src/main/java/kernel360/techpick/feature/api/folder/dto/FolderApiRequest.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/dto/FolderCommand.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/dto/FolderMapper.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/dto/FolderResult.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/service/FolderService.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/service/FolderServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/FolderAdapter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/FolderAdapterImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/reader/FolderReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/reader/FolderReaderImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/writer/FolderWriter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/writer/FolderWriterImpl.java
Labels: feat, backend, 기한 13:00 :dart:

#300 [FIX] 픽-태그 관계 테이블 업데이트 로직 추가
  backend/src/main/java/kernel360/techpick/core/model/pick/Pick.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickServiceImpl.java
Labels: backend, fix :fire:, 기한 13:00 :dart:

#309 [REFACTOR] Tag Service Infrastructure 리팩토링
  backend/src/main/java/kernel360/techpick/core/model/pick/PickTagRepository.java
  backend/src/main/java/kernel360/techpick/core/model/tag/TagRepository.java
  backend/src/main/java/kernel360/techpick/feature/domain/tag/service/TagServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/tag/TagAdaptor.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/tag/TagAdaptorImpl.java
  backend/src/test/java/kernel360/techpick/feature/domain/tag/service/TagServiceTest.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#314 [FEAT] 디자인 토큰 추가
  frontend/techpick/src/components/DirectoryTreeSection/DirectoryTreeSection.css.ts
Labels: feat, frontend

#316 [REFACTOR] Folder 도메인 리팩토링
  backend/src/main/java/kernel360/techpick/core/model/folder/FolderRepository.java
  backend/src/main/java/kernel360/techpick/feature/api/folder/dto/FolderApiMapper.java
  backend/src/main/java/kernel360/techpick/feature/api/folder/dto/FolderApiRequest.java
  backend/src/main/java/kernel360/techpick/feature/application/FolderFacade.java
  backend/src/main/java/kernel360/techpick/feature/application/TagFacade.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/dto/FolderCommand.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/exception/ApiFolderErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/exception/ApiFolderException.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/service/FolderService.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/service/FolderServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/FolderAdapter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/FolderAdapterImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/FolderAdaptor.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/folder/FolderAdaptorImpl.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#323 [REFACTOR] tag, folder 검증로직 메소드 분리
  backend/src/main/java/kernel360/techpick/feature/domain/folder/service/FolderServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/domain/tag/service/TagServiceImpl.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#328 [FEAT] Tag API 구현 및 Swagger 명세
  backend/src/main/java/kernel360/techpick/feature/api/tag/controller/TagApiController.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/dto/TagApiMapper.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/dto/TagApiRequest.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/dto/TagApiResponse.java
  backend/src/main/resources/application.yaml
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#326 [FEAT] LoginUserId 커스텀 어노테이션 구현
  backend/src/main/java/kernel360/techpick/core/annotation/LoginUserId.java
  backend/src/main/java/kernel360/techpick/core/config/WebConfig.java
  backend/src/main/java/kernel360/techpick/core/util/LoginUserArgumentResolver.java
Labels: feat, backend, D-1

#321 [REFACTOR] Rss 서비스 리팩토링
  backend/src/main/java/kernel360/techpick/batch/application/RssController.java
  backend/src/main/java/kernel360/techpick/batch/domain/rss/dto/RssBlogCommand.java
  backend/src/main/java/kernel360/techpick/batch/domain/rss/dto/RssBlogResult.java
  backend/src/main/java/kernel360/techpick/batch/domain/rss/dto/RssMapper.java
  backend/src/main/java/kernel360/techpick/batch/domain/rss/dto/RssRawFeed.java
  backend/src/main/java/kernel360/techpick/batch/domain/rss/exception/ApiRssErrorCode.java
  backend/src/main/java/kernel360/techpick/batch/domain/rss/exception/ApiRssException.java
  backend/src/main/java/kernel360/techpick/batch/domain/rss/service/RssService.java
  backend/src/main/java/kernel360/techpick/batch/domain/rss/service/RssServiceImpl.java
  backend/src/main/java/kernel360/techpick/batch/infrastructure/rss/RssAdaptor.java
  backend/src/main/java/kernel360/techpick/batch/infrastructure/rss/RssAdaptorImpl.java
  backend/src/main/java/kernel360/techpick/core/annotation/MeasureTime.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssBlog.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssBlogRepository.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssFeed.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssFeedRepository.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssRawDataRepository.java
  backend/src/main/java/kernel360/techpick/core/util/MeasureTimeAspect.java
  backend/src/main/java/kernel360/techpick/feature/domain/rss/dto/RssCommand.java
  backend/src/main/java/kernel360/techpick/feature/domain/rss/dto/RssMapper.java
  backend/src/main/java/kernel360/techpick/feature/domain/rss/dto/RssResult.java
  backend/src/main/java/kernel360/techpick/feature/domain/rss/service/RssService.java
  backend/src/main/java/kernel360/techpick/feature/domain/rss/service/RssServiceImpl.java
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#331 [FEAT] Folder Api 구현 및 Swagger 명세
  backend/src/main/java/kernel360/techpick/feature/api/folder/controller/FolderApiController.java
  backend/src/main/java/kernel360/techpick/feature/api/folder/controller/FolderApiSpecification.java
  backend/src/main/java/kernel360/techpick/feature/api/folder/dto/FolderApiMapper.java
  backend/src/main/java/kernel360/techpick/feature/api/folder/dto/FolderApiRequest.java
  backend/src/main/java/kernel360/techpick/feature/api/folder/dto/FolderApiResponse.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/controller/TagApiController.java
  backend/src/main/java/kernel360/techpick/feature/api/tag/controller/TagApiSpecification.java
  backend/src/main/java/kernel360/techpick/feature/domain/folder/service/FolderServiceImpl.java
Labels: feat, backend, 기한 13:00 :dart:

#332 [FEAT] 같은 계층일 때, 폴더 multi select 구현
  frontend/package.json
  frontend/techpick/jest.config.ts
  frontend/techpick/package.json
  frontend/techpick/src/app/tree/SortableItem.tsx
  frontend/techpick/src/app/tree/page.css.ts
  frontend/techpick/src/app/tree/page.tsx
  frontend/techpick/src/app/tree/sortableItem.util.tsx
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/dndTreeStore/moveFolder.spec.ts
  frontend/techpick/src/stores/dndTreeStore/testUtils.ts
  frontend/techpick/src/stores/dndTreeStore/treeMockDate.ts
  frontend/techpick/src/stores/testStore.spec.ts
  frontend/techpick/src/stores/testStore.ts
  frontend/techpick/src/types/folder.type.ts
  frontend/techpick/src/types/index.ts
  frontend/techpick/src/utils/array.ts
  frontend/techpick/src/utils/index.ts
  frontend/yarn.lock
Labels: feat, frontend, 기한 13:00 :dart:

#333 [FEAT] 검색창 및 리스트 로직 설계
  frontend/techpick/package.json
  frontend/techpick/src/components/Viewport/SearchWidget/SearchWidget.css.ts
  frontend/techpick/src/components/Viewport/SearchWidget/SearchWidget.tsx
  frontend/techpick/src/components/Viewport/Viewport.css.tsx
  frontend/techpick/src/components/Viewport/Viewport.tsx
  frontend/techpick/src/components/Viewport/api/useViewDataQuery.ts
  frontend/techpick/src/components/Viewport/model/useViewScope.ts
  frontend/techpick/src/components/Viewport/model/useViewScope.type.ts
  frontend/techpick/src/components/Viewport/util/index.ts
  frontend/techpick/src/components/Viewport/util/stream/Stream.type.ts
  frontend/techpick/src/components/Viewport/util/stream/StreamImpl.ts
  frontend/techpick/src/components/Viewport/util/tokenizer/PrefixTokenizer.type.ts
  frontend/techpick/src/components/Viewport/util/tokenizer/PrefixTokenizerImpl.ts
  frontend/techpick/src/components/Viewport/util/tokenizer/example.png
  frontend/techpick/src/components/Viewport/util/tokenizer/readme.md
  frontend/yarn.lock
Labels: feat, frontend, 기한 13:00 :dart:

#342 [FEAT] Pick 리팩토링 진행 및 API 구현
  backend/src/main/java/kernel360/techpick/core/model/folder/Folder.java
  backend/src/main/java/kernel360/techpick/core/model/pick/Pick.java
  backend/src/main/java/kernel360/techpick/core/model/pick/PickRepository.java
  backend/src/main/java/kernel360/techpick/core/model/pick/PickTagRepository.java
  backend/src/main/java/kernel360/techpick/core/model/tag/Tag.java
  backend/src/main/java/kernel360/techpick/core/model/tag/TagRepository.java
  backend/src/main/java/kernel360/techpick/core/model/user/User.java
  backend/src/main/java/kernel360/techpick/core/util/OrderConverter.java
  backend/src/main/java/kernel360/techpick/feature/api/pick/controller/PickApiController.java
  backend/src/main/java/kernel360/techpick/feature/api/pick/dto/PickApiMapper.java
  backend/src/main/java/kernel360/techpick/feature/api/pick/dto/PickApiRequest.java
  backend/src/main/java/kernel360/techpick/feature/api/pick/dto/PickApiResponse.java
  backend/src/main/java/kernel360/techpick/feature/domain/link/dto/LinkInfo.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickCommand.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickMapper.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/dto/PickResult.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/exception/ApiPickErrorCode.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/exception/ApiPickException.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickService.java
  backend/src/main/java/kernel360/techpick/feature/domain/pick/service/PickServiceImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/LinkAdaptor.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/LinkAdaptorImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/reader/LinkReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/reader/LinkReaderImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/writer/LinkWriter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/link/writer/LinkWriterImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/PickAdaptor.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/pick/PickAdaptorImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/tag/TagAdaptor.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/tag/TagAdaptorImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/user/UserAdaptor.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/user/UserAdaptorImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/user/reader/UserReader.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/user/reader/UserReaderImpl.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/user/writer/UserWriter.java
  backend/src/main/java/kernel360/techpick/feature/infrastructure/user/writer/UserWriterImpl.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/domain/pick/FakePickAdaptor.java
  backend/src/test/java/domain/pick/PickTest.java
  backend/src/test/java/kernel360/techpick/feature/domain/pick/service/PickServiceTest.java
  backend/src/test/java/kernel360/techpick/feature/domain/tag/service/TagServiceTest.java
  backend/src/test/java/kernel360/techpick/feature/infrastructure/link/LinkAdaptorTest.java
  backend/src/test/resources/application-test.yaml
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#346 [TEST] 멀티모듈 ci/cd 테스트
  .github/workflows/multi-module_cicd.yml
Labels: backend, ci/cd :rocket:

#347 [CI/CD] 멀티모듈 ci/cd 적용
  .github/workflows/api-module-cicd.yml
  .github/workflows/backend_pr_bot.yml
  .github/workflows/batch-module-cicd.yml
  backend/docker-compose.yaml
Labels: backend, ci/cd :rocket:, 기한 13:00 :dart:

#348 [FEAT] 픽 리스트 - 사용자 설정 필터 & 뷰 템플릿
  frontend/techpick/package.json
  frontend/techpick/src/components/PickListViewerPanel/OptionWidget/FilterOptionWidget.tsx
  frontend/techpick/src/components/PickListViewerPanel/OptionWidget/OptionWidget.css.ts
  frontend/techpick/src/components/PickListViewerPanel/OptionWidget/OptionWidget.tsx
  frontend/techpick/src/components/PickListViewerPanel/OptionWidget/ViewOptionWidget.tsx
  frontend/techpick/src/components/PickListViewerPanel/PickListViewerPanel.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/PickListViewerPanel.tsx
  frontend/techpick/src/components/PickListViewerPanel/SearchWidget/SearchWidget.css.ts
  frontend/techpick/src/components/PickListViewerPanel/SearchWidget/SearchWidget.tsx
  frontend/techpick/src/components/PickListViewerPanel/api/dummyData.ts
  frontend/techpick/src/components/PickListViewerPanel/api/useGetPickSearchQuery.ts
  frontend/techpick/src/components/PickListViewerPanel/model/useViewerOptions.ts
  frontend/techpick/src/components/PickListViewerPanel/model/useViewerOptions.type.ts
  frontend/techpick/src/components/PickListViewerPanel/model/useViewerState.ts
  frontend/techpick/src/components/PickListViewerPanel/model/useViewerState.type.ts
  frontend/techpick/src/components/PickListViewerPanel/template/filter/FilterTemplate.ts
  frontend/techpick/src/components/PickListViewerPanel/template/view/ViewTemplate.ts
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Card/SimpleCard.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Card/SimpleCard.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Record/SimpleRecord.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Record/SimpleRecord.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/layout/GridLayout.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/layout/ListLayout.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/types/common.type.ts
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItem.tsx
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemCommonStyle.ts
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemContent.css.ts
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemContent.tsx
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemLayout.css.ts
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemLayout.tsx
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemList.css.ts
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemList.tsx
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/index.ts
  frontend/techpick/src/components/PickListViewerPanel/util/index.ts
  frontend/techpick/src/components/PickListViewerPanel/util/stream/BatchStream.type.ts
  frontend/techpick/src/components/PickListViewerPanel/util/stream/BatchStreamImpl.ts
  frontend/techpick/src/components/PickListViewerPanel/util/tokenizer/PrefixPatternBuilder.ts
  frontend/techpick/src/components/PickListViewerPanel/util/tokenizer/PrefixTokenizer.type.ts
  frontend/techpick/src/components/PickListViewerPanel/util/tokenizer/PrefixTokenizerImpl.ts
  frontend/techpick/src/components/PickListViewerPanel/util/tokenizer/example.png
  frontend/techpick/src/components/PickListViewerPanel/util/tokenizer/readme.md
  frontend/techpick/src/components/Viewport/SearchWidget/SearchWidget.tsx
  frontend/techpick/src/components/Viewport/Viewport.tsx
  frontend/techpick/src/components/Viewport/api/useViewDataQuery.ts
  frontend/techpick/src/components/Viewport/model/useViewScope.ts
  frontend/techpick/src/components/Viewport/model/useViewScope.type.ts
  frontend/techpick/src/components/Viewport/util/index.ts
  frontend/techpick/src/components/Viewport/util/stream/Stream.type.ts
  frontend/techpick/src/components/Viewport/util/stream/StreamImpl.ts
  frontend/techpick/src/types/ApiTypes.ts
  frontend/yarn.lock
Labels: feat, frontend, 기한 19:00 :dart:

#351 [REFACTOR] Drag & Drop 함수 및 컴포넌트 분리
  frontend/techpick/src/app/tree/SortableItem.tsx
  frontend/techpick/src/app/tree/page.tsx
  frontend/techpick/src/app/tree/sortableItem.util.tsx
  frontend/techpick/src/components/FolderTree/FolderDraggable.tsx
  frontend/techpick/src/components/FolderTree/FolderDropZone.tsx
  frontend/techpick/src/components/FolderTree/FolderInfoItem.tsx
  frontend/techpick/src/components/FolderTree/TreeNode.tsx
  frontend/techpick/src/components/FolderTree/folderInfoItem.css.ts
  frontend/techpick/src/components/FolderTree/folderInfoItem.util.ts
  frontend/techpick/src/components/FolderTree/index.tsx
  frontend/techpick/src/components/FolderTree/tree.css.ts
  frontend/techpick/src/components/FolderTree/treeNode.css.ts
  frontend/techpick/src/components/index.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/dndTreeStore/moveFolder.spec.ts
  frontend/techpick/src/stores/dndTreeStore/testUtils.ts
  frontend/techpick/src/stores/dndTreeStore/treeMockDate.ts
  frontend/techpick/src/stores/dndTreeStore/utils/changeParentFolderId.ts
  frontend/techpick/src/stores/dndTreeStore/utils/isDnDCurrentData.ts
  frontend/techpick/src/stores/dndTreeStore/utils/moveFolderToDifferentParent.ts
  frontend/techpick/src/stores/dndTreeStore/utils/reorderFoldersInSameParent.ts
  frontend/techpick/src/stores/testStore.spec.ts
  frontend/techpick/src/stores/testStore.ts
  frontend/techpick/src/types/folder.type.ts
Labels: frontend, refactor :construction:, 기한 13:00 :dart:

#354 [FEAT] 공통 테마에 jsdoc 추가
  frontend/techpick-shared/themes/commonTheme.css.ts
Labels: feat, frontend, D-3

#360 [FIX] drag & drop 후 정렬 변경
  frontend/techpick/src/components/FolderTree/FolderDropZone.tsx
  frontend/techpick/src/components/FolderTree/FolderInfoItem.tsx
  frontend/techpick/src/components/FolderTree/folderInfoItem.util.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/dndTreeStore/treeMockDate.ts
Labels: frontend, fix :fire:, 기한 19:00 :dart:

#357 [REFACTOR] 인터페이스 제거, Adaptor 이름 변경, Pick 리팩토링
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderServiceImpl.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/service/LinkService.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/service/LinkServiceImpl.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/exception/ApiPickErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/exception/ApiPickException.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickServiceImpl.java
  backend/techpick-api/src/main/java/techpick/api/domain/tag/service/TagService.java
  backend/techpick-api/src/main/java/techpick/api/domain/tag/service/TagServiceImpl.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/UserService.java
  backend/techpick-api/src/main/java/techpick/api/domain/user/service/UserServiceImpl.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderAdaptor.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/link/LinkAdaptor.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/link/LinkDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickAdaptor.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagAdaptor.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/user/UserAdaptor.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/user/UserDataHandler.java
  backend/techpick-api/src/test/java/techpick/api/application/infrastructure/link/LinkAdaptorTest.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickServiceTest.java
  backend/techpick-api/src/test/java/techpick/api/domain/tag/service/TagServiceTest.java
  backend/techpick-api/src/test/resources/application-test.yaml
  backend/techpick-core/src/main/java/techpick/core/model/folder/Folder.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/Pick.java
  backend/techpick-core/src/main/java/techpick/core/model/tag/Tag.java
  backend/techpick-core/src/main/resources/application-core.yaml
Labels: backend, refactor :construction:, 기한 19:00 :dart:
