Repository Kernel360/F2-BAGUNI, pull requests merged in 2024-09, with the labels that each got.

#3 [FEAT] 백엔드 프로젝트 설정
  backend/.env.sample
  backend/.gitignore
  backend/build.gradle
  backend/docker-compose.yaml
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/project-setup/README.md
  backend/project-setup/env_setup_tutorial.png
  backend/project-setup/naver-checkstyle-rules.xml
  backend/project-setup/naver-checkstyle-supperssions.xml
  backend/project-setup/naver-intellij-formatter.xml
  backend/settings.gradle
  backend/src/main/java/kernel360/techpick/TechpickApplication.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/kernel360/techpick/TechpickApplicationTests.java
Labels: feat, backend

#6 [FEAT] 백엔드 pr 빌드봇 추가
  .github/workflows/backend_pr_bot.yml
Labels: feat, backend

#4 feat: 깃허브 액션 테스트용 PR
  .gitignore
  .husky/pre-commit
  frontend/.eslintrc.json
  frontend/.github/workflows/playwright.yml
  frontend/.gitignore
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/.prettierrc
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.vscode/extensions.json
  frontend/.vscode/settings.json
  frontend/.yarn/sdks/eslint/bin/eslint.js
  frontend/.yarn/sdks/eslint/lib/api.js
  frontend/.yarn/sdks/eslint/lib/unsupported-api.js
  frontend/.yarn/sdks/eslint/package.json
  frontend/.yarn/sdks/integrations.yml
  frontend/.yarn/sdks/prettier/bin/prettier.cjs
  frontend/.yarn/sdks/prettier/index.cjs
  frontend/.yarn/sdks/prettier/package.json
  frontend/.yarn/sdks/typescript/bin/tsc
  frontend/.yarn/sdks/typescript/bin/tsserver
  frontend/.yarn/sdks/typescript/lib/tsc.js
  frontend/.yarn/sdks/typescript/lib/tsserver.js
  frontend/.yarn/sdks/typescript/lib/tsserverlibrary.js
  frontend/.yarn/sdks/typescript/lib/typescript.js
  frontend/.yarn/sdks/typescript/package.json
  frontend/.yarnrc.yml
  frontend/README.md
  frontend/jest.config.ts
  frontend/next.config.js
  frontend/next.config.mjs
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/ClientPrivider.tsx
  frontend/src/app/favicon.ico
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tests/example.spec.ts
  frontend/tsconfig.json
  frontend/yarn.lock
  node_modules/.yarn-integrity
  yarn.lock
Labels: feat, frontend

#11 chore: 프로젝트 구조 세팅
  frontend/src/apis/index.ts
  frontend/src/app/ClientProvider.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/report/page.tsx
  frontend/src/components/index.ts
  frontend/src/features/index.ts
  frontend/src/hooks/index.ts
  frontend/src/lib/index.ts
  frontend/src/widgets/index.ts
  node_modules/.yarn-integrity
  yarn.lock
Labels: feat, frontend

#13 feat: swagger 설정 추가
  backend/build.gradle
  backend/src/main/java/kernel360/techpick/config/SwaggerConfig.java
Labels: feat, backend

#15 feat: ERD 기반 Entity 정의
  backend/build.gradle
  backend/src/main/java/kernel360/techpick/config/JpaAuditingConfig.java
  backend/src/main/java/kernel360/techpick/config/P6SpySqlLoggerConfig.java
  backend/src/main/java/kernel360/techpick/entity/admin/Administrator.java
  backend/src/main/java/kernel360/techpick/entity/admin/CrawlingTopicMapping.java
  backend/src/main/java/kernel360/techpick/entity/admin/Topic.java
  backend/src/main/java/kernel360/techpick/entity/article/Article.java
  backend/src/main/java/kernel360/techpick/entity/article/ArticleTopic.java
  backend/src/main/java/kernel360/techpick/entity/article/RawCrawledArticle.java
  backend/src/main/java/kernel360/techpick/entity/blog/Blog.java
  backend/src/main/java/kernel360/techpick/entity/common/CreatedAndUpdatedTimeColumn.java
  backend/src/main/java/kernel360/techpick/entity/event/AricleViewEvent.java
  backend/src/main/java/kernel360/techpick/entity/event/EventLocation.java
  backend/src/main/java/kernel360/techpick/entity/subscriber/EmailSubscriber.java
  backend/src/main/java/kernel360/techpick/entity/user/AgeGroup.java
  backend/src/main/java/kernel360/techpick/entity/user/JobGroup.java
  backend/src/main/java/kernel360/techpick/entity/user/User.java
  backend/src/main/java/kernel360/techpick/entity/user/UserTopic.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/logback-spring.xml
Labels: feat, backend, D-1

#22 feat: RSS 기능 구현
  backend/build.gradle
  backend/src/main/java/kernel360/techpick/config/RestTemplateConfig.java
  backend/src/main/java/kernel360/techpick/entity/article/Article.java
  backend/src/main/java/kernel360/techpick/entity/article/RawCrawledArticle.java
  backend/src/main/java/kernel360/techpick/rss/controller/RssController.java
  backend/src/main/java/kernel360/techpick/rss/dto/RssResponse.java
  backend/src/main/java/kernel360/techpick/rss/dto/Url.java
  backend/src/main/java/kernel360/techpick/rss/repository/RssRepository.java
  backend/src/main/java/kernel360/techpick/rss/service/RssService.java
Labels: feat, backend, D-0

#37 chore: 폴더명 변경
  .husky/pre-commit
  frontend/.pnp.cjs
  frontend/package.json
  frontend/techpick-extension/README.md
  frontend/techpick-extension/eslint.config.js
  frontend/techpick-extension/index.html
  frontend/techpick-extension/package.json
  frontend/techpick-extension/public/vite.svg
  frontend/techpick-extension/src/App.css
  frontend/techpick-extension/src/App.tsx
  frontend/techpick-extension/src/assets/react.svg
  frontend/techpick-extension/src/index.css
  frontend/techpick-extension/src/main.tsx
  frontend/techpick-extension/src/vite-env.d.ts
  frontend/techpick-extension/tsconfig.app.json
  frontend/techpick-extension/tsconfig.json
  frontend/techpick-extension/tsconfig.node.json
  frontend/techpick-extension/vite.config.ts
  frontend/techpick/.eslintrc.json
  frontend/techpick/.gitignore
  frontend/techpick/.storybook/main.ts
  frontend/techpick/.storybook/preview.ts
  frontend/techpick/README.md
  frontend/techpick/jest.config.ts
  frontend/techpick/next.config.js
  frontend/techpick/next.config.mjs
  frontend/techpick/package.json
  frontend/techpick/playwright.config.ts
  frontend/techpick/src/apis/index.ts
  frontend/techpick/src/app/ClientProvider.tsx
  frontend/techpick/src/app/favicon.ico
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/app/page.tsx
  frontend/techpick/src/app/report/asdf.ts
  frontend/techpick/src/app/report/page.tsx
  frontend/techpick/src/components/index.ts
  frontend/techpick/src/features/index.ts
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/lib/index.ts
  frontend/techpick/src/widgets/index.ts
  frontend/techpick/tests/example.spec.ts
  frontend/techpick/tsconfig.json
  frontend/yarn.lock
Labels: chore, frontend, D-0

#44 feat: 소셜로그인 구현
  backend/build.gradle
  backend/src/main/java/kernel360/techpick/core/auth/Filter/TokenAuthenticationFilter.java
  backend/src/main/java/kernel360/techpick/core/auth/handler/OAuth2SuccessHandler.java
  backend/src/main/java/kernel360/techpick/core/auth/model/OAuth2UserInfo.java
  backend/src/main/java/kernel360/techpick/core/auth/service/CustomOAuth2Service.java
  backend/src/main/java/kernel360/techpick/core/config/OAuth2AttributeConfigProvider.java
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
  backend/src/main/java/kernel360/techpick/core/exception/base/ApiErrorCode.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/oauth2/ApiOAuth2Exception.java
  backend/src/main/java/kernel360/techpick/core/model/user/SocialType.java
  backend/src/main/java/kernel360/techpick/core/model/user/User.java
  backend/src/main/java/kernel360/techpick/core/util/CookieUtil.java
  backend/src/main/java/kernel360/techpick/core/util/JwtUtil.java
  backend/src/main/java/kernel360/techpick/feature/user/UserRepository.java
  backend/src/main/java/kernel360/techpick/feature/user/readme.md
  backend/src/main/resources/application.yaml
  backend/src/main/resources/oauth2-config.yaml
Labels: feat, backend, D-1

#49 refactor: 에러 코드 기능별 분리
  backend/.env.sample
  backend/src/main/java/kernel360/techpick/core/exception/base/ApiErrorBody.java
  backend/src/main/java/kernel360/techpick/core/exception/base/ApiErrorCode.java
  backend/src/main/java/kernel360/techpick/core/exception/base/ApiErrorResponse.java
  backend/src/main/java/kernel360/techpick/core/exception/base/ApiException.java
  backend/src/main/java/kernel360/techpick/core/exception/base/ApiExceptionHandler.java
  backend/src/main/java/kernel360/techpick/core/exception/base/internal/ApiErrorBody.java
  backend/src/main/java/kernel360/techpick/core/exception/base/internal/ApiException.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/oauth2/ApiOAuth2ErrorCode.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/oauth2/ApiOAuth2Exception.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/tag/ApiTagErrorCode.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/tag/ApiTagException.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/user/ApiUserErrorCode.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/user/ApiUserException.java
Labels: backend, D-1, refactor

#50 feat: 현재 탭에서 데이터 가져오기
  frontend/.pnp.cjs
  frontend/techpick-extension/package.json
  frontend/techpick-extension/src/chorme-extension/manifest.json
  frontend/techpick-extension/src/chrome-extension/background.ts
  frontend/techpick-extension/src/chrome-extension/contentscript.ts
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/components/CurrentTabInfo.css.ts
  frontend/techpick-extension/src/components/CurrentTabInfo.tsx
  frontend/techpick-extension/src/constants/index.ts
  frontend/techpick-extension/src/hooks/index.ts
  frontend/techpick-extension/src/hooks/useGetTabInfo/useGetTabInfo.lib.ts
  frontend/techpick-extension/src/hooks/useGetTabInfo/useGetTabInfo.tsx
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
  frontend/techpick-extension/src/pages/index.ts
  frontend/techpick-extension/src/routers/index.tsx
  frontend/techpick-extension/src/types/index.ts
  frontend/techpick-extension/src/types/message.ts
  frontend/techpick-extension/tsconfig.app.json
  frontend/techpick-extension/tsconfig.app.tsbuildinfo
  frontend/techpick-extension/tsconfig.node.json
  frontend/techpick-extension/vite.config.ts
  frontend/yarn.lock
Labels: feat, frontend, D-1

#52 feat: 페이지 기본 요소 렌더링
  frontend/.gitignore
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/.yarn/releases/yarn-4.3.1.cjs
  frontend/.yarn/releases/yarn-4.4.1.cjs
  frontend/.yarn/sdks/typescript/package.json
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/techpick/package.json
  frontend/techpick/public/image/ic_arrow_down.svg
  frontend/techpick/public/image/ic_arrow_right.svg
  frontend/techpick/public/image/ic_bookmark.svg
  frontend/techpick/public/image/ic_bookmark2.svg
  frontend/techpick/public/image/ic_directory.svg
  frontend/techpick/public/image/ic_doc.svg
  frontend/techpick/public/image/ic_folder.svg
  frontend/techpick/public/image/ic_search.svg
  frontend/techpick/public/image/ic_sort.svg
  frontend/techpick/public/image/ic_user.svg
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/app/page.tsx
  frontend/techpick/src/app/report/asdf.ts
  frontend/techpick/src/app/report/page.tsx
  frontend/techpick/src/app/style.css.ts
  frontend/techpick/src/components/DirectoryNode/DirectoryNode.tsx
  frontend/techpick/src/components/DirectoryNode/directoryNode.css.ts
  frontend/techpick/src/components/index.ts
  frontend/techpick/src/features/ToggleTheme/ToggleThemeButton.tsx
  frontend/techpick/src/features/index.ts
  frontend/techpick/src/lib/stores/themeStore.ts
  frontend/techpick/src/providers/ThemeProvider.tsx
  frontend/techpick/src/providers/ToastProvider.tsx
  frontend/techpick/src/providers/index.ts
  frontend/techpick/src/shared/const/mockdata.ts
  frontend/techpick/src/shared/themes/commonTheme.css.ts
  frontend/techpick/src/shared/themes/commonThemeContract.css.ts
  frontend/techpick/src/shared/themes/darkTheme.css.ts
  frontend/techpick/src/shared/themes/index.ts
  frontend/techpick/src/shared/themes/lightTheme.css.ts
  frontend/techpick/src/shared/themes/reset.css.ts
  frontend/techpick/src/shared/themes/themeContract.css.ts
  frontend/techpick/src/shared/types/NodeData.ts
  frontend/techpick/src/shared/types/index.ts
  frontend/techpick/src/widgets/DirectoryTreeSection/DirectoryTreeSection.tsx
  frontend/techpick/src/widgets/DirectoryTreeSection/directoryTreeSection.css.ts
  frontend/techpick/src/widgets/FeaturedSection/FeaturedSection.tsx
  frontend/techpick/src/widgets/FeaturedSection/featuredSection.css.ts
  frontend/techpick/src/widgets/LinkEditorSection/LinkEditorSection.tsx
  frontend/techpick/src/widgets/LinkEditorSection/linkEditorSection.css.ts
  frontend/techpick/src/widgets/index.ts
  frontend/yarn.lock
Labels: feat, frontend

#64 feat: 테스트 api 서버 배포
  .github/workflows/test-server-deploy.yml
  backend/Dockerfile
  backend/docker-compose.yaml
  backend/src/main/resources/logback-spring.xml
Labels: feat, backend, D-1

#46 feat: RSS 기능 구현
  backend/.gitignore
  backend/data/mysql-files/rss_blog.csv
  backend/src/main/java/kernel360/techpick/core/config/RestTemplateConfig.java
  backend/src/main/java/kernel360/techpick/core/model/link/Link.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssRawData.java
  backend/src/main/java/kernel360/techpick/core/model/rss/RssSupportingBlog.java
  backend/src/main/java/kernel360/techpick/feature/rss/controller/RssController.java
  backend/src/main/java/kernel360/techpick/feature/rss/model/dto/RssResponse.java
  backend/src/main/java/kernel360/techpick/feature/rss/repository/RssBlogRepository.java
  backend/src/main/java/kernel360/techpick/feature/rss/repository/RssRawDataRepository.java
  backend/src/main/java/kernel360/techpick/feature/rss/service/RssService.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/data.sql
Labels: feat, backend, D-2

#63 [feat] Link CRUD 구현
  backend/src/main/java/kernel360/techpick/core/config/SecurityConfig.java
  backend/src/main/java/kernel360/techpick/core/exception/base/ApiExceptionHandler.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/link/ApiLinkErrorCode.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/link/ApiLinkException.java
  backend/src/main/java/kernel360/techpick/core/model/link/Link.java
  backend/src/main/java/kernel360/techpick/feature/link/controller/LinkApi.java
  backend/src/main/java/kernel360/techpick/feature/link/controller/LinkController.java
  backend/src/main/java/kernel360/techpick/feature/link/model/dto/LinkRequest.java
  backend/src/main/java/kernel360/techpick/feature/link/model/dto/LinkResponse.java
  backend/src/main/java/kernel360/techpick/feature/link/model/mapper/LinkMapper.java
  backend/src/main/java/kernel360/techpick/feature/link/model/provider/LinkProvider.java
  backend/src/main/java/kernel360/techpick/feature/link/repository/LinkRepository.java
  backend/src/main/java/kernel360/techpick/feature/link/service/LinkService.java
  backend/src/main/java/kernel360/techpick/feature/pick/repository/PickRepository.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/static/favicon.ico
Labels: feat, backend, D-1

#73 [refactor] PickTag 엔티티 변경
  backend/src/main/java/kernel360/techpick/core/model/pick/PickTag.java
Labels: backend, D-0, refactor

#71 [feat] 태그 API 구현
  backend/src/main/java/kernel360/techpick/core/exception/feature/tag/ApiTagErrorCode.java
  backend/src/main/java/kernel360/techpick/core/exception/feature/tag/ApiTagException.java
  backend/src/main/java/kernel360/techpick/core/model/tag/Tag.java
  backend/src/main/java/kernel360/techpick/feature/pick/repository/PickTagRepository.java
  backend/src/main/java/kernel360/techpick/feature/tag/controller/TagApi.java
  backend/src/main/java/kernel360/techpick/feature/tag/controller/TagApiV1.java
  backend/src/main/java/kernel360/techpick/feature/tag/controller/TagController.java
  backend/src/main/java/kernel360/techpick/feature/tag/controller/TagPrivateControllerV1.java
  backend/src/main/java/kernel360/techpick/feature/tag/exception/TagCustomException.java
  backend/src/main/java/kernel360/techpick/feature/tag/model/TagMapper.java
  backend/src/main/java/kernel360/techpick/feature/tag/model/TagProvider.java
  backend/src/main/java/kernel360/techpick/feature/tag/model/TagUpdater.java
  backend/src/main/java/kernel360/techpick/feature/tag/model/dto/TagCreateRequest.java
  backend/src/main/java/kernel360/techpick/feature/tag/model/dto/TagCreateResponse.java
  backend/src/main/java/kernel360/techpick/feature/tag/model/dto/TagResponse.java
  backend/src/main/java/kernel360/techpick/feature/tag/model/dto/TagUpdateRequest.java
  backend/src/main/java/kernel360/techpick/feature/tag/repository/TagRepository.java
  backend/src/main/java/kernel360/techpick/feature/tag/service/TagService.java
  backend/src/main/java/kernel360/techpick/feature/tag/util/TagConverter.java
Labels: feat, backend, D-2

#79 [test] 테스트용 mysql 분리
  backend/data/mysql-files/rss_blog.csv
  backend/docker-compose.yaml
  backend/src/main/resources/data.sql
  backend/src/test/resources/application-test.yaml
Labels: test, backend, D-0

#89 [refactor] 태그 수정 검증로직 추가 및 태그 순서 필드명 수정
  backend/src/main/java/kernel360/techpick/feature/tag/model/TagUpdater.java
  backend/src/main/java/kernel360/techpick/feature/tag/service/TagService.java
  backend/src/main/java/kernel360/techpick/feature/tag/service/dto/TagResponse.java
  backend/src/main/java/kernel360/techpick/feature/tag/service/dto/TagUpdateRequest.java
Labels: backend, D-0, refactor
