Repository Kernel360/F2-BAGUNI, pull requests merged in 2024-11, with the labels that each got.

#365 [FEAT] 폴더 생성 UI 및 상태 관리 로직 변경
  frontend/techpick-shared/themes/commonTheme.css.ts
  frontend/techpick/src/components/FolderTree/CreateFolderInput.tsx
  frontend/techpick/src/components/FolderTree/FolderDraggable.tsx
  frontend/techpick/src/components/FolderTree/FolderInfoItem.tsx
  frontend/techpick/src/components/FolderTree/FolderTreeHeader.tsx
  frontend/techpick/src/components/FolderTree/ShowCreateFolderInputButton.tsx
  frontend/techpick/src/components/FolderTree/TreeNode.tsx
  frontend/techpick/src/components/FolderTree/createFolderInput.css.ts
  frontend/techpick/src/components/FolderTree/folderInfoItem.css.ts
  frontend/techpick/src/components/FolderTree/folderTreeHeader.css.ts
  frontend/techpick/src/components/FolderTree/index.tsx
  frontend/techpick/src/components/FolderTree/showCreateFolderInputButton.css.ts
  frontend/techpick/src/components/FolderTree/tree.css.ts
  frontend/techpick/src/components/FolderTree/treeNode.css.ts
  frontend/techpick/src/components/Text/Text.css.ts
  frontend/techpick/src/constants/index.ts
  frontend/techpick/src/stores/createFolderInputStore.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/dndTreeStore/treeMockDate.ts
  frontend/techpick/src/utils/index.ts
  frontend/techpick/src/utils/string.ts
Labels: feat, frontend

#367 [FEAT] 폴더 이름 변경 UI 및 로직 구현
  frontend/techpick-shared/themes/commonTheme.css.ts
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/components/FolderTree/FolderContextMenu.tsx
  frontend/techpick/src/components/FolderTree/FolderInfoItem.tsx
  frontend/techpick/src/components/FolderTree/FolderInput.tsx
  frontend/techpick/src/components/FolderTree/TreeNode.tsx
  frontend/techpick/src/components/FolderTree/folderContextMenu.css.ts
  frontend/techpick/src/components/FolderTree/folderInput.css.ts
  frontend/techpick/src/constants/index.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/utils/index.ts
  frontend/techpick/src/utils/portal.ts
Labels: feat, frontend

#369 [FEAT] 폴더 삭제 UI 및 인터렉션 추가
  frontend/techpick/src/components/FolderTree/FolderContextMenu.tsx
  frontend/techpick/src/components/FolderTree/FolderInfoItem.tsx
  frontend/techpick/src/components/FolderTree/FolderInput.tsx
  frontend/techpick/src/components/FolderTree/TreeNode.tsx
  frontend/techpick/src/components/FolderTree/folderContextMenu.css.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
Labels: feat, frontend

#372 [FIX] 태그 api 수정 및 Swagger 파라미터 수정
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/tag/controller/TagApiController.java
Labels: backend, fix :fire:, 기한 19:00 :dart:

#376 [FIX] 스웨거 응답값 수정 및 픽 update 버그 수정
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiSpecification.java
  backend/techpick-api/src/main/java/techpick/api/application/tag/controller/TagApiController.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
Labels: backend, fix :fire:, 기한 13:00 :dart:

#377 [FEAT] 소셜 로그인 리다이렉션 구현
  backend/techpick-core/src/main/resources/application-core.yaml
  backend/techpick-security/src/main/java/techpick/security/TechPickAuthorizationRequestRepository.java
  backend/techpick-security/src/main/java/techpick/security/config/SecurityConfig.java
  backend/techpick-security/src/main/java/techpick/security/config/WebConfig.java
  backend/techpick-security/src/main/java/techpick/security/filter/TokenAuthenticationFilter.java
  backend/techpick-security/src/main/java/techpick/security/handler/OAuth2SuccessHandler.java
  backend/techpick-security/src/main/java/techpick/security/handler/TechPickLogoutHandler.java
  backend/techpick-security/src/main/java/techpick/security/util/CookieUtil.java
  backend/techpick-security/src/main/java/techpick/security/util/LoginUserArgumentResolver.java
  backend/techpick-security/src/main/resources/application-security.yaml
Labels: feat, backend, refactor :construction:, 기한 19:00 :dart:

#379 [REFACTOR] Folder API 수정, Folder 리팩토링
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiErrorResponse.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiExceptionHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/folder/Folder.java
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#380 [CI/CD] nextjs docker image 사이즈 감소
  frontend/Dockerfile
  frontend/techpick/next.config.js
Labels: frontend, D-3, ci/cd :rocket:

#381 [REFACTOR] local-dev-prod 설정 분리
  backend/docker-compose.yaml
  backend/techpick-api/src/main/java/techpick/api/config/SwaggerConfig.java
  backend/techpick-core/src/main/resources/application-core.yaml
  backend/techpick-security/src/main/java/techpick/security/config/SecurityConfig.java
  backend/techpick-security/src/main/java/techpick/security/handler/OAuth2SuccessHandler.java
  backend/techpick-security/src/main/java/techpick/security/util/CookieUtil.java
  backend/techpick-security/src/main/resources/application-security.yaml
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#384 [REFACTOR] Folder, Tag 리팩토링
  backend/build.gradle
  backend/techpick-api/build.gradle
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/tag/controller/TagApiController.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-security/src/main/java/techpick/security/annotation/LoginUserId.java
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#389 [REFACTOR] Local MySQL 접속 설정 변경
  backend/docker-compose.yaml
  backend/techpick-core/src/main/resources/application-core.yaml
Labels: backend, refactor :construction:

#396 [REFACTOR] api request, response 양식 통일
  backend/.env.sample
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/tag/dto/TagApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/domain/tag/dto/TagCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/tag/service/TagService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickServiceTest.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#397 [REFACTOR] 폴더 멀티 이동 관련 버그 수정, Pick, Folder 변수명 통일
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickServiceTest.java
  backend/techpick-core/src/main/java/techpick/core/model/folder/Folder.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/Pick.java
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#402 [FIX] 테스트가 동작하지 않는 버그 수정
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickServiceTest.java
  backend/techpick-api/src/test/java/techpick/api/domain/tag/service/TagServiceTest.java
  backend/techpick-api/src/test/resources/application-test.yaml
  backend/techpick-api/src/test/resources/application.yaml
Labels: backend, fix :fire:, 기한 19:00 :dart:

#403 [FIX] 다른 폴더로 이동되지 않는 문제, 스웨거 응답 예시 추가
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiConstant.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/folder/Folder.java
Labels: backend, fix :fire:, 기한 13:00 :dart:

#415 [FEAT] SecurityProperties 분리
  backend/techpick-api/src/main/java/techpick/TechPickApiApplication.java
  backend/techpick-security/src/main/java/techpick/security/TechPickAuthorizationRequestRepository.java
  backend/techpick-security/src/main/java/techpick/security/config/SecurityConfig.java
  backend/techpick-security/src/main/java/techpick/security/config/SecurityProperties.java
  backend/techpick-security/src/main/java/techpick/security/filter/TokenAuthenticationFilter.java
  backend/techpick-security/src/main/java/techpick/security/handler/OAuth2SuccessHandler.java
  backend/techpick-security/src/main/java/techpick/security/handler/TechPickLogoutHandler.java
  backend/techpick-security/src/main/java/techpick/security/util/CookieUtil.java
  backend/techpick-security/src/main/resources/application-security.yaml
Labels: feat, backend, D-2

#418 [FEAT] 검색창 자동 완성
  frontend/techpick/package.json
  frontend/techpick/src/app/(signed)/folders/unclassified/page.tsx
  frontend/techpick/src/components/PickListViewerPanel/PickListViewerPanel.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/PickListViewerPanel.tsx
  frontend/techpick/src/components/PickListViewerPanel/SearchWidget/SearchWidget.tsx
  frontend/techpick/src/components/PickListViewerPanel/SearchWidget/tokenInput.css
  frontend/techpick/src/components/PickListViewerPanel/api/getPickList.ts
  frontend/techpick/src/components/PickListViewerPanel/util/tokenizer/PrefixTokenizer.type.ts
  frontend/techpick/src/components/PickListViewerPanel/util/tokenizer/PrefixTokenizerImpl.ts
  frontend/yarn.lock
Labels: feat, frontend

#420 [FEAT] 같은 폴더 내에서 Pick Drag&Drop 구현
  frontend/schema/schema.d.ts
  frontend/techpick-shared/themes/commonTheme.css.ts
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/pick/getPicksByFolderId.ts
  frontend/techpick/src/apis/pick/index.ts
  frontend/techpick/src/apis/pick/movePicks.ts
  frontend/techpick/src/apis/pick/pickApi.type.ts
  frontend/techpick/src/app/(signed)/folders/layout.css.ts
  frontend/techpick/src/app/(signed)/folders/unclassified/page.tsx
  frontend/techpick/src/components/FolderTree/FolderDropZone.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/FolderTree/folderListItem.util.ts
  frontend/techpick/src/components/FolderTree/index.tsx
  frontend/techpick/src/components/PickCard/PickCard.tsx
  frontend/techpick/src/components/PickCardGridLayout/PickCardGridLayout.tsx
  frontend/techpick/src/components/PickCardGridLayout/pickCardGridLayout.css.ts
  frontend/techpick/src/components/PickListViewer/DraggablePickListViewer.tsx
  frontend/techpick/src/components/PickListViewer/PickCard.tsx
  frontend/techpick/src/components/PickListViewer/PickCardDropZone.tsx
  frontend/techpick/src/components/PickListViewer/PickCardListLayout.tsx
  frontend/techpick/src/components/PickListViewer/PickDnDCard.tsx
  frontend/techpick/src/components/PickListViewer/PickDnDCardListLayout.tsx
  frontend/techpick/src/components/PickListViewer/PickListViewer.tsx
  frontend/techpick/src/components/PickListViewer/index.tsx
  frontend/techpick/src/components/PickListViewer/pickCard.css.ts
  frontend/techpick/src/components/PickListViewer/pickCardGridLayout.css.ts
  frontend/techpick/src/components/PickListViewer/pickDnDCard.css.ts
  frontend/techpick/src/components/PickListViewer/pickDnDCard.util.ts
  frontend/techpick/src/components/PickListViewerPanel/template/view/ViewTemplate.ts
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Card/SimpleCard.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Record/SimpleRecord.tsx
  frontend/techpick/src/components/PickListViewerPanel/types/common.type.ts
  frontend/techpick/src/components/index.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/dndTreeStore/utils/reorderFoldersInSameParent.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/types/dnd.type.ts
  frontend/techpick/src/types/folder.type.ts
  frontend/techpick/src/types/index.ts
  frontend/techpick/src/types/pick.type.ts
  frontend/techpick/src/types/tag.type.ts
  frontend/techpick/src/types/util.type.ts
  frontend/techpick/src/utils/dnd/isDnDCurrentData.ts
  frontend/techpick/src/utils/dnd/isSelectionActive.ts
  frontend/techpick/src/utils/dnd/reorderSortableList.ts
  frontend/techpick/src/utils/index.ts
Labels: feat, frontend

#409 [FEAT] pick bulk insert 구현 및 테스트 작성
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickBulkService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickBulkDataHandler.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickBulkInsertTest.java
Labels: backend, D-3

#424 [FIX] 검색창 버그 수정 및 URL 업데이트
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/pick/getPicks.ts
  frontend/techpick/src/apis/pick/getPicksByFolderId.ts
  frontend/techpick/src/apis/pick/index.ts
  frontend/techpick/src/app/(signed)/folders/layout.css.ts
  frontend/techpick/src/app/(signed)/folders/layout.tsx
  frontend/techpick/src/app/(signed)/folders/search/page.tsx
  frontend/techpick/src/components/PickListViewerPanel/OptionWidget/OptionWidget.css.ts
  frontend/techpick/src/components/PickListViewerPanel/OptionWidget/OptionWidget.tsx
  frontend/techpick/src/components/PickListViewerPanel/OptionWidget/ViewOptionWidget.tsx
  frontend/techpick/src/components/PickListViewerPanel/PickListViewerPanel.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/PickListViewerPanel.tsx
  frontend/techpick/src/components/PickListViewerPanel/SearchWidget/SearchWidget.tsx
  frontend/techpick/src/components/PickListViewerPanel/api/dummyData.ts
  frontend/techpick/src/components/PickListViewerPanel/api/getPickList.ts
  frontend/techpick/src/components/PickListViewerPanel/model/useSearchParam.ts
  frontend/techpick/src/components/PickListViewerPanel/model/useViewerOptions.ts
  frontend/techpick/src/components/PickListViewerPanel/model/useViewerOptions.type.ts
  frontend/techpick/src/components/PickListViewerPanel/template/view/ViewTemplate.ts
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Card/SimpleCard.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Card/SimpleCard.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Record/SimpleRecord.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/component/Record/SimpleRecord.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/layout/GridLayout.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/template/view/layout/ListLayout.css.tsx
  frontend/techpick/src/components/PickListViewerPanel/types/common.type.ts
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItem.tsx
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemCommonStyle.ts
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemContent.tsx
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemLayout.tsx
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemList.css.ts
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/ChipItemList.tsx
  frontend/techpick/src/components/PickListViewerPanel/ui/SelectedTagItem/index.ts
  frontend/techpick/src/components/PickListViewerPanel/util/stream/BatchStream.type.ts
  frontend/techpick/src/components/PickListViewerPanel/util/stream/BatchStreamImpl.ts
  frontend/techpick/src/components/SearchWidget/SearchInput.css
  frontend/techpick/src/components/SearchWidget/SearchWidget.css.ts
  frontend/techpick/src/components/SearchWidget/SearchWidget.tsx
  frontend/techpick/src/components/SearchWidget/util/createQueryParameter.ts
  frontend/techpick/src/components/SearchWidget/util/getObjectEntries.ts
  frontend/techpick/src/components/SearchWidget/util/index.ts
  frontend/techpick/src/components/SearchWidget/util/tokenizer/PrefixPatternBuilder.ts
  frontend/techpick/src/components/SearchWidget/util/tokenizer/PrefixTokenizer.type.ts
  frontend/techpick/src/components/SearchWidget/util/tokenizer/PrefixTokenizerImpl.ts
  frontend/techpick/src/components/SearchWidget/util/tokenizer/example.png
  frontend/techpick/src/components/SearchWidget/util/tokenizer/readme.md
  frontend/techpick/src/components/SelectedFolderItem/SelectedFolderContent.css.ts
  frontend/techpick/src/components/SelectedFolderItem/SelectedFolderContent.tsx
  frontend/techpick/src/components/SelectedFolderItem/SelectedFolderItem.tsx
  frontend/techpick/src/components/SelectedFolderItem/SelectedFolderLayout.css.ts
  frontend/techpick/src/components/SelectedFolderItem/SelectedFolderLayout.tsx
  frontend/techpick/src/components/SelectedFolderItem/index.ts
  frontend/techpick/src/components/SelectedTagItem/SelectedTagCommonStyle.css.ts
  frontend/techpick/src/components/SelectedTagItem/SelectedTagContent.css.ts
  frontend/techpick/src/components/SelectedTagItem/SelectedTagLayout.css.ts
  frontend/techpick/src/components/SelectedTagItem/index.ts
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/types/pick.type.ts
Labels: feat, frontend

#430 [DESIGN] 폴더 영역 디자인 개선
  frontend/techpick-shared/themes/lightTheme.css.ts
  frontend/techpick/src/components/FolderTree/FolderTreeHeader.tsx
  frontend/techpick/src/components/FolderTree/folderLinkItem.css.ts
  frontend/techpick/src/components/FolderTree/folderTreeHeader.css.ts
  frontend/techpick/src/components/FolderTree/tree.css.ts
  frontend/techpick/src/styles/reset.css.ts
Labels: design :art:, frontend, fix :fire:

#432 [FEAT] 픽을 폴더로 이동하는 기능 추가
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/app/(signed)/folders/layout.tsx
  frontend/techpick/src/app/(signed)/folders/recycle-bin/page.tsx
  frontend/techpick/src/components/DndMonitorContext.tsx
  frontend/techpick/src/components/DragOverlay.tsx
  frontend/techpick/src/components/FolderAndPickDndContextProvider.tsx
  frontend/techpick/src/components/FolderTree/FolderDraggable.tsx
  frontend/techpick/src/components/FolderTree/FolderDropZone.tsx
  frontend/techpick/src/components/FolderTree/FolderLinkItem.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/FolderTree/FolderTreeHeader.tsx
  frontend/techpick/src/components/FolderTree/PickToFolderDropZone.tsx
  frontend/techpick/src/components/FolderTree/TreeNode.tsx
  frontend/techpick/src/components/FolderTree/folderLinkItem.css.ts
  frontend/techpick/src/components/FolderTree/index.tsx
  frontend/techpick/src/components/PickListViewer/PickCardDropZone.tsx
  frontend/techpick/src/components/PickListViewer/PickDnDCard.tsx
  frontend/techpick/src/components/PickListViewer/PickDnDCardListLayout.tsx
  frontend/techpick/src/components/PickListViewer/PickListSortableContext.tsx
  frontend/techpick/src/components/dragOverlay.css.ts
  frontend/techpick/src/components/index.ts
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useFolderToFolderDndMonitor.tsx
  frontend/techpick/src/hooks/useGetDndContextSensor.ts
  frontend/techpick/src/hooks/usePickToFolderDndMonitor.tsx
  frontend/techpick/src/hooks/usePickToPickDndMonitor.tsx
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/stores/index.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/types/FolderDraggableObjectType.ts
  frontend/techpick/src/types/PickDraggableObjectType.ts
  frontend/techpick/src/types/PickToFolderDroppableObjectType.ts
  frontend/techpick/src/types/index.ts
  frontend/techpick/src/utils/index.ts
  frontend/techpick/src/utils/isFolderDraggableObject.ts
  frontend/techpick/src/utils/isPickDraggableObjectType.ts
  frontend/techpick/src/utils/isPickToFolderDroppableObject.ts
Labels: feat, frontend

#427 [REFACTOR] 시큐리티 및 예외처리 리팩토링
  backend/techpick-api/src/main/java/techpick/api/config/SwaggerConfig.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiErrorResponse.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiExceptionHandler.java
  backend/techpick-core/src/main/resources/application-core.yaml
  backend/techpick-security/src/main/java/techpick/security/config/SecurityConfig.java
  backend/techpick-security/src/main/java/techpick/security/config/SecurityProperties.java
  backend/techpick-security/src/main/java/techpick/security/util/CookieUtil.java
  backend/techpick-security/src/main/resources/application-security.yaml
Labels: feat, backend, D-1, refactor :construction:

#434 [FIX] FolderService 로직 변경
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderException.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/folder/FolderRepository.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/Pick.java
Labels: backend, fix :fire:, 기한 19:00 :dart:

#441 [FIX] DragOver 수정 및 휴지통 이동 로직 변경
  frontend/schema/schema.d.ts
  frontend/techpick/src/apis/folder/deleteFolder.ts
  frontend/techpick/src/components/DragOverlay.tsx
  frontend/techpick/src/components/FolderAndPickDndContextProvider.tsx
  frontend/techpick/src/components/FolderTree/FolderDraggable.tsx
  frontend/techpick/src/components/PickListViewer/PickDnDCard.tsx
  frontend/techpick/src/components/dragOverlay.css.ts
  frontend/techpick/src/hooks/useGetDndContextSensor.ts
  frontend/techpick/src/hooks/usePickToPickDndMonitor.tsx
  frontend/techpick/src/stores/dndTreeStore/dndTreeStore.ts
  frontend/techpick/src/utils/getElementById.ts
  frontend/techpick/src/utils/index.ts
Labels: frontend, fix :fire:

#446 [FIX] 현재 포커스된 폴더 삭제 시에 미분류 페이지로 리다이렉트
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/styles/reset.css.ts
Labels: frontend, fix :fire:

#450 [FEAT] 로그인 리다이렉트 URL 추가
  .github/workflows/test-client-deploy.yml
  frontend/techpick/.env.example
  frontend/techpick/src/app/(unsigned)/login/page.tsx
Labels: feat, frontend

#454 [FEAT] 검색 기능 구현
  backend/build.gradle
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickSliceResponse.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickBulkService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickSearchService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickBulkDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickQuery.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickBulkInsertTest.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickServiceTest.java
  backend/techpick-api/src/test/java/techpick/api/infrastructure/pick/PickQueryTest.java
  backend/techpick-core/src/main/java/techpick/core/config/QuerydslConfig.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/Pick.java
Labels: feat, backend, D-1

#440 [TEST] FolderService 단위 테스트 구현
  backend/build.gradle
  backend/techpick-api/src/test/java/techpick/api/domain/folder/service/FolderServiceUnitTest.java
  backend/techpick-api/src/test/java/techpick/api/fixture/FolderFixture.java
  backend/techpick-api/src/test/java/techpick/api/fixture/PickFixture.java
  backend/techpick-api/src/test/java/techpick/api/fixture/UserFixture.java
Labels: test :boom:, backend, D-1

#460 [fix] 픽 검색 API 페이지네이션 적용
  frontend/techpick/package.json
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/pick/getPicks.ts
  frontend/techpick/src/app/(signed)/folders/search/page.tsx
  frontend/techpick/src/components/PickListViewer/PickListViewerInfiniteScroll.tsx
  frontend/techpick/src/components/PickListViewer/PickRecord.tsx
  frontend/techpick/src/components/PickListViewer/pickRecord.css.ts
  frontend/techpick/src/components/PickListViewer/pickRecordListLayout.css.ts
  frontend/techpick/src/components/SelectedTagListLayout/SelectedTagListLayout.css.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/stores/tagStore.ts
  frontend/techpick/src/types/pick.type.ts
  frontend/yarn.lock
Labels: feat, frontend

#468 [REFACTOR] ApiFolderErrorCode 오타 수정
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderErrorCode.java
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#473 [FEAT] 메모 제거, 폴더 선택 추가(API 미연결)
  frontend/schema/schema.d.ts
  frontend/techpick-extension/package.json
  frontend/techpick-extension/src/App.tsx
  frontend/techpick-extension/src/apis/getRootFolderChildFolders.ts
  frontend/techpick-extension/src/apis/index.ts
  frontend/techpick-extension/src/assets/pick128.png
  frontend/techpick-extension/src/assets/pick32.png
  frontend/techpick-extension/src/chrome-extension/background.ts
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/chrome-extension/pick128.png
  frontend/techpick-extension/src/chrome-extension/pick16.png
  frontend/techpick-extension/src/chrome-extension/pick32.png
  frontend/techpick-extension/src/chrome-extension/pick48.png
  frontend/techpick-extension/src/components/CreatePickForm.css.ts
  frontend/techpick-extension/src/components/CreatePickForm.tsx
  frontend/techpick-extension/src/components/FolderSelect.css.ts
  frontend/techpick-extension/src/components/FolderSelect.tsx
  frontend/techpick-extension/src/components/LoginGuard.tsx
  frontend/techpick-extension/src/components/SkeltonPickForm.tsx
  frontend/techpick-extension/src/components/ToggleThemeButton.css.ts
  frontend/techpick-extension/src/components/ToggleThemeButton.tsx
  frontend/techpick-extension/src/components/UpdatePickForm.tsx
  frontend/techpick-extension/src/constants/changeThemeStateToLocalhostPortName.ts
  frontend/techpick-extension/src/constants/getThemeFromLocalhostPortName.ts
  frontend/techpick-extension/src/constants/index.ts
  frontend/techpick-extension/src/constants/portalContainer.ts
  frontend/techpick-extension/src/constants/requestThemeStateFromLocalhostMessage.ts
  frontend/techpick-extension/src/constants/themeState.ts
  frontend/techpick-extension/src/constants/themeStateLocalhostKey.ts
  frontend/techpick-extension/src/libs/@components/Text.css.ts
  frontend/techpick-extension/src/pages/BookmarkHeader.css.ts
  frontend/techpick-extension/src/pages/BookmarkHeader.tsx
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
  frontend/techpick-extension/src/pages/LoginPage.css.ts
  frontend/techpick-extension/src/pages/LoginPage.tsx
  frontend/techpick-extension/src/pages/index.ts
  frontend/techpick-extension/src/providers/ThemeProvider.tsx
  frontend/techpick-extension/src/router.config.tsx
  frontend/techpick-extension/src/stores/themeStore.ts
  frontend/techpick-extension/src/styles/reset.css.ts
  frontend/techpick-extension/src/types/FolderType.ts
  frontend/techpick-extension/src/types/GetRootFolderChildFoldersResponseType.ts
  frontend/techpick-extension/src/types/index.ts
  frontend/techpick-extension/src/utils/getElementById.ts
  frontend/techpick-extension/src/utils/index.ts
  frontend/techpick-extension/vite.config.ts
  frontend/techpick-shared/themes/commonTheme.css.ts
  frontend/techpick-shared/themes/darkTheme.css.ts
  frontend/techpick-shared/themes/lightTheme.css.ts
  frontend/yarn.lock
Labels: feat, frontend

#474 [REFACTOR] 픽 리팩토링, 검색 테스트 구현
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderException.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickSearchService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickQuery.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickSearchTest.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickServiceTest.java
  backend/techpick-api/src/test/java/techpick/api/infrastructure/pick/PickQueryTest.java
  backend/techpick-core/src/main/java/techpick/core/model/folder/FolderType.java
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#482 [FEAT] error 메세지 전송 및 폰트 적용방식 변경
  frontend/techpick-extension/package.json
  frontend/techpick-extension/src/apis/apiClient.ts
  frontend/techpick-extension/src/assets/GothicA1-Regular.ttf
  frontend/techpick-extension/src/components/CreatePickForm.tsx
  frontend/techpick-extension/src/constants/errorCode.json
  frontend/techpick-extension/src/constants/errorMessageJson.ts
  frontend/techpick-extension/src/constants/index.ts
  frontend/techpick-extension/src/styles/reset.css.ts
  frontend/yarn.lock
Labels: feat, frontend

#485 [FEAT] 폴더 응답에 생성 수정 일시 추가
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderResult.java
Labels: feat, backend

#494 [CICD] AWS 배포 CICD 구축
  .github/workflows/aws-api-module-deploy.yml
  .github/workflows/aws-batch-module-deploy.yml
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderException.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickSearchService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickQuery.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickSearchTest.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickServiceTest.java
  backend/techpick-api/src/test/java/techpick/api/fixture/PickFixture.java
  backend/techpick-api/src/test/java/techpick/api/infrastructure/pick/PickQueryTest.java
  backend/techpick-core/src/main/java/techpick/core/model/folder/FolderType.java
Labels: backend, ci/cd :rocket:, 기한 19:00 :dart:

#481 [FEAT] 에러 요청에 대한 로깅 구현
  backend/techpick-api/src/main/resources/logback-spring.xml
  backend/techpick-batch/src/main/resources/logback-spring.xml
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiException.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiExceptionHandler.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/ErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/FatalErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/NormalErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/WarningErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/filter/RequestLoggingFilter.java
  backend/techpick-core/src/main/java/techpick/core/util/CachedHttpServletRequest.java
  backend/techpick-core/src/main/java/techpick/core/util/RequestHolder.java
Labels: feat, backend, 기한 13:00 :dart:

#504 [FEAT] 폴더 export 기능 구현
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderMigrationController.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderMigrationService.java
Labels: feat, backend, 기한 13:00 :dart:

#499 [FEAT] 픽 제목 최대 길이 검증 및 Validation 검증 리팩토링
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/tag/dto/TagApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/config/ValidationConfig.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/exception/ApiPickErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/exception/ApiPickException.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-api/src/main/resources/messages.properties
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiErrorResponse.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiExceptionHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/user/User.java
Labels: feat, backend, 기한 13:00 :dart:

#509 [BUG] 픽 태그 삭제 버그, 픽 수정 버그 수정
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderException.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-api/src/main/resources/application.yaml
  backend/techpick-core/src/main/java/techpick/core/model/folder/Folder.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/Pick.java
Labels: bug :bug:, backend, D-1

#515 [FEAT] 픽 휴지통 이동 및 휴지통에서 픽 삭제 구현, 픽 포커스 변경
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/pick/deletePicks.ts
  frontend/techpick/src/apis/pick/index.ts
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/app/(signed)/folders/recycle-bin/page.tsx
  frontend/techpick/src/app/(signed)/folders/unclassified/page.tsx
  frontend/techpick/src/components/PickContextMenu.tsx
  frontend/techpick/src/components/PickRecord/PickDraggableRecord.tsx
  frontend/techpick/src/components/PickRecord/PickRecord.tsx
  frontend/techpick/src/components/PickRecord/pickRecord.css.ts
  frontend/techpick/src/components/TagPicker/TagAutocompleteDialog.css.ts
  frontend/techpick/src/components/TagPicker/TagAutocompleteDialog.tsx
  frontend/techpick/src/components/pickContextMenu.css.ts
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useClearSelectedPickIdsOnMount.ts
  frontend/techpick/src/hooks/useResetPickFocusOnOutsideClick.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/types/PickDeleteRequestType.ts
  frontend/techpick/src/types/index.ts
Labels: feat, frontend

#519 [REFACTOR] PickTag 테이블에 낙관적 락 설정
  backend/techpick-api/build.gradle
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickTag.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickTagRepository.java
Labels: backend, refactor :construction:

#520 [DESIGN] TagAutocompleteDialog 위치 조정
  frontend/techpick/src/components/TagPicker/TagAutocompleteDialog.tsx
Labels: design :art:

#518 [FIX] 검색 픽 중복 표시
  frontend/techpick/src/app/(signed)/folders/search/page.tsx
Labels: frontend, fix :fire:

#521 [REFACTOR] 픽 수정 시 조회 부분에 비관적 락 추가
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickRepository.java
Labels: backend, refactor :construction:

#508 [chore] 로그인 페이지 작업
  frontend/techpick-shared/themes/lightTheme.css.ts
  frontend/techpick/public/image/logo_techpick.png
  frontend/techpick/src/app/(unsigned)/login/page.css.ts
  frontend/techpick/src/app/(unsigned)/login/page.tsx
Labels: frontend

#522 [FEAT] 크롬 북마크 Import 기능 구현
  backend/techpick-api/build.gradle
  backend/techpick-api/src/main/java/techpick/api/application/chromebookmark/controller/ChromeBookmarkController.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderMigrationController.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/dto/ChromeBookmark.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/dto/ChromeFolder.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/dto/ChromeImportResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/dto/ChromeMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/service/ChromeBookmarkService.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderMigrationService.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/dto/LinkMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/service/LinkService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/link/LinkDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/link/Link.java
  backend/techpick-core/src/main/java/techpick/core/model/link/LinkRepository.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickRepository.java
  backend/techpick-core/src/main/java/techpick/core/util/CachedHttpServletRequest.java
Labels: feat, backend, 기한 13:00 :dart:

#525 [FEAT] 해당 링크의 Og 태그 데이터 가져오는 API 구현
  backend/techpick-api/src/main/java/techpick/api/application/link/controller/LinkApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/link/dto/LinkApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/link/dto/LinkApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/dto/LinkMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/dto/LinkResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/service/LinkService.java
Labels: feat, backend

#527 [REFACTOR] 운영 서버에서 스웨거 접근 못하도록 변경
  backend/techpick-api/src/main/resources/application.yaml
Labels: backend, refactor :construction:, 기한 13:00 :dart:

#528 Backend Api Release
  backend/techpick-api/build.gradle
  backend/techpick-api/src/main/java/techpick/api/application/chromebookmark/controller/ChromeBookmarkController.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/link/controller/LinkApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/link/dto/LinkApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/link/dto/LinkApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/tag/dto/TagApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/config/ValidationConfig.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/dto/ChromeBookmark.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/dto/ChromeFolder.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/dto/ChromeImportResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/dto/ChromeMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/chromebookmark/service/ChromeBookmarkService.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/exception/ApiFolderException.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/dto/LinkMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/dto/LinkResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/link/service/LinkService.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/exception/ApiPickErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/exception/ApiPickException.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/link/LinkDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-api/src/main/resources/application.yaml
  backend/techpick-api/src/main/resources/logback-spring.xml
  backend/techpick-api/src/main/resources/messages.properties
  backend/techpick-batch/src/main/resources/logback-spring.xml
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiErrorResponse.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiException.java
  backend/techpick-core/src/main/java/techpick/core/exception/base/ApiExceptionHandler.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/ErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/FatalErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/NormalErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/WarningErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/filter/RequestLoggingFilter.java
  backend/techpick-core/src/main/java/techpick/core/model/folder/Folder.java
  backend/techpick-core/src/main/java/techpick/core/model/link/Link.java
  backend/techpick-core/src/main/java/techpick/core/model/link/LinkRepository.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/Pick.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickRepository.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickTag.java
  backend/techpick-core/src/main/java/techpick/core/model/pick/PickTagRepository.java
  backend/techpick-core/src/main/java/techpick/core/model/user/User.java
  backend/techpick-core/src/main/java/techpick/core/util/CachedHttpServletRequest.java
  backend/techpick-core/src/main/java/techpick/core/util/RequestHolder.java
Labels: backend

#538 [FIX] 웹에서 tag CRUD 변경
  frontend/techpick/src/apis/tag/createTag.ts
  frontend/techpick/src/apis/tag/deleteTag.ts
  frontend/techpick/src/apis/tag/getTagList.ts
  frontend/techpick/src/apis/tag/updateTag.ts
  frontend/techpick/src/stores/tagStore.ts
  frontend/techpick/src/types/tag.type.ts
Labels: frontend, fix :fire:

#576 [FIX] 현재 완전히 구현되지 않은 기능 UI 제거
  frontend/techpick/src/app/(signed)/folders/layout.tsx
  frontend/techpick/src/components/FolderTree/index.tsx
Labels: frontend, fix :fire:

#577 [FIX] 사용하지 않는 기능 UI 제거
  frontend/techpick/src/app/(signed)/folders/layout.tsx
  frontend/techpick/src/components/FolderTree/index.tsx
Labels: frontend, fix :fire:

#578 [BUG] 부모 폴더 삭제 Folder 엔티티 내부 메서드 활용하도록 변경
  backend/techpick-api/src/main/java/techpick/api/infrastructure/folder/FolderDataHandler.java
  backend/techpick-core/src/main/java/techpick/core/model/folder/Folder.java
Labels: bug :bug:, backend

#580 [FIX] PickRecord에서 태그가 보이지 않는 문제 수정
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/app/(signed)/folders/recycle-bin/page.tsx
  frontend/techpick/src/app/(signed)/folders/unclassified/page.tsx
  frontend/techpick/src/components/CreatePickForm/TagInfoEditPopoverButton.tsx
  frontend/techpick/src/components/PickRecord/PickRecord.tsx
  frontend/techpick/src/components/PickRecord/PickRecordOverlay.tsx
  frontend/techpick/src/components/PickTagPicker/DeleteTagDialog.css.ts
  frontend/techpick/src/components/PickTagPicker/DeleteTagDialog.tsx
  frontend/techpick/src/components/PickTagPicker/DeselectTagButton.css.ts
  frontend/techpick/src/components/PickTagPicker/DeselectTagButton.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.lib.ts
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagPicker.tsx
  frontend/techpick/src/components/PickTagPicker/PopoverOverlay.tsx
  frontend/techpick/src/components/PickTagPicker/PopoverTriggerButton.css.ts
  frontend/techpick/src/components/PickTagPicker/PopoverTriggerButton.tsx
  frontend/techpick/src/components/PickTagPicker/ShowDeleteTagDialogButton.tsx
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.css.ts
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.tsx
  frontend/techpick/src/components/PickTagPicker/index.tsx
  frontend/techpick/src/components/PickTagPicker/pickTagAutocompleteDialog.css.ts
  frontend/techpick/src/components/PickTagPicker/pickTagPicker.css.ts
  frontend/techpick/src/components/index.ts
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useFetchTagList.ts
Labels: frontend, fix :fire:

#572 [FEAT] 공유 폴더 기능 구현
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/controller/SharedFolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/dto/SharedFolderApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/dto/SharedFolderApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/FolderNode.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/PickNode.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/SharedFolderCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/SharedFolderMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/SharedFolderResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/TagNode.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/exception/ApiSharedFolderErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/exception/ApiSharedFolderException.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/service/SharedFolderService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/sharedFolder/SharedFolderDataHandler.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/tag/TagDataHandler.java
  backend/techpick-api/src/main/java/techpick/security/config/SecurityConfig.java
  backend/techpick-api/src/main/java/techpick/security/filter/RequestLoggingFilter.java
  backend/techpick-core/src/main/java/techpick/core/exception/level/NormalErrorLevel.java
  backend/techpick-core/src/main/java/techpick/core/model/sharedFolder/SharedFolder.java
  backend/techpick-core/src/main/java/techpick/core/model/sharedFolder/SharedFolderRepository.java
  backend/techpick-core/src/main/java/techpick/core/util/CachedHttpServletRequest.java
Labels: feat, backend, fix :fire:

#584 [FIX] @MeasureTime 어노테이션 버그 수정
  backend/techpick-core/src/main/java/techpick/core/util/MeasureTimeAspect.java
Labels: backend, fix :fire:

#593 [FEAT] PickRecord 입력 UI 개선 및 수정중일 때 drag&drop 방지
  frontend/techpick/package.json
  frontend/techpick/src/components/PickListViewer/PickDndListItem.tsx
  frontend/techpick/src/components/PickListViewer/PickListItem.tsx
  frontend/techpick/src/components/PickListViewer/PickTitleInput.tsx
  frontend/techpick/src/components/PickRecord/PickDraggableRecord.tsx
  frontend/techpick/src/components/PickRecord/PickRecord.tsx
  frontend/techpick/src/components/PickRecord/PickRecordOverlay.tsx
  frontend/techpick/src/components/PickRecord/PickRecordTitleInput.tsx
  frontend/techpick/src/components/PickRecord/pickRecordTitleInput.css.ts
  frontend/techpick/src/components/PickRecord/pickTitleColumnLayout.css.ts
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagPicker.tsx
  frontend/techpick/src/components/PickTagPicker/pickTagPicker.css.ts
  frontend/techpick/src/stores/updatePickStore.ts
  frontend/yarn.lock
Labels: feat, frontend

#597 [FEAT] 수집기 모듈 구성
  backend/build.gradle
  backend/settings.gradle
  backend/techpick-collector/Dockerfile
  backend/techpick-collector/src/main/java/techpick/TechPickCollectorApplication.java
  backend/techpick-collector/src/main/resources/application.yaml
  backend/techpick-collector/src/main/resources/logback-spring.xml
Labels: feat, backend

#591 [FEAT] 페이지네이션 적용되지 않은 검색 API 구현
  backend/techpick-api/src/main/java/techpick/api/application/pick/controller/PickApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/pick/dto/PickApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/dto/PickCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickSearchService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/pick/PickQuery.java
  backend/techpick-api/src/test/java/techpick/api/domain/pick/service/PickSearchTest.java
Labels: feat, backend, 기한 19:00 :dart:

#589 [FEAT] SPA에서 metadata 가져오기.
  frontend/techpick-extension/src/chrome-extension/background.ts
  frontend/techpick-extension/src/constants/getTabIHtmlTextFromWorkerPortName.ts
  frontend/techpick-extension/src/constants/index.ts
  frontend/techpick-extension/src/constants/requestTabHtmlTextFromWorkerMessage.ts
  frontend/techpick-extension/src/libs/@chrome/useGetTabInfo.lib.ts
  frontend/techpick-extension/src/libs/@chrome/useGetTabInfo.tsx
  frontend/techpick-extension/src/types/TabInfoFromWorkerMessageType.ts
  frontend/techpick-extension/src/types/index.ts
  frontend/techpick-extension/src/utils/extractOpenGraphMetadata.ts
  frontend/techpick-extension/src/utils/index.ts
Labels: feat, frontend

#608 [REFACTOR] SharedFolder 리팩토링
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/controller/SharedFolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/SharedFolderMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/SharedFolderResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/service/SharedFolderService.java
Labels: backend

#605 [REFACTOR] 루트 폴더에 픽 생성하지 못하도록 수정
  backend/techpick-api/src/main/java/techpick/api/domain/pick/service/PickService.java
Labels: backend, refactor :construction:

#610 [FIX] PickTagPicker 망가지는 UI 해결
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagPicker.tsx
  frontend/techpick/src/components/PickTagPicker/pickTagAutocompleteDialog.css.ts
  frontend/techpick/src/components/SelectedTagListLayout/SelectedTagListLayout.css.ts
Labels: feat, frontend, fix :fire:

#615 [FEAT] pick 로딩중인지, 빈 값인지 확인하는 로직 추가
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/app/(signed)/folders/recycle-bin/page.tsx
  frontend/techpick/src/app/(signed)/folders/unclassified/page.tsx
  frontend/techpick/src/components/FolderLoadingPage.tsx
  frontend/techpick/src/components/FolderTree/HorizontalResizableContainer.tsx
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useClearSelectedPickIdsOnMount.ts
  frontend/techpick/src/hooks/useFetchPickRecordByFolderId.ts
  frontend/techpick/src/stores/pickStore/pickStore.ts
  frontend/techpick/src/stores/pickStore/pickStore.type.ts
  frontend/techpick/src/types/FetchRequestType.ts
  frontend/techpick/src/types/pick.type.ts
  frontend/techpick/src/utils/getOrderedPickListByFolderId.ts
  frontend/techpick/src/utils/index.ts
Labels: feat, frontend

#617 [FIX] drag 끝날 때마다 MousePosition 초기화
  frontend/techpick/src/hooks/useGetDragOverStyle.ts
Labels: frontend, fix :fire:

#619 [FEAT] 휴지통 삭제 다이얼로그 추가
  frontend/techpick/src/components/FolderTree/FolderContextMenu.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/FolderTree/MoveFolderToRecycleBinDialog.tsx
  frontend/techpick/src/components/FolderTree/moveFolderToRecycleBinDialog.css.ts
Labels: feat, frontend

#622 [FEAT] 헤더 추가 및 로그아웃 기능 추가
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/auth/index.ts
  frontend/techpick/src/apis/auth/queryFunctions.ts
  frontend/techpick/src/apis/auth/useLogout.ts
  frontend/techpick/src/apis/postLogout.ts
  frontend/techpick/src/app/(signed)/mypage/page.css.ts
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/components/FolderContentHeader/currentFolderNameSection.css.ts
  frontend/techpick/src/components/FolderTree/UserMenuBar.tsx
  frontend/techpick/src/components/FolderTree/folderLinkItem.css.ts
  frontend/techpick/src/components/FolderTree/folderTreeHeader.css.ts
  frontend/techpick/src/components/FolderTree/index.tsx
  frontend/techpick/src/components/FolderTree/tree.css.ts
  frontend/techpick/src/components/FolderTree/userMenuBar.css.ts
  frontend/techpick/src/constants/route.ts
  frontend/techpick/src/middleware.ts
  frontend/techpick/src/styles/reset.css.ts
Labels: feat, frontend

#621 [FEAT] 폴더 공유 다이얼로그
  frontend/schema/schema.d.ts
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/folder/shareFolder.ts
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/components/FolderTree/FolderContextMenu.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/FolderTree/ShareFolderDialog.tsx
  frontend/techpick/src/components/FolderTree/shareFolderDialog.css.ts
  frontend/techpick/src/hooks/useShareDialogOpen.ts
  frontend/techpick/src/types/index.ts
  frontend/techpick/src/types/sharedFolder.type.ts
  frontend/techpick/src/utils/handleShareFolderLinkCopy.ts
Labels: feat, frontend

#624 [FIX] 폴더 콘텍스트 및 다이얼로그 수정 및 공통 hook 생성
  frontend/techpick/src/components/FolderTree/FolderContextMenu.tsx
  frontend/techpick/src/components/FolderTree/FolderListItem.tsx
  frontend/techpick/src/components/FolderTree/MoveFolderToRecycleBinDialog.tsx
  frontend/techpick/src/components/FolderTree/TreeNode.tsx
  frontend/techpick/src/components/FolderTree/moveFolderToRecycleBinDialog.css.ts
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useDisclosure.ts
Labels: feat, frontend, fix :fire:

#629 [FEAT] not-found 구현
  frontend/techpick/public/image/notFound.png
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/app/not-found.css.ts
  frontend/techpick/src/app/not-found.tsx
  frontend/techpick/src/hooks/useFetchPickRecordByFolderId.ts
Labels: feat, frontend

#627 [REFACTOR] Swagger에 로그인/로그아웃 명세 추가
  backend/techpick-api/src/main/java/techpick/api/config/SwaggerConfig.java
Labels: backend, refactor :construction:, 기한 19:00 :dart:

#628 [FEAT] 공유 API 수정
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiConstant.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/controller/FolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/folder/dto/FolderApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/controller/SharedFolderApiController.java
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/dto/SharedFolderApiMapper.java
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/dto/SharedFolderApiRequest.java
  backend/techpick-api/src/main/java/techpick/api/application/sharedFolder/dto/SharedFolderApiResponse.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/dto/FolderResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/folder/service/FolderService.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/FolderNode.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/PickNode.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/SharedFolderCommand.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/SharedFolderMapper.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/SharedFolderResult.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/dto/TagNode.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/exception/ApiSharedFolderErrorCode.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/exception/ApiSharedFolderException.java
  backend/techpick-api/src/main/java/techpick/api/domain/sharedFolder/service/SharedFolderService.java
  backend/techpick-api/src/main/java/techpick/api/infrastructure/sharedFolder/SharedFolderDataHandler.java
  backend/techpick-api/src/main/resources/messages.properties
  backend/techpick-core/src/main/java/techpick/core/model/sharedFolder/SharedFolder.java
  backend/techpick-core/src/main/java/techpick/core/model/sharedFolder/SharedFolderRepository.java
Labels: backend, 기한 13:00 :dart:

#635 [FEAT] RabbitMQ, MongoDB 설정
  backend/build.gradle
  backend/docker-compose.yaml
  backend/techpick-collector/src/main/java/techpick/TechPickCollectorApplication.java
  backend/techpick-collector/src/main/java/techpick/collector/application/ProducerController.java
  backend/techpick-collector/src/main/java/techpick/collector/config/RabbitmqConfig.java
  backend/techpick-collector/src/main/java/techpick/collector/domain/ProducerService.java
  backend/techpick-collector/src/main/java/techpick/collector/domain/messageComponent.java
  backend/techpick-collector/src/main/java/techpick/collector/dto/MessageDto.java
  backend/techpick-collector/src/main/java/techpick/collector/entity/Message.java
  backend/techpick-collector/src/main/java/techpick/collector/entity/PickPick.java
  backend/techpick-collector/src/main/java/techpick/collector/repository/MessageRepository.java
  backend/techpick-collector/src/main/java/techpick/collector/repository/PickPickRepository.java
  backend/techpick-collector/src/main/java/techpick/collector/test/EmitLog.java
  backend/techpick-collector/src/main/java/techpick/collector/test/NewTask.java
  backend/techpick-collector/src/main/java/techpick/collector/test/ReceiveLogs.java
  backend/techpick-collector/src/main/java/techpick/collector/test/Recv.java
  backend/techpick-collector/src/main/java/techpick/collector/test/Send.java
  backend/techpick-collector/src/main/java/techpick/collector/test/Worker.java
  backend/techpick-collector/src/main/resources/application.yaml
Labels: feat, backend
