Repository Kernel360/F2-BAGUNI, pull requests merged in 2025-03, with the labels that each got.

#1164 [CHORE] Staging profile 추가
  backend/baguni-api/src/main/java/baguni/api/application/development/DevelopmentController.java
  backend/baguni-api/src/main/java/baguni/security/config/SecurityConfig.java
  backend/baguni-api/src/main/resources/application.yaml
  backend/baguni-batch/src/main/resources/application.yaml
  backend/baguni-common/src/main/resources/application-common.yaml
  backend/baguni-domain/src/main/resources/application-domain.yaml
  backend/docker-compose.yaml
Labels: backend

#1167 [CHORE] workflow 수정
  .github/workflows/baguni.api.test.yml
Labels: chore

#1168 [CHORE] workflow 수정
  .github/workflows/baguni.api.test.yml
Labels: chore

#1171 [REFACTOR] 분산된 패키지 / 단일 파일 중첩 패키지 정리
  backend/baguni-api/src/main/java/baguni/api/application/event/controller/EventApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/extension/controller/ExtensionApiControllerV1.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/tag/controller/TagApiController.java
  backend/baguni-api/src/main/java/baguni/api/service/folder/service/FolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickSearchService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/service/sharedFolder/service/SharedFolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/tag/service/TagService.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/UserService.java
  backend/baguni-api/src/main/java/baguni/security/config/SecurityConfig.java
  backend/baguni-api/src/main/java/baguni/security/handler/OAuth2SuccessHandler.java
  backend/baguni-api/src/test/java/baguni/api/application/pick/controller/PickApiControllerTest.java
  backend/baguni-api/src/test/java/baguni/api/application/pick/controller/PickApiControllerUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/service/tag/service/TagServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/service/user/service/UserServiceUnitTest.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/feed/service/FeedService.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkAnalyzer.java
  backend/baguni-batch/src/main/java/baguni/batch/listener/LinkRankingEventListener.java
  backend/baguni-batch/src/main/java/baguni/batch/listener/LinkUpdateEventListener.java
  backend/baguni-common/src/main/java/baguni/common/event/BookmarkCreateEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/ErrorLogEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/Event.java
  backend/baguni-common/src/main/java/baguni/common/event/EventMessenger.java
  backend/baguni-common/src/main/java/baguni/common/event/LinkCreateEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/LinkReadEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/Topic.java
  backend/baguni-common/src/main/java/baguni/common/exception/error_code/FolderErrorCode.java
  backend/baguni-common/src/main/java/baguni/common/exception/error_code/LinkErrorCode.java
  backend/baguni-common/src/main/java/baguni/common/exception/error_code/PickErrorCode.java
  backend/baguni-common/src/main/java/baguni/common/exception/error_code/SharedFolderErrorCode.java
  backend/baguni-common/src/main/java/baguni/common/exception/error_code/TagErrorCode.java
  backend/baguni-common/src/main/java/baguni/common/exception/error_code/UserErrorCode.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/ErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/FatalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/NormalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/WarningErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/lib/util/CachedHttpServletRequest.java
  backend/baguni-common/src/main/java/baguni/common/lib/util/MapUtil.java
  backend/baguni-common/src/main/java/baguni/common/lib/util/MeasureTimeAspect.java
  backend/baguni-common/src/main/java/baguni/common/lib/util/RequestLoggingFilter.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/folder/FolderDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/sharedFolder/SharedFolderDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/tag/TagDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/user/UserDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/model/link/Link.java
  backend/baguni-domain/src/main/java/baguni/domain/model/link/LinkStats.java
Labels: backend, refactor :construction:

#1174 [FIX] 검색창 남던 부분 제거
  frontend/techpick/src/components/Search2/searchDialog.css.ts
Labels: frontend

#1178 [FIX] 추천 페이지에서 휴지통으로 생성 차단
  frontend/techpick/src/hooks/useRecommendPickToFolderDndMonitor.tsx
Labels: frontend, fix :fire:

#1179 [FIX] 공유 폴더 페이지 OG Image 생성 안되는 문제 수정
  .github/workflows/baguni.api.test.yml
  frontend/techpick/src/app/api/generate-og-image/route.tsx
Labels: frontend, fix :fire:

#1181 [CHORE] 실수로 인한 revert
  frontend/techpick/src/app/api/generate-og-image/route.tsx
  frontend/techpick/src/components/Search2/searchDialog.css.ts
  frontend/techpick/src/components/SideNavigationBar/FolderNavigationItem.tsx
  frontend/techpick/src/components/SideNavigationBar/UpdateFolderNameInput.tsx
  frontend/techpick/src/hooks/useRecommendPickToFolderDndMonitor.tsx
Labels: chore

#1184 [FEAT] influxdb token 방식 사용하는 workflow 생성
  .github/workflows/baguni.api.automation.test.yml
Labels: feat

#1185 [FIX] 불필요한 workflow 제거
  .github/workflows/baguni.api.automation.test.yml
  .github/workflows/baguni.api.test.yml
Labels: fix :fire:

#1187 [FEAT] 링크 image_url 수정 API
  backend/baguni-api/src/main/java/baguni/api/application/link/controller/LinkApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/link/dto/LinkApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/link/dto/LinkApiRequest.java
  backend/baguni-api/src/main/java/baguni/api/service/link/service/LinkService.java
  backend/baguni-common/src/main/java/baguni/common/exception/error_code/LinkErrorCode.java
  backend/baguni-infra/src/main/java/baguni/infra/infrastructure/link/LinkDataHandler.java
  backend/baguni-infra/src/main/java/baguni/infra/infrastructure/link/LinkRepository.java
  backend/baguni-infra/src/main/java/baguni/infra/infrastructure/link/dto/LinkCommand.java
Labels: feat, backend

#1189 [FIX] 스테이징 로그백 설정
  backend/baguni-api/src/main/resources/logback-spring.xml
  backend/baguni-batch/src/main/resources/logback-spring.xml
Labels: backend, fix :fire:

#1192 [FIX] 배포 스크립트에 모듈명 업데이트
  .github/workflows/baguni.develop.api.deploy.yml
  .github/workflows/baguni.develop.batch.deploy.yml
  .github/workflows/baguni.prod.api.deploy.yml
  .github/workflows/baguni.prod.batch.deploy.yml
  .github/workflows/baguni.staging.api.deploy.yml
  .github/workflows/baguni.staging.batch.deploy.yml
Labels: fix :fire:, ci/cd :rocket:

#1193 [CI/CD] staging 변경사항을 develop_be에 반영
  .github/workflows/baguni.api.automation.test.yml
  .github/workflows/baguni.develop.api.deploy.yml
  .github/workflows/baguni.develop.batch.deploy.yml
  .github/workflows/baguni.prod.api.deploy.yml
  .github/workflows/baguni.prod.batch.deploy.yml
  .github/workflows/baguni.staging.api.deploy.yml
  .github/workflows/baguni.staging.batch.deploy.yml
  backend/baguni-api/src/main/resources/logback-spring.xml
  backend/baguni-batch/src/main/resources/logback-spring.xml
  frontend/techpick/src/app/api/generate-og-image/route.tsx
  frontend/techpick/src/components/Search2/searchDialog.css.ts
  frontend/techpick/src/components/SideNavigationBar/FolderNavigationItem.tsx
  frontend/techpick/src/components/SideNavigationBar/UpdateFolderNameInput.tsx
  frontend/techpick/src/hooks/useRecommendPickToFolderDndMonitor.tsx
Labels: ci/cd :rocket:

#1195 [FIX] playwright 버전 수정
  frontend/techpick/.gitignore
  frontend/techpick/package.json
  frontend/yarn.lock
Labels: frontend
