Repository Kernel360/F2-BAGUNI, pull requests merged in 2025-01, with the labels that each got.

#891 [FEAT] 북마크 이동 시 토스트 알람 생성
  frontend/techpick/src/hooks/usePickToFolderDndMonitor.tsx
  frontend/techpick/src/hooks/useRecommendPickToFolderDndMonitor.tsx
Labels: feat, frontend, D-1

#890 [FEAT] 마이페이지에서 곧바로 튜토리얼 볼 수 있게 변경
  frontend/techpick/package.json
  frontend/techpick/src/app/(signed)/mypage/page.css.ts
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/components/TutorialDialog.tsx
  frontend/techpick/src/components/TutorialReplaySwitch.tsx
  frontend/techpick/src/components/tutorialReplaySwitch.css.ts
  frontend/techpick/src/hooks/useDisclosure.ts
  frontend/yarn.lock
Labels: feat, frontend, D-2

#888 [FIX] 토큰 만료 시 리다이렉트 작업, 태그 생성시 길이가 길면 알림
  frontend/techpick/src/apis/apiClient.ts
  frontend/techpick/src/app/(unsigned)/login/failed/page.tsx
  frontend/techpick/src/app/(unsigned)/login/page.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.tsx
  frontend/techpick/src/constants/errorMessageJson.ts
Labels: frontend, fix :fire:, D-1

#886 [FEAT] OG Image 추가
  .github/workflows/baguni.test.client.deploy.yml
  frontend/techpick/.env.example
  frontend/techpick/package.json
  frontend/techpick/public/image/og_image.png
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/app/api/generate-og-image/route.tsx
  frontend/techpick/src/app/layout.tsx
  frontend/yarn.lock
Labels: feat, frontend, D-3

#903 [FIX] 테스트 서버 배포 도커 파일 수정 및 OG image 가져올 때 환경변수 제거
  .github/workflows/baguni.test.client.deploy.yml
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/app/layout.tsx
Labels: frontend, fix :fire:

#904 [FIX] OG Image를 가져오는 경로를 절대 경로로 수정
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/app/layout.tsx
Labels: feat, frontend, fix :fire:

#906 [REFACTOR] 운영 환경에서 Swagger api-docs 접근 못하도록 변경 및 yaml 파일명 수정
  backend/baguni-api/src/main/resources/application.yaml
  backend/baguni-batch/src/main/resources/application.yaml
  backend/baguni-entity/src/main/resources/application-entity.yaml
  backend/baguni-ranking/src/main/java/baguni/ranking/application/RankingController.java
  backend/baguni-ranking/src/main/resources/application.yaml
Labels: backend, refactor :construction:

#908 [REFACTOR] 픽 수정 API v2 제거
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiRequest.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/pick/PickDataHandler.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/dto/PickCommand.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
Labels: backend, refactor :construction:

#910 [FEAT] 픽 중복 확인하는 API 구현
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiResponse.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
Labels: feat, backend

#913 [TEST] 슬랙 알림 테스트
  backend/baguni-api/src/main/java/baguni/BaguniApiApplication.java
Labels: test :boom:, backend

#911 [FIX] JWT에서 userId 제거 및 IdToken 필드 추가
  backend/baguni-api/src/main/java/baguni/api/application/user/controller/UserApiController.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/user/UserDataHandler.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/UserService.java
  backend/baguni-api/src/main/java/baguni/security/config/JwtProperties.java
  backend/baguni-api/src/main/java/baguni/security/config/SecurityConfig.java
  backend/baguni-api/src/main/java/baguni/security/config/SecurityProperties.java
  backend/baguni-api/src/main/java/baguni/security/config/WebConfig.java
  backend/baguni-api/src/main/java/baguni/security/filter/TokenAuthenticationFilter.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniApiAuthExceptionEntrypoint.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniLogoutHandler.java
  backend/baguni-api/src/main/java/baguni/security/handler/OAuth2SuccessHandler.java
  backend/baguni-api/src/main/java/baguni/security/model/OAuth2UserInfo.java
  backend/baguni-api/src/main/java/baguni/security/repository/BaguniAuthorizationRequestRepository.java
  backend/baguni-api/src/main/java/baguni/security/service/CustomOAuth2Service.java
  backend/baguni-api/src/main/java/baguni/security/util/AccessToken.java
  backend/baguni-api/src/main/java/baguni/security/util/CookieUtil.java
  backend/baguni-api/src/main/java/baguni/security/util/JwtUtil.java
  backend/baguni-api/src/main/java/baguni/security/util/LoginUserArgumentResolver.java
  backend/baguni-api/src/main/resources/application.yaml
  backend/baguni-api/src/test/java/baguni/api/domain/folder/service/FolderServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/domain/pick/service/PickBulkInsertTest.java
  backend/baguni-api/src/test/java/baguni/api/domain/pick/service/PickSearchTest.java
  backend/baguni-api/src/test/java/baguni/api/domain/pick/service/PickServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/domain/tag/service/TagServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/fixture/UserFixture.java
  backend/baguni-entity/src/main/java/baguni/entity/model/user/Role.java
  backend/baguni-entity/src/main/java/baguni/entity/model/user/SocialProvider.java
  backend/baguni-entity/src/main/java/baguni/entity/model/user/SocialType.java
  backend/baguni-entity/src/main/java/baguni/entity/model/user/User.java
  backend/baguni-entity/src/main/java/baguni/entity/model/user/UserRepository.java
  backend/baguni-entity/src/main/java/baguni/entity/model/util/IDToken.java
  backend/baguni-entity/src/main/java/baguni/entity/model/util/IDTokenConverter.java
  backend/baguni-ranking/src/main/java/baguni/ranking/application/RankingController.java
  backend/baguni-ranking/src/main/java/baguni/ranking/domain/pick/PickRankingService.java
Labels: backend, refactor :construction:

#916 [FEAT] FE 사용자 식별자 획득 API 추가
  backend/baguni-api/src/main/java/baguni/api/application/user/controller/UserApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/user/controller/dto/UserApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/user/controller/dto/UserInfoApiResponse.java
  backend/baguni-api/src/main/java/baguni/api/service/user/dto/UserInfo.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/UserService.java
  backend/baguni-api/src/main/java/baguni/security/exception/ApiAuthErrorCode.java
  backend/baguni-api/src/main/java/baguni/security/exception/ApiAuthException.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniApiAuthExceptionEntrypoint.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniLogoutHandler.java
  backend/baguni-api/src/main/java/baguni/security/util/AccessToken.java
  backend/baguni-api/src/main/java/baguni/security/util/CookieUtil.java
  backend/baguni-api/src/main/resources/logback-spring.xml
  backend/baguni-batch/src/main/resources/logback-spring.xml
  backend/baguni-ranking/src/main/resources/logback-spring.xml
Labels: backend

#929 [FIX] 검색 창에서 태그 선택 후 esc 눌렀을 시 검색 창이 종료되는 문제 해결
  frontend/techpick/src/components/Search2/FilterContainer.tsx
  frontend/techpick/src/components/Search2/FilterOptions.tsx
  frontend/techpick/src/components/Search2/SearchDialog.tsx
Labels: frontend, fix :fire:, D-1

#931 [FEAT] 웹 사이트에서 북마크 생성하는 컴포넌트 및 로직 제거. 익스텐션 이동하는 방식으로 변경
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/getLinkOgDataByUrl.ts
  frontend/techpick/src/components/ChromeExtensionLinkButton/ChromeExtensionLinkButton.tsx
  frontend/techpick/src/components/ChromeExtensionLinkButton/chromeExtensionLinkButton.css.ts
  frontend/techpick/src/components/CreatePickPopover/CreatePickPopoverButton.tsx
  frontend/techpick/src/components/CreatePickPopover/createPickPopoverButton.css.ts
  frontend/techpick/src/components/FolderContentHeader/FolderContentHeader.tsx
  frontend/techpick/src/types/pick.type.ts
Labels: feat, frontend, D-1

#932 [FIX] 길이가 짧은 폴더 공유 시 공유 취소 버튼이 짤리는 문제 수정
  frontend/techpick/src/components/MyPage/myPageShareFolderField.css.ts
  frontend/techpick/src/hooks/useMyShareFolder.ts
Labels: frontend, fix :fire:, D-1

#934 [FEAT] dnd 충돌 알고리즘 수정
  frontend/techpick/src/components/FolderAndPickDndContextProvider.tsx
  frontend/techpick/src/utils/index.ts
  frontend/techpick/src/utils/pointerWithinWithClosestCenter.ts
Labels: feat, frontend, D-1

#935 [DESIGN] 픽 헤더 제목 영어 대신 한국어로 변경
  frontend/techpick/src/app/(signed)/folders/unclassified/page.tsx
  frontend/techpick/src/components/PickRecord/PickRecordHeader.tsx
  frontend/techpick/src/components/PickRecord/pickRecordHeader.css.ts
  frontend/techpick/src/components/pickContentLayout.css.ts
Labels: feat, design :art:, frontend

#918 [FEAT] flyway 도입
  backend/baguni-api/src/main/resources/logback-spring.xml
  backend/baguni-batch/src/main/resources/logback-spring.xml
  backend/baguni-entity/build.gradle
  backend/baguni-entity/src/main/resources/application-entity.yaml
  backend/baguni-entity/src/main/resources/db/migration/V1__init_schema.sql
  backend/baguni-entity/src/main/resources/db/migration/V2__add_user_idToken.sql
Labels: backend

#933 [FIX] 서비스 / 익스텐션 픽 수정 API 분리
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiRequest.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
Labels: bug :bug:, backend

#937 [HOT-FIX] db 컬럼명 불일치
  backend/baguni-domain/src/main/java/baguni/domain/model/link/Link.java
  backend/baguni-domain/src/main/resources/db/migration/V1__init_schema.sql
  backend/baguni-domain/src/main/resources/db/migration/V2.1__change_wrong_link_field_name.sql
  backend/baguni-domain/src/main/resources/db/migration/V2__add_user_idToken.sql
Labels: bug :bug:, backend, fix :fire:

#941 [FIX] 웹에서 태그 생성 후 빈 태그가 생성이 가능한 문제 해결
  frontend/techpick/src/components/PickRecord/SharePickRecord.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
Labels: frontend, fix :fire:

#949 [FEAT] 메인 브랜치로 병합
  .github/workflows/baguni.test.api.deploy.yml
  .github/workflows/baguni.test.batch.deploy.yml
  .github/workflows/baguni.test.client.deploy.yml
  .github/workflows/baguni.test.ranking.deploy.yml
  backend/baguni-batch/Dockerfile
  backend/baguni-batch/Dockerfile-Selenium
  backend/baguni-batch/src/main/resources/logback-spring.xml
  backend/baguni-common/src/main/java/baguni/common/annotation/MeasureTime.java
  backend/baguni-common/src/main/java/baguni/common/lib/opengraph/OpenGraphReaderSelenium.java
Labels: backend

#955 [FIX] 링크에 수정 시간 필드 추가
  backend/baguni-domain/src/main/java/baguni/domain/model/link/Link.java
  backend/baguni-domain/src/main/resources/db/migration/V3__add_link_timestamp.sql
Labels: backend

#956 [FIX] 익스텐션 url이 없는 상황에 북마크 생성 못하게 알림 생성, 익스텐션 아이콘 변경, 웹 관련 코드 변경에서만 액션 동작
  .github/workflows/baguni.test.client.deploy.yml
  .github/workflows/playwright.test.yml
  frontend/.eslintrc.js
  frontend/techpick-extension/eslint.config.js
  frontend/techpick-extension/src/chrome-extension/background.ts
  frontend/techpick-extension/src/chrome-extension/checkedPick128.png
  frontend/techpick-extension/src/chrome-extension/pick128.png
  frontend/techpick-extension/src/chrome-extension/pick16.png
  frontend/techpick-extension/src/chrome-extension/pick32.png
  frontend/techpick-extension/src/chrome-extension/pick48.png
  frontend/techpick-extension/src/chrome-extension/uncheckedPick128.png
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
  frontend/techpick/.eslintrc.json
Labels: frontend, fix :fire:

#958 [FIX] 링크 URL 길이 제한 변경
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/link/ApiLinkErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/link/ApiLinkException.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/pick/ApiPickErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/pick/ApiPickException.java
  backend/baguni-domain/src/main/java/baguni/domain/model/link/Link.java
  backend/baguni-domain/src/main/resources/db/migration/V3.2__fix_link_url_length_and_charset.sql
  backend/baguni-domain/src/main/resources/db/migration/V3.3__fix_pick_title_length.sql
Labels: bug :bug:, backend

#964 [FEAT] 서버 에러 발생 시 슬랙 알림 기능 구현
  backend/baguni-common/build.gradle
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqConfig.java
  backend/baguni-common/src/main/java/baguni/common/event/events/ErrorLogEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/Event.java
  backend/baguni-common/src/main/java/baguni/common/event/listener/SlackNotificationEventListener.java
  backend/baguni-common/src/main/java/baguni/common/event/messenger/CrawlingEventMessenger.java
  backend/baguni-common/src/main/java/baguni/common/event/messenger/RankingEventMessenger.java
  backend/baguni-common/src/main/java/baguni/common/event/messenger/SlackNotificationEventMessenger.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/ApiExceptionHandler.java
  backend/baguni-common/src/main/java/baguni/common/util/ErrorLogEventBuilder.java
  backend/baguni-common/src/main/resources/application-common.yaml
Labels: feat, backend, D-1

#963 [FEAT] 랜딩 페이지 구현, robot.txt, sitemap.xml 구현
  frontend/.eslintrc.js
  frontend/techpick-shared/themes/index.ts
  frontend/techpick-shared/themes/mediaQuery.css.ts
  frontend/techpick/package.json
  frontend/techpick/public/video/saveBookmark.mp4
  frontend/techpick/public/video/share.mp4
  frontend/techpick/public/video/tagEdit.mp4
  frontend/techpick/src/app/(unsigned)/landing/LandingPageAnimation.tsx
  frontend/techpick/src/app/(unsigned)/landing/SignUpLink.tsx
  frontend/techpick/src/app/(unsigned)/landing/page.css.ts
  frontend/techpick/src/app/(unsigned)/landing/page.tsx
  frontend/techpick/src/app/robots.ts
  frontend/techpick/src/app/sitemap.ts
  frontend/techpick/src/constants/route.ts
  frontend/techpick/src/middleware.ts
  frontend/techpick/src/styles/orangeButtonStyle.css.ts
  frontend/yarn.lock
Labels: feat, frontend, D-3

#969 [CHORE] validation 메서드 명을 더 상세하게 변경
  backend/baguni-api/src/main/java/baguni/api/service/chromebookmark/service/ChromeBookmarkService.java
  backend/baguni-api/src/main/java/baguni/api/service/folder/service/FolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickSearchService.java
  backend/baguni-api/src/main/java/baguni/api/service/sharedFolder/service/SharedFolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/tag/service/TagService.java
Labels: chore, backend

#971 [REFACTOR] zustnad로 관리하던 태그 관련 서버 상태 tanstack query로 변경
  frontend/techpick/src/apis/apiClient.ts
  frontend/techpick/src/apis/tag/createTag.ts
  frontend/techpick/src/apis/tag/deleteTag.ts
  frontend/techpick/src/apis/tag/getTagList.ts
  frontend/techpick/src/apis/tag/updateTag.ts
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/app/(signed)/folders/layout.tsx
  frontend/techpick/src/app/(signed)/folders/recycle-bin/page.tsx
  frontend/techpick/src/app/(signed)/folders/search/layout.tsx
  frontend/techpick/src/app/(signed)/folders/search/page.tsx
  frontend/techpick/src/app/(signed)/folders/unclassified/page.tsx
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/components/DragOverlay/PickRecordOverlay.tsx
  frontend/techpick/src/components/PickListViewer/PickListItem.tsx
  frontend/techpick/src/components/PickListViewer/PickListViewerInfiniteScroll.tsx
  frontend/techpick/src/components/PickListViewer/PickSearchRecord.tsx
  frontend/techpick/src/components/PickListViewer/pickSearchRecord.css.ts
  frontend/techpick/src/components/PickRecord/PickRecord.tsx
  frontend/techpick/src/components/PickRecord/PickSearchRecord.tsx
  frontend/techpick/src/components/PickRecord/pickSearchRecord.css.ts
  frontend/techpick/src/components/PickTagPicker/DeleteTagDialog.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.tsx
  frontend/techpick/src/components/Search2/FilterContainer.tsx
  frontend/techpick/src/hooks/index.ts
  frontend/techpick/src/hooks/useFetchTagList.ts
  frontend/techpick/src/providers/QueryProvider.tsx
  frontend/techpick/src/queries/index.ts
  frontend/techpick/src/queries/tagKeys.ts
  frontend/techpick/src/queries/useCreateTag.ts
  frontend/techpick/src/queries/useDeleteTag.ts
  frontend/techpick/src/queries/useFetchTagList.ts
  frontend/techpick/src/queries/useUpdateTag.ts
  frontend/techpick/src/stores/index.ts
  frontend/techpick/src/stores/tagStore.ts
  frontend/techpick/src/utils/findTagById.ts
  frontend/techpick/src/utils/getAccessToken.ts
  frontend/techpick/src/utils/getFilteredSelectedTagList.ts
  frontend/techpick/src/utils/index.ts
  frontend/techpick/tsconfig.json
Labels: frontend, refactor :construction:

#976 [FEAT] 익스텐션 배포 전 개선
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/components/UpdatePickForm.tsx
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
Labels: feat, frontend

#978 [FEAT] 튜토리얼 모바일 뷰 지원
  frontend/techpick/public/video/multiSelectPickMove.gif
  frontend/techpick/public/video/multiSelectPickMove.mp4
  frontend/techpick/public/video/recommendPickMove.gif
  frontend/techpick/public/video/recommendPickMove.mp4
  frontend/techpick/src/components/TutorialDialog.tsx
  frontend/techpick/src/components/tutorialDialog.css.ts
  frontend/techpick/src/styles/dialogStyle.css.ts
  frontend/techpick/src/styles/mobileLinBreakStyle.css.ts
Labels: feat, design :art:, frontend, D-1

#981 [CHORE] main 브랜치로 머지
  .github/workflows/baguni.prod.api.deploy.yml
  .github/workflows/baguni.prod.batch.deploy.yml
  .github/workflows/baguni.prod.ranking.deploy.yml
Labels: chore

#985 [FIX] 이벤트 수집 정상화, 드래그앤 드랍 버그 수정,
  frontend/biome.json
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/app/(unsigned)/landing/SignUpLink.tsx
  frontend/techpick/src/app/(unsigned)/landing/page.css.ts
  frontend/techpick/src/app/(unsigned)/landing/page.tsx
  frontend/techpick/src/app/(unsigned)/login/failed/page.tsx
  frontend/techpick/src/app/(unsigned)/login/layout.tsx
  frontend/techpick/src/app/(unsigned)/login/page.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/LandingPageLinkButton.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/SignUpLinkButton.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/app/api/sentry-example-api/route.ts
  frontend/techpick/src/components/DisableDroppableZone.tsx
  frontend/techpick/src/components/FeaturedSection/FeaturedSection.tsx
  frontend/techpick/src/components/MyPage/MyPageContentContainer.tsx
  frontend/techpick/src/components/ScreenLogger.tsx
  frontend/techpick/src/components/Search2/FilterContainer.tsx
  frontend/techpick/src/components/Search2/HoverCard.tsx
  frontend/techpick/src/components/Search2/SearchDialog.tsx
  frontend/techpick/src/components/Search2/SearchInfiniteScrollList.tsx
  frontend/techpick/src/components/Search2/SearchItemRenderer.tsx
  frontend/techpick/src/components/ToggleThemeButton.tsx
  frontend/techpick/src/components/TutorialDialog.tsx
  frontend/techpick/src/hooks/useEventLogger.ts
  frontend/techpick/src/styles/dialogStyle.css.ts
Labels: frontend, fix :fire:

#993 [FIX] 홈 화면 배경색 짤림 수정, 다이얼로그 망가진 것 수정, 추천 북마크 dnd 로직 변경
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/components/FolderAndPickDndContextProvider.tsx
  frontend/techpick/src/styles/dialogStyle.css.ts
Labels: frontend, fix :fire:

#977 [REFACTOR] 링크 관련 리팩토링 진행
  backend/baguni-api/src/main/java/baguni/api/application/chromebookmark/controller/ChromeBookmarkController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/CrawlingEventListener.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkAnalyzer.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkCrawlingService.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkService.java
  backend/baguni-common/src/main/java/baguni/common/config/OpenGraphConfig.java
  backend/baguni-common/src/main/java/baguni/common/event/events/CrawlingEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/LinkCrawlingEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/LinkEvent.java
  backend/baguni-common/src/main/java/baguni/common/lib/opengraph/OpenGraphReaderSelenium.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/LinkResult.java
  backend/baguni-domain/src/main/java/baguni/domain/model/link/Link.java
Labels: backend, refactor :construction:

#997 [REFACTOR] 미사용 서비스 / DB 필드 제거
  backend/baguni-api/build.gradle
  backend/baguni-api/src/main/java/baguni/api/application/chromebookmark/controller/ChromeBookmarkController.java
  backend/baguni-api/src/main/java/baguni/api/service/chromebookmark/dto/ChromeBookmark.java
  backend/baguni-api/src/main/java/baguni/api/service/chromebookmark/dto/ChromeFolder.java
  backend/baguni-api/src/main/java/baguni/api/service/chromebookmark/dto/ChromeImportResult.java
  backend/baguni-api/src/main/java/baguni/api/service/chromebookmark/dto/ChromeMapper.java
  backend/baguni-api/src/main/java/baguni/api/service/chromebookmark/service/ChromeBookmarkService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickBulkService.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/LinkInfo.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/LinkMapper.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/LinkResult.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickBulkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickQuery.java
  backend/baguni-domain/src/main/java/baguni/domain/model/link/Link.java
  backend/baguni-domain/src/main/resources/db/migration/V4.3__fix_link_invalidated_at.sql
Labels: backend

#998 [FEAT] 유명 블로그 글 소개 API
  backend/baguni-api/build.gradle
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/controller/BlogArticleApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/controller/RankingApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/dto/LinkInfoWithCount.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/dto/RankingApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/dto/RankingResponse.java
  backend/baguni-api/src/main/java/baguni/api/service/link/service/LinkService.java
  backend/baguni-common/build.gradle
  backend/baguni-common/src/main/java/baguni/common/config/CacheConfig.java
  backend/baguni-common/src/main/java/baguni/common/lib/cache/CacheType.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/LinkMapper.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/RssLinkInfo.java
  backend/baguni-ranking/src/main/java/baguni/ranking/domain/pick/PickRankingService.java
Labels: backend

#1007 [BUG] Selenium Timeout 관련 문제
  backend/baguni-common/src/main/java/baguni/common/config/OpenGraphConfig.java
  backend/baguni-common/src/main/java/baguni/common/lib/opengraph/OpenGraphReaderSelenium.java
Labels: bug :bug:, backend

#1010 [REFACTOR] 메시지 큐 리팩토링
  backend/baguni-api/src/main/java/baguni/api/application/event/controller/EventApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/link/controller/LinkApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-batch/build.gradle
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/CrawlingEventListener.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkAnalyzeResult.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkAnalyzer.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkService.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkUpdateEventListener.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/rss/service/RssFeedService.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/slack/SlackNotificationEventListener.java
  backend/baguni-batch/src/main/resources/application.yaml
  backend/baguni-common/build.gradle
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqConfig.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqCustomErrorHandler.java
  backend/baguni-common/src/main/java/baguni/common/event/events/BookmarkCreateEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/ErrorLogEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/Event.java
  backend/baguni-common/src/main/java/baguni/common/event/events/LinkCrawlingEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/LinkCreateEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/LinkReadEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/PickCreateEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/PickViewEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/SharedFolderLinkViewEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/SuggestionViewEvent.java
  backend/baguni-common/src/main/java/baguni/common/event/events/Topic.java
  backend/baguni-common/src/main/java/baguni/common/event/messenger/CrawlingEventMessenger.java
  backend/baguni-common/src/main/java/baguni/common/event/messenger/EventMessenger.java
  backend/baguni-common/src/main/java/baguni/common/event/messenger/RankingEventMessenger.java
  backend/baguni-common/src/main/java/baguni/common/event/messenger/SlackNotificationEventMessenger.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/ApiException.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/ApiExceptionHandler.java
  backend/baguni-common/src/main/java/baguni/common/lib/opengraph/OpenGraphReaderJsoup.java
  backend/baguni-common/src/main/java/baguni/common/lib/opengraph/OpenGraphReaderSelenium.java
  backend/baguni-common/src/main/java/baguni/common/util/ErrorLogEventBuilder.java
  backend/baguni-common/src/main/resources/application-common.yaml
  backend/baguni-domain/src/main/java/baguni/domain/exception/link/ApiLinkErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/link/ApiLinkException.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/LinkCommand.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/RankingEventListener.java
Labels: backend

#1019 [FIX] 파비콘 없는 url 북마크 추가 못하는 버그 수정
  frontend/techpick-extension/public/defaultImage.png
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/components/ThumbnailImage.tsx
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
  frontend/techpick-extension/vite.config.ts
Labels: feat, frontend, fix :fire:

#1014 [REFACTOR] 락 해제 실패 시 DB 세션 로그 추가
  backend/baguni-domain/src/main/java/baguni/domain/lock/MysqlLockProvider.java
Labels: bug :bug:, backend

#1022 [BUG] 순환 참조 문제 해결
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqConfig.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqCustomErrorHandler.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqErrorHandlerConfig.java
Labels: bug :bug:, backend

#1023 [FEAT] api 모듈 서비스 계층 단위, 통합 테스트
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickBulkService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/service/sharedFolder/service/SharedFolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/user/util/NameGenerator.java
  backend/baguni-api/src/main/java/baguni/api/service/user/util/SimpleNameGenerator.java
  backend/baguni-api/src/test/java/baguni/api/BaguniApiApplicationTests.java
  backend/baguni-api/src/test/java/baguni/api/fixture/LinkFixture.java
  backend/baguni-api/src/test/java/baguni/api/fixture/SharedFolderFixture.java
  backend/baguni-api/src/test/java/baguni/api/fixture/TagFixture.java
  backend/baguni-api/src/test/java/baguni/api/fixture/UserFixture.java
  backend/baguni-api/src/test/java/baguni/api/service/folder/service/FolderServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/service/folder/service/FolderServiceUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/service/link/service/LinkServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/service/link/service/LinkServiceUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/service/pick/service/PickBulkInsertTest.java
  backend/baguni-api/src/test/java/baguni/api/service/pick/service/PickSearchTest.java
  backend/baguni-api/src/test/java/baguni/api/service/pick/service/PickServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/service/pick/service/PickServiceUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/service/ranking/service/RankingServiceUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/service/sharedFolder/service/SharedFolderServiceUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/service/tag/service/TagServiceConcurrencyTest.java
  backend/baguni-api/src/test/java/baguni/api/service/tag/service/TagServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/service/user/service/UserServiceUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/service/user/service/strategy/ManualInitStrategyTest.java
  backend/baguni-api/src/test/java/baguni/api/service/user/service/strategy/RankingInitStrategyTest.java
  backend/baguni-api/src/test/java/baguni/api/service/user/service/strategy/StarterFolderStrategyTest.java
  backend/baguni-api/src/test/resources/application.yaml
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/LinkMapper.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickBulkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/model/util/IDToken.java
Labels: feat, backend

#1024 [FIX] Logback 파일 저장 포맷 변경
  backend/baguni-api/src/main/java/baguni/api/config/HttpApiConfiguration.java
  backend/baguni-api/src/main/resources/logback-spring.xml
  backend/baguni-batch/src/main/java/baguni/batch/config/RestClientConfig.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/rss/service/RssFeedService.java
  backend/baguni-batch/src/main/resources/logback-spring.xml
  backend/baguni-common/build.gradle
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqConfig.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/ErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/FatalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/NormalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/WarningErrorLevel.java
  backend/baguni-common/src/main/resources/application-common.yaml
  backend/baguni-domain/src/main/resources/application-domain.yaml
  backend/baguni-ranking/src/main/resources/logback-spring.xml
  backend/build.gradle
Labels: backend, fix :fire:

#1034 [FEAT] Controller 테스트 구현
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/sharedFolder/controller/SharedFolderApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/tag/controller/TagApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/tag/dto/TagApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-api/src/test/java/baguni/api/application/folder/controller/FolderApiControllerTest.java
  backend/baguni-api/src/test/java/baguni/api/application/folder/controller/FolderApiControllerUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/application/pick/controller/PickApiControllerTest.java
  backend/baguni-api/src/test/java/baguni/api/application/pick/controller/PickApiControllerUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/application/sharedFolder/controller/SharedFolderApiControllerTest.java
  backend/baguni-api/src/test/java/baguni/api/application/sharedFolder/controller/SharedFolderApiControllerUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/application/suggestion/controller/RankingApiControllerTest.java
  backend/baguni-api/src/test/java/baguni/api/application/tag/controller/TagApiControllerTest.java
  backend/baguni-api/src/test/java/baguni/api/application/tag/controller/TagApiControllerUnitTest.java
  backend/baguni-api/src/test/java/baguni/api/application/user/controller/UserApiControllerTest.java
  backend/baguni-api/src/test/java/baguni/api/service/pick/service/PickServiceTest.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/dto/PickCommand.java
Labels: feat, backend
