Repository Kernel360/F2-BAGUNI, pull requests merged in 2025-02, with the labels that each got.

#1037 [FEAT] 익스텐션 픽 저장 API, 휴지통 비우기 API
  backend/baguni-api/src/main/java/baguni/api/application/extension/controller/ExtensionApiControllerV1.java
  backend/baguni-api/src/main/java/baguni/api/application/extension/dto/ExtensionApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/extension/dto/ExtensionApiRequest.java
  backend/baguni-api/src/main/java/baguni/api/application/extension/dto/ExtensionApiResponse.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickTagRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/dto/PickCommand.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/dto/PickMapper.java
Labels: feat, backend

#1040 [REFACTOR] 스웨거 정렬
  backend/baguni-api/src/main/java/baguni/api/application/extension/controller/ExtensionApiControllerV1.java
  backend/baguni-api/src/main/java/baguni/api/application/folder/controller/FolderApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/link/controller/LinkApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/sharedFolder/controller/SharedFolderApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/tag/controller/TagApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/user/controller/UserApiController.java
  backend/baguni-api/src/main/resources/application.yaml
Labels: backend, refactor :construction:

#1041 [FEAT] 모바일 뷰 폴더 리스트, 픽 페이지네이션 API
  backend/baguni-api/src/main/java/baguni/api/application/mobile/controller/MobileApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/service/folder/service/FolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/folder/FolderDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/folder/FolderQuery.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/folder/FolderRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickQuery.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/dto/PickCommand.java
Labels: feat, backend

#1043 [FIX] RestClientConfig에 user-agent 추가
  backend/baguni-batch/src/main/java/baguni/batch/config/RestClientConfig.java
  backend/baguni-batch/src/test/java/baguni/batch/domain/rss/service/RssFeedServiceTest.java
  backend/baguni-batch/src/test/resources/application.yaml
Labels: bug :bug:, backend

#1044 [FIX] /folders/unclassified로 접속 시에 홈으로 리다이렉트
  frontend/techpick/src/app/(signed)/folders/[folderId]/layout.tsx
  frontend/techpick/src/app/(signed)/folders/page.tsx
  frontend/techpick/src/constants/route.ts
Labels: frontend, fix :fire:

#1045 [FEAT] 추천 페이지 추천 블로그 글 추가 및 디자인 개선
  frontend/schema/schema.d.ts
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/getSuggestionBlogArticleList.ts
  frontend/techpick/src/app/(signed)/recommend/layout.tsx
  frontend/techpick/src/app/(signed)/recommend/page.tsx
  frontend/techpick/src/components/DragOverlay/PickCarouselCardOverlay.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/RecommendPickDraggable.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/RecommendedPickCarousel.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/pickCarouselCard.css.ts
  frontend/techpick/src/libs/@react-query/getQueryClient.ts
  frontend/techpick/src/queries/suggestionKeys.ts
  frontend/techpick/src/queries/useFetchSuggestionArticleList.ts
  frontend/techpick/src/queries/useFetchSuggestionRankingPicksWithSuspense.ts
  frontend/techpick/src/types/GetSuggestionBlogArticleListResponseType.ts
  frontend/techpick/src/types/GetSuggestionRankingPicksResponseType.ts
  frontend/techpick/src/types/RecommendPickCategoryType.ts
  frontend/techpick/src/types/RecommendPickType.ts
  frontend/techpick/src/utils/isRecommendPickDraggableObject.ts
Labels: feat, design :art:, frontend

#1047 [FIX] 토큰 만료 관련 로그 제거
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniApiAuthExceptionEntrypoint.java
Labels: backend

#1053 [REFACTOR] 픽 페이지네이션 API 이동
  backend/baguni-api/src/main/java/baguni/api/application/mobile/controller/MobileApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
Labels: backend, refactor :construction:

#1054 [FEAT] 익스텐션에서 최근 추가한 폴더가 가장 먼저 보이게 변경
  frontend/techpick-extension/src/apis/createPick.ts
  frontend/techpick-extension/src/apis/createPickToUnclassifiedFolder.ts
  frontend/techpick-extension/src/apis/updatePickFromExtension.ts
  frontend/techpick-extension/src/chrome-extension/background.ts
  frontend/techpick-extension/src/chrome-extension/folderListeners.ts
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/chrome-extension/tabListeners.ts
  frontend/techpick-extension/src/chrome-extension/themeListeners.ts
  frontend/techpick-extension/src/components/CreatePickForm.css.ts
  frontend/techpick-extension/src/components/CreatePickForm.tsx
  frontend/techpick-extension/src/components/SkeltonPickForm.tsx
  frontend/techpick-extension/src/components/ThumbnailImage.tsx
  frontend/techpick-extension/src/constants/apiUrls.ts
  frontend/techpick-extension/src/constants/folderIdLocalhostKey.ts
  frontend/techpick-extension/src/constants/getFolderIdFromLocalhostPortName.ts
  frontend/techpick-extension/src/constants/requestFolderIdFromLocalhostMessage.ts
  frontend/techpick-extension/src/constants/setFolderIdToLocalhostPortName.ts
  frontend/techpick-extension/src/hooks/useGetFolderIdFromLocalhost.ts
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
  frontend/techpick-extension/src/types/CreatePickRequestType.ts
  frontend/techpick-extension/src/types/CreatePickResponseType.ts
  frontend/techpick-extension/src/types/CreatePickToUnclassifiedFolderRequestType.ts
  frontend/techpick-extension/src/types/CreatePickToUnclassifiedFolderResponseType.ts
  frontend/techpick-extension/src/types/TabInfoType.ts
  frontend/techpick-extension/src/types/UpdatePickFromExtensionRequestType.ts
  frontend/techpick-extension/src/types/UpdatePickFromExtensionResponseType.ts
  frontend/techpick-extension/src/utils/setFolderIdToLocalhost.ts
Labels: feat, frontend

#1056 [CHORE] main 브랜치로 병합
  backend/baguni-common/src/main/java/baguni/common/util/MapUtil.java
Labels: backend

#1059 [FIX] 익스텐션 잘못된 텍스트 수정
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/components/CreatePickForm.tsx
Labels: frontend, fix :fire:

#1062 [CHORE] 각 서비스 메서드에 Trace 추적
  backend/baguni-api/src/main/java/baguni/api/service/folder/service/FolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/link/service/LinkService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickSearchService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/service/ranking/service/RankingService.java
  backend/baguni-api/src/main/java/baguni/api/service/sharedFolder/service/SharedFolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/tag/service/TagService.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/UserService.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkAnalyzer.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkService.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/rss/service/RssFeedService.java
  backend/baguni-ranking/src/main/java/baguni/ranking/domain/pick/PickRankingService.java
Labels: chore, backend

#1063 [CHORE] 각 DataHandler 메서드에 Trace 추가
  backend/baguni-api/src/main/java/baguni/api/infrastructure/user/UserDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/folder/FolderDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/sharedFolder/SharedFolderDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/tag/TagDataHandler.java
Labels: chore, backend

#1067 [FEAT] 봇이 아닐 때만 방문 log 찍기
  frontend/techpick/src/components/ScreenLogger.tsx
Labels: feat, frontend

#1066 [FIX] Pick 조회 API에서 조회수 데이터 제거
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/dto/PickApiResponse.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/dto/PickMapper.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/dto/PickResult.java
Labels: backend

#1072 [FIX] 랭킹 API 미사용 데이터 삭제 및 DB 조회 반복문 제거
  backend/baguni-api/src/main/java/baguni/api/application/link/controller/LinkApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/pick/controller/PickApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/controller/BlogArticleApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/controller/RankingApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/dto/LinkInfoWithCount.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/dto/RankingApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/dto/RankingResponse.java
  backend/baguni-api/src/main/java/baguni/api/service/link/service/LinkService.java
  backend/baguni-api/src/main/java/baguni/api/service/sharedFolder/service/SharedFolderService.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickRepository.java
Labels: backend

#1073 [FEAT] 개발환경 Test용 계정 생성
  backend/baguni-api/src/main/java/baguni/api/application/development/DevelopmentController.java
  backend/baguni-api/src/main/java/baguni/api/application/user/controller/UserApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/user/controller/dto/UserApiMapper.java
  backend/baguni-api/src/main/java/baguni/api/config/SwaggerConfig.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/user/UserDataHandler.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/UserService.java
  backend/baguni-api/src/main/java/baguni/security/config/SecurityConfig.java
  backend/baguni-api/src/main/java/baguni/security/filter/TestUserAuthenticationFilter.java
  backend/baguni-api/src/main/java/baguni/security/util/AccessToken.java
  backend/baguni-api/src/main/java/baguni/security/util/AuthHeaderTokenExtractor.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/user/ApiUserException.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/user/UserRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/user/dto/UserInfo.java
  backend/baguni-domain/src/main/java/baguni/domain/model/user/Role.java
  backend/baguni-domain/src/main/java/baguni/domain/model/user/User.java
  backend/baguni-domain/src/main/java/baguni/domain/model/util/IDToken.java
  backend/baguni-domain/src/main/java/baguni/domain/model/util/IDTokenConverter.java
  backend/baguni-domain/src/main/resources/db/migration/V4.4__add_user_role.sql
Labels: backend

#1089 [FIX] 모바일 관련 버그 수정( pull to refresh 차단, 헤더와 픽 레코드 겹침, 비어있는 픽 리스트일 때 UI 깜빡임, 특수 문자 검색되지 않는 문제) 및 아이콘 변경
  frontend/techpick/public/image/baguni-icon-192x192.png
  frontend/techpick/public/image/baguni-icon-512x512.png
  frontend/techpick/src/app/(signed)/layout.css.ts
  frontend/techpick/src/app/(signed)/layout.tsx
  frontend/techpick/src/components/Search2/MobileSearchInfiniteScrollList.tsx
  frontend/techpick/src/components/Search2/SearchInfiniteScrollList.tsx
  frontend/techpick/src/components/mobileNavigationBar.css.ts
  frontend/techpick/src/components/mobilePickInfiniteScrollList.css.ts
Labels: frontend, fix :fire:

#1090 [FIX] 모바일 화면 default pull to refresh 차단
  frontend/techpick/src/app/(signed)/layout.css.ts
  frontend/techpick/src/app/(signed)/layout.tsx
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/providers/ThemeProvider.tsx
  frontend/techpick/src/providers/themeProvider.css.ts
Labels: frontend, fix :fire:

#1092 [FIX] 추천 페이지에서 pull to refresh가 2개가 생기는 문제 수정
  frontend/techpick/src/app/layout.css.ts
  frontend/techpick/src/app/layout.tsx
Labels: frontend, fix :fire:

#1093 [FIX] 추천 페이지에서 pull to refresh가 2개가 생기는 문제 수정
  frontend/techpick/src/app/layout.css.ts
  frontend/techpick/src/providers/themeProvider.css.ts
Labels: frontend, fix :fire:

#1094 [FIX] 모바일 화면에서 픽이 없을 때, 이미지 크기 축소
  frontend/techpick/src/components/MobileEmptyPickRecordImage.tsx
  frontend/techpick/src/components/mobileEmptyPickRecordImage.css.ts
Labels: feat, frontend, fix :fire:

#1095 [DESIGN] vh를 dvh로 변경
  frontend/techpick/src/app/(signed)/layout.css.ts
  frontend/techpick/src/app/(signed)/mypage/page.css.ts
  frontend/techpick/src/app/(signed)/recommend/page.css.ts
  frontend/techpick/src/app/(unsigned)/login/page.css.ts
  frontend/techpick/src/app/global-error.css.ts
  frontend/techpick/src/app/not-found.css.ts
  frontend/techpick/src/components/MyPage/myPageShareFolderContent.css.ts
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.css.ts
  frontend/techpick/src/components/SideNavigationBar/sideNavigationBar.css.ts
  frontend/techpick/src/components/folderContentLayout.css.ts
  frontend/techpick/src/components/mobileEmptyPickRecordImage.css.ts
  frontend/techpick/src/components/mobilePickInfiniteScrollList.css.ts
Labels: design :art:, frontend

#1096 [DOCS] 서비스 구성도 업데이트
  README.md
Labels: docs :memo:

#1097 [FEAT] 방문 접속자를 서버가 아닌 클라이언트에서 이벤트를 전송하게 변경
  frontend/techpick/src/app/(signed)/layout.tsx
  frontend/techpick/src/app/(signed)/mypage/MobileMyPage.tsx
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/app/(unsigned)/landing/SignUpLink.tsx
  frontend/techpick/src/app/(unsigned)/landing/page.tsx
  frontend/techpick/src/app/(unsigned)/login/GoogleLoginButton.tsx
  frontend/techpick/src/app/(unsigned)/login/layout.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/LandingPageLinkButton.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/SignUpLinkButton.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/components/MobilePickCard.tsx
  frontend/techpick/src/components/RecommendedPickCarousel/PickCarouselCard.tsx
  frontend/techpick/src/components/ScreenLogger.tsx
  frontend/techpick/src/hooks/useRecommendPickToFolderDndMonitor.tsx
  frontend/techpick/src/libs/@eventlog/ScreenLogger.tsx
  frontend/techpick/src/libs/@eventlog/UserIdentifyProvider.tsx
  frontend/techpick/src/libs/@eventlog/mixpanel-client.ts
  frontend/techpick/src/libs/@eventlog/mixpanel-server.ts
  frontend/techpick/src/libs/@eventlog/useEventLogger.ts
  frontend/techpick/src/libs/@eventlog/useUserSessionReset.ts
  frontend/techpick/src/utils/getUserIdForServer.ts
Labels: feat, frontend

#1098 [FIX] 익스텐션 북마크 추가할 때 아이콘 변경하기
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/components/CreatePickForm.tsx
  frontend/techpick-extension/src/pages/BookmarkPage.tsx
Labels: frontend, fix :fire:

#1101 [FIX] og image 출력방식 변경
  frontend/techpick/src/app/(unsigned)/share/[uuid]/opengraph-image.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
Labels: frontend, fix :fire:

#1102 [FIX] 공유 폴더 OG image 생성 안되는 버그 수정
  frontend/techpick/src/app/(unsigned)/share/[uuid]/opengraph-image.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/page.tsx
  frontend/techpick/src/app/api/generate-og-image/route.tsx
Labels: feat, frontend, fix :fire:

#1104 [FIX] og image 생성 로직 변경
  frontend/techpick/src/app/api/generate-og-image/route.tsx
Labels: frontend, fix :fire:

#1106 [FEAT] 공유 중 버튼을 누르면 공유 폴더 페이지로 이동
  frontend/techpick/src/components/FolderContentHeader/CurrentFolderNameSection.tsx
  frontend/techpick/src/components/FolderContentHeader/FolderContentHeader.tsx
  frontend/techpick/src/components/FolderContentHeader/currentFolderNameSection.css.ts
  frontend/techpick/src/components/FolderContentHeader/folderContentHeader.css.ts
  frontend/techpick/src/constants/route.ts
Labels: feat, frontend

#1110 [FIX] Normal 로그 레벨 수정
  backend/baguni-common/src/main/java/baguni/common/exception/level/NormalErrorLevel.java
Labels: bug :bug:, backend

#1114 [REFACTOR] 메시지 소비 로그 메시지 변경
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkUpdateEventListener.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/RankingEventListener.java
Labels: backend, refactor :construction:

#1113 [REFACTOR] API 에러 코드 리팩토링
  backend/baguni-api/src/main/java/baguni/api/application/tag/controller/TagApiController.java
  backend/baguni-api/src/main/java/baguni/api/infrastructure/user/UserDataHandler.java
  backend/baguni-api/src/main/java/baguni/api/service/folder/service/FolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickSearchService.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/service/sharedFolder/service/SharedFolderService.java
  backend/baguni-api/src/main/java/baguni/api/service/tag/service/TagService.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/UserService.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/strategy/ManualInitStrategy.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/strategy/RankingInitStrategy.java
  backend/baguni-api/src/main/java/baguni/security/exception/ApiAuthErrorCode.java
  backend/baguni-api/src/main/java/baguni/security/exception/ApiAuthException.java
  backend/baguni-api/src/main/java/baguni/security/exception/AuthErrorCode.java
  backend/baguni-api/src/main/java/baguni/security/exception/SecurityException.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniApiAuthExceptionEntrypoint.java
  backend/baguni-api/src/main/java/baguni/security/handler/BaguniOAuth2FlowFailureHandler.java
  backend/baguni-api/src/main/java/baguni/security/handler/OAuth2SuccessHandler.java
  backend/baguni-api/src/main/java/baguni/security/model/OAuth2UserInfo.java
  backend/baguni-api/src/main/java/baguni/security/service/CustomOAuth2Service.java
  backend/baguni-api/src/main/java/baguni/security/util/AccessToken.java
  backend/baguni-api/src/main/java/baguni/security/util/LoginUserArgumentResolver.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkAnalyzer.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqCustomErrorHandler.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/ApiErrorCode.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/ApiErrorResponse.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/ErrorCode.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/GlobalServiceExceptionHandler.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/ServiceException.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/ErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/FatalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/NormalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/WarningErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/util/ErrorLogEventBuilder.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/folder/ApiFolderErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/folder/ApiFolderException.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/folder/FolderErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/link/ApiLinkErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/link/ApiLinkException.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/link/LinkErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/pick/ApiPickErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/pick/ApiPickException.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/pick/PickErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/sharedFolder/ApiSharedFolderErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/sharedFolder/ApiSharedFolderException.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/sharedFolder/SharedFolderErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/tag/ApiTagErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/tag/ApiTagException.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/tag/TagErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/user/ApiUserErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/user/ApiUserException.java
  backend/baguni-domain/src/main/java/baguni/domain/exception/user/UserErrorCode.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/folder/FolderDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/pick/PickDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/sharedFolder/SharedFolderDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/tag/TagDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/model/link/Link.java
  backend/baguni-ranking/src/main/java/baguni/ranking/exception/ApiRankErrorCode.java
  backend/baguni-ranking/src/main/java/baguni/ranking/exception/ApiRankException.java
  backend/baguni-ranking/src/main/java/baguni/ranking/exception/RankErrorCode.java
Labels: backend, refactor :construction:

#1115 [REFACTOR] Atom Feed 형식 지원
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/controller/BlogArticleApiController.java
  backend/baguni-api/src/main/java/baguni/api/service/link/service/LinkService.java
  backend/baguni-api/src/test/java/baguni/api/service/link/service/LinkServiceTest.java
  backend/baguni-api/src/test/java/baguni/api/service/link/service/LinkServiceUnitTest.java
  backend/baguni-batch/build.gradle
  backend/baguni-batch/src/main/java/baguni/batch/config/RestClientConfig.java
  backend/baguni-batch/src/main/java/baguni/batch/config/XmlMapperConfig.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/feed/dto/Article.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/feed/dto/AtomFeed.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/feed/dto/RssFeed.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/feed/service/FeedService.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/feed/util/FeedApi.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/dto/LinkAnalyzeResult.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkAnalyzer.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkService.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/RssFeedApi.java
  backend/baguni-batch/src/main/java/baguni/batch/domain/rss/service/RssFeedService.java
  backend/baguni-batch/src/main/java/baguni/batch/infrastructure/feed/BlogDataHandler.java
  backend/baguni-batch/src/main/java/baguni/batch/infrastructure/rss/RssBlogDataHandler.java
  backend/baguni-batch/src/test/java/baguni/batch/domain/feed/RssRetrieveTest.java
  backend/baguni-batch/src/test/java/baguni/batch/domain/feed/service/FeedServiceTest.java
  backend/baguni-batch/src/test/java/baguni/batch/domain/rss/service/RssFeedServiceTest.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/BlogLinkInfo.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/dto/LinkMapper.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/rss/BlogRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/rss/RssBlogRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/model/link/Link.java
  backend/baguni-domain/src/main/java/baguni/domain/model/rss/Blog.java
  backend/baguni-domain/src/main/resources/db/migration/V4.5__change_rss_blog_tablename.sql
Labels: backend, refactor :construction:

#1117 [TEST] 에러 로그 테스트를 위한 레벨 임시 변경 (추후 복구 예정)
  backend/baguni-api/src/main/java/baguni/security/filter/TestUserAuthenticationFilter.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/NormalErrorLevel.java
Labels: chore, backend

#1120 [FEAT] 폴더 페이지 무한 스크롤 적용
  frontend/techpick/package.json
  frontend/techpick/src/app/(signed)/folders/[folderId]/layout.tsx
  frontend/techpick/src/app/(signed)/folders/[folderId]/page.tsx
  frontend/techpick/src/components/FolderContentHeader/CurrentPathIndicator.tsx
  frontend/techpick/src/components/PickDraggableInfiniteScrollList.tsx
  frontend/techpick/src/components/PickDraggableListLayout.tsx
  frontend/techpick/src/components/PickDraggableRecordList.tsx
  frontend/techpick/src/components/PickListSortableContextProvider.tsx
  frontend/techpick/src/components/PickRecord/PickDraggableRecord.tsx
  frontend/techpick/src/components/PickRecord/PickRecord.tsx
  frontend/techpick/src/components/PickRecord/pickDraggableRecord.css.ts
  frontend/techpick/src/components/Search2/CurrentPathIndicator.tsx
  frontend/techpick/src/components/Search2/SearchInfiniteScrollList.tsx
  frontend/techpick/src/components/Search2/SearchItemRenderer.tsx
  frontend/techpick/src/components/Search2/currentPathIndicator.css.ts
  frontend/techpick/src/components/Search2/searchItemRenderer.css.ts
  frontend/techpick/src/components/SideNavigationBar/EditableFolderNavigationItemList.tsx
  frontend/techpick/src/constants/pickListSize.ts
  frontend/techpick/src/hooks/useFolderDndRenderTrigger.ts
  frontend/techpick/src/hooks/usePickDndRenderTrigger.ts
  frontend/techpick/src/hooks/useSearchElementId.ts
  frontend/techpick/src/libs/@react-query/taskScheduler.ts
  frontend/techpick/src/providers/QueryProvider.tsx
  frontend/techpick/src/queries/useCreatePick.ts
  frontend/techpick/src/queries/useDeletePicks.ts
  frontend/techpick/src/queries/useFetchAllPickListByFolderId.ts
  frontend/techpick/src/queries/useFetchPickListByFolderId.ts
  frontend/techpick/src/queries/useMoveFolders.ts
  frontend/techpick/src/queries/useMovePicksToDifferentFolder.ts
  frontend/techpick/src/queries/useMovePicksToEqualFolder.ts
  frontend/techpick/src/queries/useUpdatePickInfo.ts
  frontend/techpick/src/ui/Breadcrumb.css.ts
  frontend/techpick/src/ui/Breadcrumb.tsx
  frontend/techpick/src/utils/convertToInfiniteDataFromPickList.ts
  frontend/yarn.lock
Labels: feat, frontend

#1121 [FIX] 에러 로그 메시지 레벨 복구
  backend/baguni-common/src/main/java/baguni/common/exception/level/ErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/FatalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/NormalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/WarningErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/util/CachedHttpServletRequest.java
  backend/baguni-common/src/main/java/baguni/common/util/RequestLoggingFilter.java
Labels: backend

#1123 [REFACTOR] ReqeustHolder 및 스프링 내 Slack Alert 코드 제거
  backend/baguni-api/src/main/java/baguni/security/config/SecurityConfig.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqConfig.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqCustomErrorHandler.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqErrorHandlerConfig.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/GlobalServiceExceptionHandler.java
  backend/baguni-common/src/main/java/baguni/common/exception/base/ServiceException.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/ErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/FatalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/NormalErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/exception/level/WarningErrorLevel.java
  backend/baguni-common/src/main/java/baguni/common/util/ErrorLogEventBuilder.java
  backend/baguni-common/src/main/java/baguni/common/util/MeasureTimeAspect.java
  backend/baguni-common/src/main/java/baguni/common/util/RequestHolder.java
  backend/baguni-common/src/main/java/baguni/common/util/RequestLoggingFilter.java
Labels: backend, refactor :construction:

#1124 [FEAT] 센트리 개발 환경에서는 에러 전송하지 않게 변경
  frontend/techpick/sentry.client.config.ts
  frontend/techpick/sentry.edge.config.ts
  frontend/techpick/sentry.server.config.ts
  frontend/techpick/src/apis/apiClient.ts
Labels: feat, frontend

#1127 [CHORE] main 브랜치로 병합
  backend/baguni-common/src/main/java/baguni/common/lib/opengraph/OpenGraphReaderSelenium.java
Labels: chore

#1129 [FEAT] 북마크 추가 기능 삭제
  frontend/techpick/package.json
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/components/ImportBookmarkDialog.tsx
  frontend/techpick/src/components/importBookmarkDialog.css.ts
  frontend/yarn.lock
Labels: feat, frontend

#1130 [FEAT] 픽 테이블 헤더 제거
  frontend/techpick/src/components/PickDraggableInfiniteScrollList.tsx
Labels: feat, frontend

#1133 [CHORE] main 브랜치로 병합
  backend/baguni-common/src/main/java/baguni/common/config/OpenGraphConfig.java
  backend/baguni-common/src/main/java/baguni/common/lib/opengraph/OpenGraphReaderSelenium.java
  frontend/techpick/package.json
  frontend/techpick/src/app/(signed)/mypage/page.tsx
  frontend/techpick/src/components/ImportBookmarkDialog.tsx
  frontend/techpick/src/components/PickDraggableInfiniteScrollList.tsx
  frontend/techpick/src/components/SideNavigationBar/CreateChildFolderInput.tsx
  frontend/techpick/src/components/SideNavigationBar/CreateRootChildFolderInput.tsx
  frontend/techpick/src/components/importBookmarkDialog.css.ts
  frontend/yarn.lock
Labels: chore

#1135 [FIX] 공유 폴더 모바일 화면 모두 보이는 문제 수정
  frontend/techpick/src/app/(unsigned)/share/[uuid]/MobileSharedPickRecord.tsx
Labels: frontend, fix :fire:

#1136 [REFACTOR] 링크 업데이트 관련 버그 수정
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkService.java
Labels: backend, refactor :construction:

#1141 [CHORE] main 브랜치로 병합
  backend/baguni-batch/src/main/java/baguni/batch/domain/link/service/LinkService.java
  backend/baguni-common/src/main/java/baguni/common/lib/opengraph/OpenGraphReaderSelenium.java
  frontend/techpick/src/app/(unsigned)/share/[uuid]/MobileSharedPickRecord.tsx
Labels: chore

#1142 [FEAT] 태그 순서 변경 로직 및 UI 추가, 익스텐션과 웹 서비스 상태 동기화
  frontend/techpick-extension/package.json
  frontend/techpick-extension/src/apis/moveTag.ts
  frontend/techpick-extension/src/chrome-extension/manifest.json
  frontend/techpick-extension/src/components/DeselectTagButton.css.ts
  frontend/techpick-extension/src/components/SelectedTagContent.css.ts
  frontend/techpick-extension/src/components/SelectedTagItem.tsx
  frontend/techpick-extension/src/components/SelectedTagLayout.css.ts
  frontend/techpick-extension/src/components/TagAutocompleteDialog.css.ts
  frontend/techpick-extension/src/components/TagAutocompleteDialog.tsx
  frontend/techpick-extension/src/components/TagDndContext.tsx
  frontend/techpick-extension/src/components/TagPicker.tsx
  frontend/techpick-extension/src/components/TagSortableDraggable.tsx
  frontend/techpick-extension/src/constants/apiUrls.ts
  frontend/techpick-extension/src/constants/nonExistentTagId.ts
  frontend/techpick-extension/src/libs/@fuzzyFilter/useFuzzyFilter.core.ts
  frontend/techpick-extension/src/libs/@fuzzyFilter/useFuzzyFilter.ts
  frontend/techpick-extension/src/stores/tagStore.ts
  frontend/techpick-extension/src/stores/tagStore.type.ts
  frontend/techpick-extension/src/types/DnDCurrentType.ts
  frontend/techpick-extension/src/types/MoveTagRequestType.ts
  frontend/techpick-extension/src/types/TagSortableObjectType.ts
  frontend/techpick-extension/src/utils/getTagSortableContextId.ts
  frontend/techpick-extension/src/utils/isTagSortableObject.ts
  frontend/techpick/package.json
  frontend/techpick/src/apis/apiConstants.ts
  frontend/techpick/src/apis/tag/moveTag.ts
  frontend/techpick/src/app/(unsigned)/share/[uuid]/MobileSharedPickRecord.tsx
  frontend/techpick/src/app/(unsigned)/share/[uuid]/SharePickRecord.tsx
  frontend/techpick/src/app/layout.tsx
  frontend/techpick/src/components/MobilePickRecord.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.lib.ts
  frontend/techpick/src/components/PickTagPicker/PickTagAutocompleteDialog.tsx
  frontend/techpick/src/components/PickTagPicker/PickTagPicker.constants.ts
  frontend/techpick/src/components/PickTagPicker/PickTagPicker.tsx
  frontend/techpick/src/components/PickTagPicker/TagDndContext.tsx
  frontend/techpick/src/components/PickTagPicker/TagInfoEditPopoverButton.css.ts
  frontend/techpick/src/components/PickTagPicker/TagSortableDraggable.tsx
  frontend/techpick/src/components/PickTagPicker/getTagSortableContextId.ts
  frontend/techpick/src/components/PickTagPicker/isTagSortableObject.ts
  frontend/techpick/src/components/PickTagPicker/pickTagAutocompleteDialog.css.ts
  frontend/techpick/src/components/PickTagPicker/useFuzzyFilter.core.ts
  frontend/techpick/src/components/PickTagPicker/useFuzzyFilter.ts
  frontend/techpick/src/components/SelectedTagItem/DeselectTagButton.css.ts
  frontend/techpick/src/components/SelectedTagItem/DeselectTagButton.tsx
  frontend/techpick/src/components/SelectedTagItem/SelectedTagContent.css.ts
  frontend/techpick/src/components/SelectedTagItem/SelectedTagItem.tsx
  frontend/techpick/src/components/SelectedTagItem/SelectedTagLayout.css.ts
  frontend/techpick/src/libs/@react-query/QueryProvider.tsx
  frontend/techpick/src/libs/@react-query/getQueryClient.ts
  frontend/techpick/src/queries/useMoveTag.ts
  frontend/techpick/src/queries/useUpdatePickInfo.ts
  frontend/techpick/src/types/MoveTagRequestType.ts
  frontend/techpick/src/types/TagSortableObjectType.ts
  frontend/yarn.lock
Labels: feat, frontend, fix :fire:

#1146 [REFACTOR] 패키지명 rss 를 blog로 변경
  backend/baguni-batch/src/main/java/baguni/batch/domain/feed/service/FeedService.java
  backend/baguni-batch/src/main/java/baguni/batch/listener/LinkUpdateEventListener.java
  backend/baguni-common/src/main/resources/application-common.yaml
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/blog/BlogDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/blog/BlogRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/model/blog/Blog.java
Labels: backend, refactor :construction:

#1149 [feat] 링크 순위 집계 기능 이전 (Batch)
  backend/baguni-batch/src/main/java/baguni/batch/domain/feed/service/FeedService.java
  backend/baguni-batch/src/main/java/baguni/batch/listener/LinkRankingEventListener.java
  backend/baguni-batch/src/main/java/baguni/batch/listener/LinkUpdateEventListener.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqConfig.java
  backend/baguni-common/src/main/resources/application-common.yaml
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/blog/BlogDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/blog/BlogRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkStatsRepository.java
  backend/baguni-domain/src/main/java/baguni/domain/model/blog/Blog.java
  backend/baguni-domain/src/main/java/baguni/domain/model/link/LinkStats.java
  backend/baguni-domain/src/main/resources/db/migration/V4.6__add_link_statistic_table.sql
Labels: backend

#1156 [FEAT] 랭킹 api 교체 작업
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/controller/RankingApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/dto/RankingResponse.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/service/ranking/dto/RankingResult.java
  backend/baguni-api/src/main/java/baguni/api/service/ranking/service/RankingService.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/strategy/RankingInitStrategy.java
  backend/baguni-common/src/main/java/baguni/common/lib/cache/CacheType.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkStatsRepository.java
Labels: backend

#1158 [REFACTOR] 랭킹 서버 모듈 일괄 제거
  .github/workflows/baguni.prod.ranking.deploy.yml
  .github/workflows/baguni.test.ranking.deploy.yml
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/controller/RankingApiController.java
  backend/baguni-api/src/main/java/baguni/api/config/HttpApiConfiguration.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/service/ranking/service/RankingApi.java
  backend/baguni-api/src/main/java/baguni/api/service/ranking/service/RankingService.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqConfig.java
  backend/baguni-common/src/main/java/baguni/common/dto/UrlWithCount.java
  backend/baguni-ranking/Dockerfile
  backend/baguni-ranking/build.gradle
  backend/baguni-ranking/src/main/java/baguni/BaguniRankingApplication.java
  backend/baguni-ranking/src/main/java/baguni/ranking/application/RankingController.java
  backend/baguni-ranking/src/main/java/baguni/ranking/domain/pick/PickRankingService.java
  backend/baguni-ranking/src/main/java/baguni/ranking/domain/pick/PickViewRankingResult.java
  backend/baguni-ranking/src/main/java/baguni/ranking/exception/RankErrorCode.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/RankingEventListener.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/LinkPickedCount.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/LinkPickedCountRepository.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/LinkViewCount.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/LinkViewCountRepository.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/UrlCount.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/sharedFolder/SharedFolderPickViewCount.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/sharedFolder/SharedFolderPickViewCountRepository.java
  backend/baguni-ranking/src/main/resources/application.yaml
  backend/baguni-ranking/src/main/resources/logback-spring.xml
  backend/docker-compose.yaml
  backend/settings.gradle
Labels: backend, refactor :construction:

#1159 [CHORE] main 브랜치로 병합
  .github/workflows/baguni.prod.ranking.deploy.yml
  .github/workflows/baguni.test.api.deploy.yml
  .github/workflows/baguni.test.ranking.deploy.yml
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/controller/RankingApiController.java
  backend/baguni-api/src/main/java/baguni/api/application/suggestion/dto/RankingResponse.java
  backend/baguni-api/src/main/java/baguni/api/config/HttpApiConfiguration.java
  backend/baguni-api/src/main/java/baguni/api/service/pick/service/PickService.java
  backend/baguni-api/src/main/java/baguni/api/service/ranking/dto/RankingResult.java
  backend/baguni-api/src/main/java/baguni/api/service/ranking/service/RankingApi.java
  backend/baguni-api/src/main/java/baguni/api/service/ranking/service/RankingService.java
  backend/baguni-api/src/main/java/baguni/api/service/user/service/strategy/RankingInitStrategy.java
  backend/baguni-common/src/main/java/baguni/common/config/RabbitmqConfig.java
  backend/baguni-common/src/main/java/baguni/common/dto/UrlWithCount.java
  backend/baguni-common/src/main/java/baguni/common/lib/cache/CacheType.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkDataHandler.java
  backend/baguni-domain/src/main/java/baguni/domain/infrastructure/link/LinkStatsRepository.java
  backend/baguni-ranking/Dockerfile
  backend/baguni-ranking/build.gradle
  backend/baguni-ranking/src/main/java/baguni/BaguniRankingApplication.java
  backend/baguni-ranking/src/main/java/baguni/ranking/application/RankingController.java
  backend/baguni-ranking/src/main/java/baguni/ranking/domain/pick/PickRankingService.java
  backend/baguni-ranking/src/main/java/baguni/ranking/domain/pick/PickViewRankingResult.java
  backend/baguni-ranking/src/main/java/baguni/ranking/exception/RankErrorCode.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/RankingEventListener.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/LinkPickedCount.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/LinkPickedCountRepository.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/LinkViewCount.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/LinkViewCountRepository.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/pick/UrlCount.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/sharedFolder/SharedFolderPickViewCount.java
  backend/baguni-ranking/src/main/java/baguni/ranking/infra/sharedFolder/SharedFolderPickViewCountRepository.java
  backend/baguni-ranking/src/main/resources/application.yaml
  backend/baguni-ranking/src/main/resources/logback-spring.xml
  backend/docker-compose.yaml
  backend/settings.gradle
Labels: chore
